{% load staticfiles %}
{% load permissions %}
{% if object.user == request.user %}
    <a href="#"><img src="{% static "img/eye.png" %}" width="18px"></a>
    <a href="{% url 'accounts:article_update' pk=object.pk %}"> <img src="{% static "img/pen.png" %}" width="15px"></a>
    <a href="{% url 'accounts:article_delete' object.pk %}"> <img src="{% static "img/dell.png" %}" width="15px"></a>
{% else %}
    {% if request.user|has_perm:'blogs.change_article' %}
        <a href="#"><img src="{% static "img/eye.png" %}" width="18px"></a>
        <a href="{% url 'accounts:article_update' pk=article.pk %}"> <img src="{% static "img/pen.png" %}" width="15px"></a>
    {% endif %}
    {% if request.user|has_perm:'blogs.delete_article' %}
        <a href="{% url 'accounts:article_delete' object.pk %}"> <img src="{% static "img/dell.png" %}" width="15px"></a>
    {% endif %}
{% endif %}