<div class="messages">
    <div class="col-sm-6 hidden-xs top-tab">
        <span class="top-name">{{ table_name }}</span>
    </div>
    <div class="col-sm-6 col-xs-12 top-tab">

        <input class="search-massage " type="text">
        <button class="button_head for_search btn-message"></button>

    </div>

    <div class="col-xs-6 padding-off"><p class="cell-name bord">Имя</p></div>
    <div class="col-xs-3 padding-off"><p class="cell-name bord">Друг?</p></div>
    <div class="col-xs-3 padding-off"><p class="cell-name bord">Игнор?</p></div>

    {% for contact in contacts %}
        <a href="#">
        <div class="col-xs-12 padding-off cell-name-col">
            <div class="col-xs-6 padding-off"><p class="cell-name"><a href="{% url 'accounts:profile' pk=contact.pk %}">{{ user.username }}</a></p></div>
            <div class="col-xs-3 padding-off"><p class="cell-name"></p></div>
            <div class="col-xs-3 padding-off"><p class="cell-name"></p></div>
            </div>
        </a>
    {% empty %}
        <div class="col-xs-12 text-center">
            <div class="no-message">Нет друзей</div>
        </div>
    {% endfor %}
</div>