{% extends 'account/profile_base.html' %}
{% load staticfiles %}
{% block tab_content %}
<div role="tabpanel" class="tab-pane active" id="one">
    <!--#FIXIT отдельный шаблон !-->
    <div class="row">
        <div class="col-xs-12">
            <div class="prof-caption prof-caption-re">Последние действия:</div>
        </div>

        <!--цикл вывода действий !-->
        <div class="col-xs-12">
            <img src="{% static "img/ball-select.png" %}" width="15px">
            <span class="my-action">дата время действие: <a href="#">ссылка</a></span>
        </div>
        <div class="col-xs-12">
            <img src="{% static "img/ball-select.png" %}" width="15px">
            <span class="my-action">дата время действие: <a href="#">ссылка</a></span>
        </div>
        <!-- endfor !-->

        <div class="col-xs-12">
            <div class="prof-caption">Возможно вы знаете этих людей:</div>
        </div>


        <!--цикл вывода возможных друзей !-->
        <div class="col-xs-12">
            <a href="#">
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <img class="may-friend-ava" src="{% static "img/lk_ava.png" %}">
                    <p>name surname</p>
                </div>
            </a>
            <a href="#">
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <img class="may-friend-ava" src="{% static "img/lk_ava.png" %}">
                    <p>name surname</p>
                </div>
            </a>
            <a href="#">
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <img class="may-friend-ava" src="{% static "img/lk_ava.png" %}">
                    <p>name surname</p>
                </div>
            </a>
            <a href="#">
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <img class="may-friend-ava" src="{% static "img/lk_ava.png" %}">
                    <p>name surname</p>
                </div>
            </a>
            <a href="#">
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <img class="may-friend-ava" src="{% static "img/lk_ava.png" %}">
                    <p>name surname</p>
                </div>
            </a>
        </div>
        <!-- endfor !-->

        <div class="col-xs-12">
            <div class="prof-caption">Последние действия друзей:</div>
        </div>

        <!--цикл вывода действий !-->
        <div class="col-xs-12 ">
            <img src="{% static "img/ball-select.png" %}" width="15px">
                                        <span class="my-action">
                                            дата время <a class="href-friend" href="#">друг</a> действие: <a
                                                href="#">ссылка</a>
                                        </span>
        </div>
        <div class="col-xs-12 ">
            <img src="{% static "img/ball-select.png" %}" width="15px">
                                        <span class="my-action">
                                            дата время <a class="href-friend" href="#">друг</a> действие: <a
                                                href="#">ссылка</a>
                                        </span>
        </div>
        <!-- endfor !-->

        <div class=" col-xs-12">
            <div class="prof-caption">Друзья:</div>
        </div>
        <div class="col-xs-12 search-friend-bot">
            <span>Найти друзей</span>
            <input class="search-massage" type="text">
            <button class="button_head for_search btn-message"></button>
        </div>

        <!--цикл вывода друзей !-->
        <div class=" col-xs-12">
            <div class="col-lg-1 col-md-2 col-xs-3 padding-off friend-block">
                <img class="friend-ava" src="{% static "img/lk_ava.png" %}">
            </div>
            <div class="col-lg-3 col-md-4 col-xs-9 friend-inf">
                <div class="info-block">
                    <a href="#"><p class="name-friend-lk">Петр Куркин</p></a>
                    <p>Был: дата(время)</p>
                    <p>Команда: команда1</p>
                    <a href="#">написать сообщение</a>
                </div>
            </div>

            <div class="col-lg-1 col-md-2 col-xs-3 padding-off friend-block">
                <img class="friend-ava" src="{% static "img/lk_ava.png" %}">
            </div>
            <div class="col-lg-3 col-md-4 col-xs-9 friend-inf">
                <div class="info-block">
                    <a href="#"><p class="name-friend-lk">Петр Куркин</p></a>
                    <p>Был: дата(время)</p>
                    <p>Команда: команда1</p>
                    <a href="#">написать сообщение</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{#<!--#FIXIT отдельный шаблон !-->#}

{#<div role="tabpanel" class="tab-pane" id="four">#}
{#    <div id="map" style="width: 700px; height: 500px;"></div>#}
{#</div>#}
{#<div role="tabpanel" class="tab-pane" id="five">#}
{##}
{#</div>#}
