{% extends "base_template.html" %}
{% load staticfiles %}

{% block content-header %}
    {% include 'slider.html'%}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <div class="news_block">
                    <div class="lk_avatar">
                        <img src="{{ user.avatar.image.url }}" alt="">
                    </div>
                    <div class="lk_info">
                        <span class="lk_login">{{ user.avatar.name }}</span>
                        <p class="lk_info_style"><span>пол:</span>{{ user.get_gender_display }}</p>
                        <p class="lk_info_style"><span>страна:</span>{{ user.country }}</p>
                        <p class="lk_info_style"><span>город:</span>{{ user.city }}</p>
                        <p class="lk_info_style lk_date"><span>дата регистрации:</span>{{ user.date_joined }}</p>
                        <p class="lk_info_style"><span>последний раз был:</span>{{ user.last_login }}</p>

                    </div>
                    <div class="lk_anouns">
                        <p class="lk_info_style">0<span class="lk_blue">+0</span><span class="lk_gray" title="подсказка">[?]</span></p>
                    </div>
                    <div class="lk_links">
                        <a href="#">профиль</a>
                        <a href="{% url 'accounts:profile_update' pk=user.pk %}">редактировать</a>
                        <a href="#">мои вещи</a>
                    </div>
                    <div class="lk_main_info">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab" data-toggle="tab">профиль</a></li>
                            <li role="presentation"><a href="#two" aria-controls="two" role="tab" data-toggle="tab">блог</a></li>
                            <li role="presentation"><a href="#three" aria-controls="three" role="tab" data-toggle="tab" class="lk_new_post">фото</a></li>
                            <li role="presentation"><a href="#four" aria-controls="four" role="tab" data-toggle="tab">я на карте</a></li>
                            <li role="presentation"><a href="#five" aria-controls="five" role="tab" data-toggle="tab" class="lk_new_post">почта</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="one">
                                <p class="lk_empty">Удар мимо ворот! Видимо, вас закрыли защитники, или вы делаете удар не в те ворота.1</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="two">
                                <p class="lk_empty">Удар мимо ворот! Видимо, вас закрыли защитники, или вы делаете удар не в те ворота.2</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="three">
                                <p class="lk_empty">Удар мимо ворот! Видимо, вас закрыли защитники, или вы делаете удар не в те ворота.3</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="four">
                                <p class="lk_empty">Удар мимо ворот! Видимо, вас закрыли защитники, или вы делаете удар не в те ворота.4</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="five">
                                <p class="lk_empty">Удар мимо ворот! Видимо, вас закрыли защитники, или вы делаете удар не в те ворота.5</p>
                            </div>
                        </div>
                        <div class="lk_arhiv">
                            <ul>
                                <li>Архив:</li>
                                <li><a href="#">2010 год</a></li>
                                <li><a href="#">2011 год</a></li>
                                <li><a href="#">2012 год</a></li>
                                <li><a href="#">2013 год</a></li>
                                <li><a href="#">2014 год</a></li>
                                <li><a href="#">2015 год</a></li>
                                <li><a href="#">2016 год</a></li>
                            </ul>
                        </div>
                        <div class="now_chat">
                            <p class="now_chat_title">Сейчас обсуждается:</p>
                            <p class="now_chat_text"><a href="#">Сегодня 14:08</a>   Максим Митрофанов: Наибольшие опасения сейчас вызывает транспортная логистика</p>
                            <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Будогосский: программа работы одобрена, с нашим судейством нужно что-то делать</p>
                            <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Сергей Ольшанский: Слуцкому нужно больше доверять Страндбергу, Траоре уже "поиграл"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}