{% extends 'account/profile_base.html' %}
{% load staticfiles %}
{% block tab_content %}
    <div class="row">
        <div class="col-xs-12">
            Мое настроение : {{ title }}
            <div id="map" style="width:100%; height: 350px;"></div>
        </div>
            <div class="col-xs-12">
                <div class="lk_arhiv">
                <ul>
                    <li>Архив:</li>
                    <li><a href="#">2010 год</a></li>
                    <li><a href="#">2011 год</a></li>
                    <li><a href="#">2012 год</a></li>
                    <li><a href="#">2013 год</a></li>
                    <li><a href="#">2014 год</a></li>
                    <li><a href="#">2015 год</a></li>
                    <li><a href="#">2016 год</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
{% block profile_scripts %}
    <script>

        var drag = {% if user == request.user %}true{% else %}false{% endif %};
        var latUser = {% if lat %}{{ lat }}{% else %}55.7494718{% endif %};
        var lngUser = {% if lng %}{{ lng }}{% else %}37.351639{% endif %};
        var urlUser = '{% url 'accounts:set_coords' pk=user.pk %}';
        var zoomUser = {% if zoom %}{{ zoom }}{% else %}7{% endif %};
    </script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCPON9SUVKCtFPQZs5vNtl4efue4xarF34&language=ru"></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}