.right-options img{
    margin-bottom: 3px;
}
.right-options>a{
    display: inline-block;
    margin-right: 5px;
}
.right-options>a>img{
    display:block;
    width: 15px;
}
.right-options span{
    line-height: 23px;
}
.date-lk{
     text-align: right;
    display: inline-block;
    width: 130px;
    background: #ddd;
    padding-right: 5px;
}
.comments-lk{
    text-align: center;
    display: inline-block;
    width: 50px;

}
.options-lk{
    padding-bottom: 3px;
    border-bottom: 1px solid #1b6d85;
}
.test{
    display: inline-block;
    line-height: 23px;
    background: #ccc;
    vertical-align: top;
}
.anons-lk {
    margin-top: 10px;
    margin-bottom: 10px;
}
.txt-lk{
    font-size: 12px;
}
