/* Elastislide Style */
.es-carousel-wrapper{
	background: #fff;
	padding:10px 60px;
	position:relative;
	position:relative;
	margin-bottom:20px;
}
.es-carousel{
	overflow:hidden;
	background:#fff;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#fff;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:42%;
	left:8px;
	background:transparent url(../img/lk/arrow_left.png) no-repeat center center;
	width:35px;
	height:43px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background:transparent url(../img/lk/arrow_right.png) no-repeat center center;
}
.es-nav span:hover{
	opacity:1.0;
}