.all-alboms{
    background: rgba(200,200,200,0.3);
    border-radius: 10px;
    border: 1px solid #999;
}
.albom{
    background: rgba(0,0,200,0.15);
    border: 1px solid rgba(90,90,140,1);
    margin-top: 10px;
    margin-bottom: 10px;
}
.albom-name{
    margin-top: 10px;
    margin-bottom: 10px;
}
.albom-ava{
    height: 100px;
    margin-bottom: 10px;
}
.clear-albom{
    background: #eee;
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 100px;
    vertical-align: middle;
}
.options-albom{
    margin-left: 10px;
}
.add-foto {
    margin-top: 10px;
}
.upload-photo{
    z-index: 1;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    padding-right: 118px;
}
.upload-photo p{
    color: gray;
}
.count-upload{
    display: block;
    position: absolute;
    font-family: sans-serif;
    color: rgba(12,12,12,.3);
    font-size: 170px;
    right: 0;
}
.all-albom-photo{
    margin-top: 10px;
}
.redact{
    width: 100%;
    border-bottom: 1px solid gray;
}
.btn-upload{
    margin-top: 20px;
}
.upload-photo{
    margin-top: 15px;
    margin-bottom: 15px;
}