/*base.html*/
.left-menu{
    padding-right: 0;
    border-right: 1px solid #cbd4dc;
}
.left-menu a{
    width: 100%;
    min-width: 100px;
    display: inline-block;
    line-height: 40px;
    font-size: 15px;
    vertical-align: middle;
    color: black;
    text-decoration: none;
    padding-left: 35px;
}
.left-menu a:hover{
    color: #29557b;
}
.mails{
    border-bottom: 1px solid #cbd4dc;
}
.contacts{
	background: url("../img/mail/phone.png") no-repeat left center;
}
.mails{
    background: url("../img/mail/mail.png") no-repeat left center;
}
.inbox {
    background: url("../img/mail/arrow_right.png") no-repeat left center;
}
.sent{
    background: url("../img/mail/arrow_left.png") no-repeat left center;
}
.spam{
	background: url("../img/mail/x.png") no-repeat left center;
}
.settings{
	background: url("../img/mail/settings.png") no-repeat left center;
}

.write>img:first-child{
    margin-right:30px;
}
/*list.html*/
.cell-name{
    display: inline-block;
    width: 100%;
    line-height: 40px;
    font-size: 15px;
    vertical-align: middle;
    color: black;
    text-decoration: none;
    padding-left: 5%;
}

.bord{
    border-bottom: 1px solid #cbd4dc;
    margin-bottom: 0;
}
.cell-name-col{
    border-bottom: 1px solid #cbd4dc;
}
.cell-name-col:hover{
    background: #eeeeee;
}
.top-name{
    margin-left: 10px;
    font-size: 20px;
    line-height: 75px;
}
.right-part, .messages .padding-off{
    padding: 0;
}
.no-message{
    font-size: 20px;
    margin-top: 20px;
    color: red;
}
.search-massage{
    vertical-align: middle;
    width: 75%;
    height: 30px;
    display: inline-block;
    background: #ddd;
    border: 1px solid #666;
}
.button_head.for_search.btn-message {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5%;
    width: 10%;
}
.input-new-message{
    width: 85%;
}
#new-msg{
    width: 100%;
    height: 250px;
}
.message_create div{
    padding-top: 2px;
    padding-bottom: 2px;
}
.selected{
    color: #00b9c5 !important;
}
.msg-srch{
    width: 50%;
    float: right;
}
.for_contacts{
    display: none;
}
.top-tab{
    padding: 0;
    border-bottom: 1px solid #cbd4dc;
    line-height: 80px;
}
form.message_create>.col-xs-12>p{
    margin-left: 90px;
    background-color: #d9534f;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
form.message_create>.col-xs-12>p:nth-child(2){
    margin-left:0;
}
.padding-off{
    padding: 0;
}
.write{
    margin-left: 35px;
}
.left-menu .write,.left-menu  .inbo{
    padding: 0;
    min-width: 0;
    display: inline-block;
    width: auto ;
}
.refresh-mesg{
    display: block;
    width: 100%;
    border-bottom: 1px solid #cbd4dc;
}
.for_mails,.for_contacts{
    border-top: 1px solid #cbd4dc;
}
.navigation .link_img{
    display: inline-block;
    width: 32%;
}
.navigation .link_img.reload_msg{
    margin-left: 15%;
}
.navigation .link_img.sent_msg{
    margin-left: 0%;
}