.prof-caption{
     margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #cbd4dc;
}
.prof-caption-re{
    margin-top:0;
}
.padding-off{
    padding: 0;
}
.my-action>a{
    line-height: 25px;
    color:black;
    text-decoration: underline;
}
.my-action>a:hover{
        color: #333;
}
.my-action>.href-friend{
    color: orange;
}
.may-friend-ava{
    width: 50%;
}
.friend-ava{
    width: 70px;
}
.info-block p,.info-block a{
    line-height: 18px;
    margin: 0;
    font-size: 15px;
}
.search-friend-bot{
    margin-bottom: 10px;
}
.search-massage{
    height: 32px;
}
.name-friend-lk{
    text-decoration: underline;
    color: orange;
}
.name-friend-lk:hover{
    color: #333;
}
.pagination{
    margin-top: 50px;
}
.friend-inf{
    padding-right: 0;
}
.txt-lk{
    margin-bottom: 35px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}