body{
	color: #000;
}
a{
	color: #29557b;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #d00000;
}
.SubSection{
	margin-bottom: 20px;
}
.nav-pills > li.active > a::after{
	content: '';
    position: absolute;
    left: 42%;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #d00000;
}
.ImageContent{
	width: 90%;
	margin: 0 5%;
}
.ImageContent1{
	width: 100%;
}
.ContentAudioPlayer{

}
.SubSection > li > a{
	padding: 10px 10px;
	font: "UbuntuMedium";
	text-transform: uppercase;
	color:#000;
}
.pageName{
	margin: 5px 20px 20px 5px;
	font: 24px "UbuntuBold";
}
.clear {
    clear: both;
}
.TopLine {
    border-top: 1px solid #cbd4dc;
    padding-top: 10px;
}
.signature {
    color: #888888;
    display: block;
    font-size: 7pt;
}
.BlueArrowDiv {
    padding-left: 25px;
    background: url(../img/stat/h1-arrow.png) no-repeat 0px 10px;
    padding-top: 10px;
    border-top: 1px solid #cbd4dc;
}
.StuffListItem {
    overflow: hidden;
    margin-bottom: 20px;
}
.StuffListItem2 {
    margin-bottom: 20px;
}
 .ItemImage {
    float: left;
    margin: 5px 10px;
    border: 4px solid #E7E7E7;
}
 .ItemTitle {
    display: block;
    font-size: 14px;
}
.ItemDesc {
    margin: 10px 0px;
}
.ItemPrice {
    float: left;
    width: 20%;
}
.ItemPrice .Price {
    color: #D02823;
}
.btn:hover{
	color: #fff;
}
.nav-pills>li>a {
    border-radius: 0px;
}
.borderBot{
    border-bottom: 2px solid #cbd4dc;
    margin-bottom: 15px;
}
.icon {
    margin: 0px 5px;
    vertical-align: middle;
}
.table>tbody>tr.info>th {
    background-color: #9cdeff;
}
.basket{
    margin-bottom: 20px;
}
.basket-product{
    font-weight: bold;
}
.basket-price>span{
    color: red;
    font-weight: bold;
}
.basket-product-line{
    margin-bottom: 15px;
    margin-top: 15px;
}
