@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoSlabLight"; */
@font-face {
    font-family: "RobotoSlabLight";
    src: url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.eot");
    src: url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.woff") format("woff"),
    url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoSlabBold"; */
@font-face {
    font-family: "RobotoSlabBold";
    src: url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.eot");
    src: url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
    url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "UbuntuRegular";
    src: url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.eot");
    src: url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "UbuntuBold"; */
@font-face {
    font-family: "UbuntuBold";
    src: url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.eot");
    src: url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "UbuntuLight"; */
@font-face {
    font-family: "UbuntuLight";
    src: url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.eot");
    src: url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "UbuntuMedium"; */
@font-face {
    font-family: "UbuntuMedium";
    src: url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.eot");
    src: url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.activity_score:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear_fix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    outline: none;
}

ul {
    margin: 0;
}

body {
    background-color: #1b2033;
}
.green {
    color: green !important;
}
.red{
    color: red !important;
}
.blue{
    color: blue !important;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.quotes{
     display: block;
    color: gray;
}
.quotes::before {
    content: "❝ ";
    font-size: 20px;

}
.quotes::after {
    content: " ❞";
    font-size: 20px;

}
.h{
    font-size: 20px;
    display: block;

}

.header {
    background-color: #7592ad;
    font-family: "UbuntuRegular";
    position: relative;
}

.header div {
    float: left;
    margin: 2px 0 0;
}

.header div input {
    height: 30px;
    padding-left: 10px;
    font-family: "UbuntuLight";
    font-size: 12px;
}

.header .search {
    margin-left: 14px;
    margin-right: 120px;
}

.header .search input {
    width: 260px;
}

.header .login input {
    width: 125px;
}

.header button {
    border: none;
}

.header button:active {
    background-color: #163557;
}

.header .login span {
    font-weight: bold;
}

.button_head {
    height: 30px;
    width: 32px;
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;
}

.button_head.for_search {
    background: url("../img/header/search.png") center center no-repeat;
    background-color: #285379;
}

.button_head.for_enter {
    background: url("../img/header/enter.png") center center no-repeat;
    background-color: #285379;
}

.account a {
    text-decoration: none;
    color: #23547e;
    font: 13px "UbuntuRegular";
    letter-spacing: -1px;
    padding: 0px 10px;
    line-height: 32px;
}

.vhod {
    display: none;
}

.social {
    vertical-align: top;
    margin-right: 25px;
}

.social a:nth-child(1) {
    background: url("../img/header/vk.png") center center no-repeat;
    background-color: #3476a5;
}

.social a:nth-child(2) {
    background: url("../img/header/twitter.png") center center no-repeat;
    background-color: #00b9c5;
}

.social a:nth-child(3) {
    background: url("../img/header/fb.png") center center no-repeat;
    background-color: #2a5e8a;
}

.banner {
    width: 100%;
    height: 170px;
    background: url("../img/header/bg.jpg") top -160px left -10px no-repeat;
}

.top_menu {
    background-color: #F6F6F6;
}

.logo {
    display: inline-block;
}

.menu {
    float: right;
    display: inline-block;
    margin-top: 60px;
    padding-right: 16px;
    position: relative;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.logo img {
    display: inline-block;
    padding: 25px 0 15px 25px;
    height: auto;
}

.menu ul li {
    display: inline-block;
    vertical-align: bottom;
}

.under_header ul li a {
    display: inline-block;
    text-transform: uppercase;
    font: 15px "UbuntuMedium";
    text-decoration: none;
}

.menu ul li a {
    padding: 0 12px;
    color: #29557b !important;
}

.bot_menu {
    height: 40px;
    line-height:40px;
    width: 100%;
    background-color: red;
    overflow: hidden;
}

.bot_menu ul li {
    display: inline-block;
    width:12.5%;
    float:left;
}
.bot_menu ul::after {
    content: '';
    display:block;
    clear: both;
}

.red_bg {
    background-color: red;
}

.navbar {
    min-height: auto;
}

.navbar .container-fluid {
    padding: 0;
}

.navbar-default {
    border: 0;
}

/*Plug fix*/
.navbar {
    margin-bottom: 0px;
}

.navbar-collapse {
    padding: 0;
}

.bx-wrapper .bx-viewport {
    left: 0px;
}

.bx-wrapper .bx-controls-direction a {
    top: auto;
    bottom: -25px;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: -25px;
    width: 97%;
}

.bx-wrapper .bx-prev {
    left: 40%;
}

.bx-wrapper .bx-next {
    right: 43%;
}

.bx-wrapper img {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.bx-wrapper {
    padding: 20px 0px 0;
    max-width: 1130px !important;
}

.bx-viewport {
    height: auto !important;
    min-height: 175px;
}

/*End plug fix*/
.bot_menu ul li a {
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    color: #fff !important;
    line-height: 33px;
    text-align:center;
}


.slider {
    height: 220px;
    background-color: #fff;
    padding-bottom: 25px;
    position: relative;
    z-index: 0;
}

.user_post, .date_post {
    display: inline-block;
    vertical-align: top;
    font: 12px "UbuntuRegular";
    font-weight: bold;
}

.date_post {
    color: #bbbcc2;
}

.user_post {
    margin: 3px 0 0 10px;
    color: #4e8dc3;
}

.comment_post {
    max-width: 240px;
    margin-top: 12px;
    color: #29557b;
    font: 13px "RobotoSlabLight";
}

.bg_white {
    background-color: #fff;
    padding: 25px 10px;
}

/*Tabs left and right*/
.right_column_tab .tab-pane p, .left_column .tab-pane p {
    background-color: #d4dce3;
    color: #000;
    font: 20px "UbuntuBold";
    margin: 0;
    text-transform: uppercase;
    padding: 21px 18px;
}

.right_column_tab .tab-pane img, .left_column .tab-pane img {
    width: 100%;
}

.nav-tabs.nav-stacked > li.active > a, .nav-tabs.nav-stacked > li.active > a:hover, .nav-tabs.nav-stacked > li.active > a:focus, .nav-tabs.nav-stacked > li > a:hover {
    color: #000;
    background-color: #d4dce3;
    border-radius: 0;
    margin: 0;
    font: 16px/18px "RobotoSlabLight";
    border-bottom: 3px solid #fff;
}

.nav-tabs.nav-stacked > li > a {
    background-color: #29557b;
    color: #fff;
    font: 16px "UbuntuBold";
    border-radius: 0;
    margin: 0;
    border-bottom: 3px solid #fff;
}

.nav-stacked > li + li {
    margin-top: 0px;
}

/*End of tabs left and right*/

/*Central column*/
.central_column {
    border-top: 1px solid #cbd4dc;
}

.central_column > .nav-tabs > li > a:hover {
    border-color: transparent;
}

.central_column .caption {
    text-transform: uppercase;
    padding: 35px 0;
    font: 28px "UbuntuBold";
    color: #000;
    margin: 0;
    position: relative;
    display: inline-block;
}

.left_column .central_column .caption, .right_column .central_column .caption {
    padding: 10px 0 10px;
    display: block;
}

.central_column .caption_uniq .goto {
    right: 75px;
}

.caption .goto {
    position: absolute;
    right: -60px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url("../img/central_column/arrow.png") no-repeat center center;
}

.goto.red {
    position: absolute;
    left: 16px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: url("../img/left_column/arrow.png") no-repeat center center;
}

.central_column > .nav-tabs > li > a {
    text-align: center;
    padding: 15px 25px;
    font: 16px "UbuntuMedium";
    text-transform: uppercase;
    color: #000;
}

.central_column > .nav-tabs > li.active > a, .central_column > .nav-tabs > li.active > a:hover, .central_column > .nav-tabs > li.active > a:focus {
    background-color: #d00000;
    color: #fff;
    border-radius: 0;
}

.central_column > .nav-tabs > li.active > a::after {
    content: '';
    display: block;
    position: absolute; /* Абсолютное позиционирование */
    left: 50%;
    bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #d00000; /* Добавляем треугольник */
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.central_column .nav-tabs {
    border-bottom: 0;
    padding-bottom: 10px;
}

.activity_logo {
    display: block;
    height: 15px;
    background: url("../img/central_column/score.png") no-repeat right center;
    margin-bottom: 20px;
}

.activity_score {
    font: 14px "UbuntuLight";
    color: #8b8b8b;
    padding-bottom: 10px;
}

.right_score {
    float: right;
}

.comment {
    margin-bottom: 30px;
}

.comment p {
    padding: 5px 0;
    margin: 0;
    font: 16px/20px "RobotoSlabRegular";
    letter-spacing: -1px;
}

.comment a {
    color: #29557b;
}

.red_rating {
    display: inline-block;
    height: 13px;
    width: 15px;
    margin-right: 18px;
    background: url("../img/central_column/red_rating.png") no-repeat center center;
}

.red_comment {
    display: inline-block;
    height: 13px;
    width: 15px;
    margin-right: 18px;
    background: url("../img/central_column/red_comment.png") no-repeat center center;
}

.activity_comment {
    margin-left: 5px;
}

.activity_comment a {
    color: #4e8dc3;
}

.commentator {
    display: block;
    margin-bottom: 7px;
    color: #4e8dc3 !important;
}

.right_column .comment a p, .left_column .comment a p {
    font: 16px "RobotoSlabBold";
}

.left_column .activity_score {
    padding-bottom: 5px;
}

.left_column .activity_logo, .right_column .activity_logo {
    height: 25px;
}

.left_column .comment {
    position: relative;
}

.left_column .red_comment, .right_column .red_comment {
    position: absolute;
    top: -18px;
}

.right_column .comment {
    position: relative;
}

.right_column > .central_column > .nav-tabs > li.active > .comment_img, .central_column > .nav-tabs > li.active > .comment_img:hover, .central_column > .nav-tabs > li.active > .comment_img:focus {
    background: url("../img/right_column/comment.png") no-repeat top 8px center;
    background-color: #d00000;
}

.comment_img {
    background: url("../img/right_column/comment_hover.png") no-repeat top 8px center;
}

.right_column > .central_column > .nav-tabs > li.active > .look_img, .central_column > .nav-tabs > li.active > .look_img:hover, .central_column > .nav-tabs > li.active > .look_img:focus {
    background: url("../img/right_column/look_hover.png") no-repeat top 12px center;
    background-color: #d00000;
}

.look_img {
    background: url("../img/right_column/look.png") no-repeat top 12px center;
}

.right_column .activity_logo.activity_logo_unique {
    float: right;
    width: 50px;
    margin-top: 8px;
}

.right_column .central_column .nav-tabs li a {
    width: 70px;
    height: 38px;
    padding: 0;
}

.left_column .central_column, .right_column .central_column {
    border-top: 0;
}

.video_img {
    text-indent: 35px;
    background: url("../img/left_column/video.png") no-repeat left 2px top 7px;
}

.livescore {
    font: 14px/18px "UbuntuRegular";
    margin-left: 2px;
}

.right_column > .central_column > .nav-tabs > li.active > a::after {
    left: 37%;
}

.left_column .nav-tabs, .right_column .nav-tabs {
    margin-bottom: 25px;
}

.right_column .user_rating div {
    float: left;
}

.user_rating {
    margin-bottom:20px;
    height: 75px;
    font: 12px "UbuntuMedium";
}
.user_rating:last-child {
    margin-bottom:0;
}
.float_left {
    float: left;
}

.nick {
    margin-bottom: 0px;
    margin-left: 2px;
    color: #d02823;
}

.nick:hover {
    text-decoration: none;
    color: #d02823;
}

.medals {
    clear: left;
}

.user_info img {
    margin: 1px 5px;
}

.user_stat {
    width: 75px;
    float: right !important;
}

.score_stat {
    margin-top: 2px;
    margin-bottom: 30px;
}

.user_photo {
    margin-top: 5px;
    margin-right: 5px;
}

.user_photo img {
    width: 50px;
}

.gogreen {
    color: #008000;
}

.form_podpiska {
    background-color: #d00000;
    padding: 28px 10px;
}

.form_podpiska input {
    width: 190px;
    height: 30px;
    background-color: #f5c9c9;
    border: 0;
    padding-left: 15px;
    display: inline-block;
}

.form_caption {
    font: 20px "UbuntuBold";
    color: #fff;
    text-transform: uppercase;
}

.form_label {
    font: 14px "UbuntuRegular";
    color: #fff;
    font-style: italic;
}

.enter_podpiska {
    position:relative;
    background-color: #285479;
    color: #fff;
}
.enter_podpiska i {
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form_golos {
    background-color: #d4dce3;
    padding: 23px 10px;
    margin: 10px 0;
}

/*Radio button*/
.form_golos label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 32px;
    margin: 1px 0px;
    font: 14px/28px "RobotoSlabLight";
}

.form_golos input[type=radio] {
    display: none;
}

.form_golos label:before {
    content: "";
    display: block;

    width: 22px;
    height: 22px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 3px;
    background-color: #fff;
}

.form_golos input[type=radio]:checked + label:before {
    content: "\2713";
    color: #000;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

/*End radio button*/
.form_golos .form_caption {
    color: #000;
    text-align: center;
    padding: 0 0 23px;
    margin: 0;
}

.enter_golos_block {
    display: block;
    text-align: center;

}

.enter_golos {
    font: 15px "UbuntuMedium";
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 20px 45px;
    margin: 0 auto;
    background-color: #285479;
    margin: 30px 0 38px;
}

.enter_golos:hover {
    color: #fff;
}

.vsego {
    font: 12px/18px "UbuntuRegular";
    font-weight: 600;
    letter-spacing: -1px;
}

.vsego a {
    color: #4e8dc3;
}

.bold_text {
    font-weight: bold;
}

.red_text {
    color: red;
}

.table {
    padding-top: 35px;
}
.table table {
    width:100%;
    text-align:center;
    background: #fff;
}
.table thead {
    background: red;
}

.table th {
    text-align: center;
    font-weight: bold;
    color:#fff;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #f6f6f6;
}
.table th:first-child, .table td:first-child {
    border-left: none;
}
.table th:last-child, .table td:last-child {
    border-right: none;
}
.table tr td:nth-child(2) {
    position: relative;
    text-align: left;
}

.table img {
    /*position: absolute;*/
    left: 0;
    top: 10px;
}

.gallery {
    max-width:1000px;
    margin:0 auto;
}

.gallery .caption {
    display: inline-block;
    text-transform: uppercase;
    padding: 35px 60px 35px 0;
    font: 28px "UbuntuBold";
    color: #000;
    margin: 0;
    position: relative;
}

.gallery .caption .goto {
    right: 0;
}

.images_content {
    text-align: center;
}
.images_content::after {
    content: '';
    display:block;
    clear: both;
}
.images_content_item {
    display: block;
    float: left;
    width: 33.333%;
    padding: 5px;
}
.images_content_item div {
    height:400px;
}

.for_seo {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0 40px;
    text-align: center;
}

.for_seo p {
    margin: 0;
}

.for_seo a {
    color: #29557b;
    text-decoration: none;
    display: inline-block;
    font-family: "UbuntuBold";
    margin: 0 2px;
    line-height: 30px;
}

.font_first {
    font-size: 16px;
}

.font_second {
    font-size: 20px;
}

.font_third {
    font-size: 30px;
}

.font_fourth {
    font-size: 14px;
}

.font_fifth {
    font-size: 12px;
}

.white {
    background-color: #fff;
}

.footer {
    padding-top: 95px;
    background-color: #303030;
}

.footer_menu ul li {
    display: inline-block;
    width: 12.5%;
    margin-right:-0.25em;
    text-align:center;
}

.footer_menu ul li a {
    font: 15px "UbuntuMedium";
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.footer_menu ul li a:hover, .footer_menu ul li a:active, .footer_menu ul li a:focus {
    color: #e4b932;
}

.footer .our_social {
    margin: 35px 0;
    padding:0 20px;
    text-align: right;
}
.our_social a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 18px;
}

.additional_menu {
    text-align: center;
    border-top: 2px solid #454545;
    border-bottom: 2px solid #454545;
}

.additional_menu ul li {
    display: inline-block;
    margin: 25px;
}

.additional_menu ul li a {
    font: 15px "UbuntuMedium";
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.additional_menu ul li a:hover, .additional_menu ul li a:active, .additional_menu ul li a:focus {
    color: #e4b932;
}

.footer_menu:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.additional_menu:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.rights .logo {
    float: left;
}

.rights_text {
    max-width: 822px;
    width: 100%;
    display: inline-block;
    color: #fff;
}

.prava {
    margin: 30px 0 25px;
    font: 15px "UbuntuMedium";
    text-transform: uppercase;
    letter-spacing: 3px;
}

.zapret {
    color: #c7c7c7;
    line-height: 24px;
}

/*.open > .dropdown-menu {*/
    /*display: inline-flex;*/
/*}*/

.header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.top_menu:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.left_column .comment img {
    display:block;
    width: 100%;
}

.navbar-header {
    background-color: red;
}

.registration_block .text_align_center {
    text-align: center;
}

.registration_block .text_align_center a {
    font: 16px "RobotoSlabLight";
    text-decoration: none;
    color: #29557b;
}

.registration_block .central_column {
    border: 0;
}

.registration_block .text_align_center .caption {
    display: block;
    padding: 20px 0 10px;
    font-size: 20px;
}

.reg_form {
    margin: 35px auto;
    max-width: 700px;
    width: 100%;
}

.reg_input .reg_input_name {
    display: inline-block;
    margin-bottom:5px;
    vertical-align: middle;
    font-size: 16px;
}
.reg_input .reg_capcha .reg_input_name {
    width: 90px;
}

.reg_input input {
    width: 100%;
    height: 42px;
    border: 1px solid #7b7b7b;
    padding-left: 15px;
    font: 16px "RobotoSlabRegular";
}

.reg_input {
    margin-bottom: 20px;
    min-height: 63px;
}

.reg_input p {
    text-align: center;
    font: 10px "RobotoSlabLight";
    margin-top: 8px;
    padding-left: 80px;
}

.bold {
    font-weight: bold !important;
}

.star {
    color: #7389a0;
}

.profile_logo {
    display: inline-block;
    max-width: 606px;
}

.profile_logo_block .reg_input_name {
    vertical-align: top;
}

.profile_logo label:nth-child(2), .profile_logo label:nth-child(18), .profile_logo label:nth-child(34), .profile_logo label:nth-child(50) {
    padding-left: 0;
}

.profile_logo label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    padding-bottom: 11px;
    margin-bottom: 10px;
    font-size: 13px;
}

.profile_logo input[type=radio] {
    display: none;
}

.profile_logo label:before {
    content: "";
    display: inline-block;

    width: 12px;
    height: 12px;

    margin-right: 10px;
    position: absolute;
    right: 10px;
    bottom: 0;
    background-color: #dedede;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.profile_logo .radio label:before {
    border-radius: 8px;
}

.profile_logo input[type=radio]:checked + label:before {
    content: "\2022";
    color: #777;
    font-size: 28px;
    text-align: center;
    line-height: 12px;
}

.self_info {
    display: inline-block;
    position: relative;
    border: 1px solid #7b7b7b;
}

.self_info select {
    border-radius: 0;
    background: transparent;
    height: 43px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 596px;
    text-align: center;
}

.self_info:after {
    content: "";
    position: absolute;
    width: 43px;
    height: 43px;
    top: 0;
    right: 0;
    background: url("../img/profile_logo/arrow.png") no-repeat center center;
}

.date_of_birth {
    display: inline-block;
}

.date_of_birth .self_info select {
    width: 151px;
}

.date_of_birth .self_info {
    margin-right: 40px;
}

.date_of_birth .self_info:last-child {
    margin-right: 0px;
}

.date_of_birth .self_info:nth-child(2) select {
    width: 202px;
}

.self_comment input {
    height: 136px !important;
    vertical-align: top;
}

.self_comment .reg_input_name {
    vertical-align: top;
}

.self_comment .reg_input {
    min-height: 158px;
}

.reg_capcha .reg_input_desc {
    padding-left: 230px !important;
    margin-top: 0px;
    position: relative;
    top: -10px;
}

.reg_capcha img {
    margin: 0 40px;
    border: 1px solid #7b7b7b;
}

.reg_capcha input {
    width: 290px;
}

.reg_rules label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    margin-left: 25px;
    font-size: 13px;
}

.reg_rules label:before {
    content: "";
    display: inline-block;

    width: 42px;
    height: 42px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: -14px;
    background-color: #fff;
}

.reg_rules {
    text-align: center;
}

.reg_rules a {
    color: #7e91a6;
}

.reg_rules .checkbox {
    display: inline-block;
}

.reg_rules input[type=checkbox] {
    display: none;
}

.reg_rules .checkbox label:before {
    border: 1px solid #7e91a6;
}

.reg_rules input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 55px;
    color: #7e91a6;
    text-align: center;
    line-height: 40px;
    font-family: "RobotoSlabBold";
}

.reg_rules p {
    display: inline-block;
}

.registration_button {
    text-align: center;
    margin-top: 25px;
}

.registration_button a {
    display: inline-block;
    max-width: 410px;
    width: 100%;
    background-color: #d00000;
    text-align: center;
    padding: 10px 0;
    font: 16px "RobotoSlabLight";
    color: #fff !important;
    text-decoration: none !important;
    text-transform: uppercase;
    margin: 0 auto;
}

.registration_block .user_rating {
    margin: 15px 0;
}

.registration_block .form_podpiska {
    background-color: #d00000;
    padding: 30px 10px 90px;
    max-width: 280px;
    width: 100%;
}

.registration_block .form_label {
    margin-bottom: 45px;
}

.registration_block .form_golos .form_caption {
    font-size: 15px;
    padding: 0 0 20px;
}

.registration_block .enter_golos {
    padding: 10px 45px;
    margin: 15px 0 15px;
}

.registration_block .form_golos {
    padding: 10px 10px;
    margin-top: 0;
}

.registration_block .vsego {
    margin: 0;
}

/*.tribuna .central_column {*/
/*border-top: 0;*/
/*}*/

.tribuna .central_column .caption {
    padding-left: 60px;
    background: url("../img/tribuna/ball.png") no-repeat left center;
}

.tribuna .central_column .tab-content {
    padding-left: 60px;
    margin-top: 40px;
}

.activity_title {
    font: 14px "RobotoSlabBold";
    color: #29557b;
}

.camera {
    position: relative;
}

.camera:before {
    content: "";
    position: absolute;
    background: url("../img/left_column/video.png") no-repeat center center;
    width: 15px;
    height: 15px;
    left: -17px;
}

.tribuna .central_column .activity_score {
    padding-top: 10px;
    border-top: 2px solid #cbd4dc;
    margin-bottom: 10px;
}

.tribuna .central_column .saw_score {
    margin-left: 20px;
    padding-left: 25px;
    background: url("../img/central_column/score.png") no-repeat left -27px center;
}

.profile_tribuna img {
    display: inline-block;
    padding: 2px;
    border: 1px solid #d2d8db;
}

.profile_tribuna {
    display: inline-block;
    text-align: center;
    margin-top: 5px;
}

.nickname_tribuna {
    display: block;
    margin-top: 2px;
    text-decoration: underline;
    color: #ff8409;
}

.comment_right {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

.comment_right p {
    font: 14px/24px "UbuntuLight";
    max-width: 648px;
}

.page_list ul li {
    display: inline-block;
    vertical-align: top;
}

.page_list ul li a {
    border: 1px solid #c0c0c0;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 22px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #000;
}

.page_list ul li a:hover, .page_list ul li a:active, .page_list ul li a:focus {
    background-color: #c0c0c0;
    color: #fff;
    text-decoration: none;
}

.now_chat {
    margin: 20px 0;
}

.now_chat_title {
    font: 14px "UbuntuBold";
}

.now_chat_text {
    font: 14px "UbuntuLight";
}

.now_chat_text a {
    margin-right: 10px;
    color: #29557b;
    text-decoration: none;
}

.reg_end .central_column {
    border-top: 0;
    text-align: center;
}

.reg_end .caption {
    font-size: 20px;
    display: block;
    padding-bottom: 60px;
}

.reg_end .success_text {
    font: 30px/56px "UbuntuBold";
    color: #d00000;
    margin-bottom: 20px;
}

.reg_end .success_desc {
    font: 16px "RobotoSlabLight";
    color: #29557b;
    display: inline-block;
    margin-bottom: 20px;
}

.news_block {
    margin-left: 60px;
}

.tribuna .central_column .caption.news_caption {
    margin-left: 35px;
    margin-bottom: 20px;
}

.news_block .comment_right p {
    max-width: 614px;
    line-height: 18px;
    letter-spacing: 0;
}

.interview_drop {
    display: block;
    background-color: red;
    height: 30px;
}

/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
#dropd li a:hover, #dropd li a:active, #dropd li a:focus {
    background-color: #9d0404;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#dropd ul {
    list-style: none;
    background-color: #9d0404;
    position: absolute;
    padding:8px 0;
    width: 100%;
    left: -9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity: 0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition: 0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
    z-index: 10;
}

#dropd ul li {
    display: block;
    width: 16.666%;
}

#dropd ul a {
    display: inline-block;
    text-transform: none;
    width: 100%;
    vertical-align: top;
    line-height:normal;
    padding:0;
    background: transparent;
}
#dropd li:hover {
    background: #9d0404;
}

#dropd li:hover ul, #dropd li:focus ul, #dropd li:active ul { /* Выводим выпадающий пункт при наведении курсора */
    left: 0; /* Приносим его обратно на экран, когда нужно */
    top: 100%;
    opacity: 1; /* Делаем непрозрачным */
}

#dropd li:hover ul a { /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.075s linear;
}

#dropd li:hover ul li a:hover { /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background: transparent;
    text-decoration: underline;
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
}

.bot_menu ul li {
    position: static;
}

.activity_title_other {
    font: 16px "UbuntuMedium";
    color: #000;
    text-transform: uppercase;
    padding-left: 15px;
}

.interview .news_block {
    margin-left: 0;
}

.people_ul ul::after {
    content: '';
    display: block;
    clear: both;
}
.people_ul ul li {
    display: inline-block;
    width:25%;
    margin-right: -0.25em;
    vertical-align: top;
    padding:10px;
    text-align: center;
}
.people_ul ul li a {
    display: block;
    text-align: center;
    color: #29557b;
    font: 14px "RobotoSlabBold";
    margin-top: 12px;
}

.tribuna.interview .central_column .activity_score {
    margin-bottom: 10px;
}

.people_ul_button {
    float: right;
    padding: 10px 65px;
    background-color: red;
    text-transform: uppercase;
    font: 16px "RobotoSlabRegular";
    color: #fff !important;
    text-decoration: none !important;
}

.interview_people {
    margin-bottom: 35px;
}

.audio_cont a {
    display: inline-block;
    padding: 33px 0 30px 100px;
    margin: 10px 0 5px;
    background: url("../img/audio.png") no-repeat left center;
    font: 14px "RobotoSlabBold";
    color: #29557b;
}

.audio_block.last_audio_block {
    margin-bottom: 60px;
}

.videoblog {
    margin: 0 -10px 85px;
}

.videoblog div {
    display: block;
    float: left;
    width: 50%;
    position: relative;
    padding: 10px;
}
.videoblog .videoblog-img {
    display:block;
    width:100%;
    height: 220px;
    position: relative;
}

.videoblog .videoblog-img span {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font: 14px "UbuntuBold";
    color: #fff;
    padding: 5px 10px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-out 0s;
    -moz-transition: opacity 0.5s ease-out 0s;
    -o-transition: opacity 0.5s ease-out 0s;
    transition: opacity 0.5s ease-out 0s;
    z-index: 2;
}
.videoblog .videoblog-img::before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity 0.5s ease-out 0s;
    -moz-transition: opacity 0.5s ease-out 0s;
    -o-transition: opacity 0.5s ease-out 0s;
    transition: opacity 0.5s ease-out 0s;
    z-index: 1;
}
.videoblog .videoblog-img:hover:before, .videoblog .videoblog-img:hover span {
    opacity: 1;
}
.videoblog>div .videoblog-title {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity 0.5s ease-out 0s;
    -moz-transition: opacity 0.5s ease-out 0s;
    -o-transition: opacity 0.5s ease-out 0s;
    transition: opacity 0.5s ease-out 0s;
    color: #fff;
    z-index: 0;
}
.videoblog>div:hover .videoblog-title {
    opacity: 0;
}

.videoblog a:hover p {
    display: none;
}

.videoblog a img {
    display:block;
    width: 100%;
}

.videoblog a p {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font: 14px "UbuntuBold";
    color: #fff;
    padding: 3px 5px;
    margin: 0;
}

.social_margin {
    margin-top: 122px;
}

.forum_table .table_theme {
    color: #29557b;
    font: 14px "RobotoSlabBold";
    display: block;
    margin: 10px 0;
}

.forum_table .table_user {
    color: #ffad26;
    font: 14px "UbuntuLight";
    text-decoration: underline;
    margin-right: 5px;
}

.forum_table {
    border-collapse: collapse;
    border: 2px solid white;
    border-bottom: 1px solid #cbd4dc;
    font-family: "UbuntuLight";
    margin-bottom: 30px;
}

.forum_table td, .forum_table th {
    padding: 3px;
    border: 1px solid #cbd4dc;
    text-align: center;
}

.forum_table th {
    border-left: 0;
    border-right: 0;
    font-family: "UbuntuMedium";
    padding: 5px 10px;
}

.forum_table th:first-child {
    padding: 5px 0px;
}

.forum_table td {
    padding: 15px 3px;
    vertical-align: bottom;
    border-top: 0;
    border-bottom: 0;
}

.forum_table th:first-child, .forum_table td:first-child {
    text-align: left;
    position: relative;
}

.new_table_theme:after {
    content: "new!";
    position: absolute;
    right: 8px;
    color: #d00000;
    font: 14px "UbuntuBold";
}

.tribuna.forum .central_column .tab-content {
    padding-left: 0;
}
.profile-top::after{
    content: '';
    display: block;
    clear: both;
}
.profile-img{
    display: inline-block;
    width:180px;
    vertical-align: top;
}
.lk_avatar {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border:1px solid #ddd;
    padding:3px;
    background:#fff;
}

.lk_avatar img {
    display:block;
    width: 100%;
}

.lk_info {
    display: inline-block;
    position: relative;
    width:440px;
    padding-left: 20px;
}
.lk_info_block {
    margin-bottom:20px;
    font-size: 13px;
}
.lk_info_block p {
    margin-bottom: 3px;
}
.lk_info_block:last-child {
    margin-bottom:0;
}

/*.lk_info_style {*/
    /*font: 14px "UbuntuLight";*/
    /*margin: 0;*/
/*}*/

.lk_login {
    padding-right: 85px;
    position:relative;
    font: 14pt "UbuntuBold";
    color:#D02823;
}

.lk_info_style span {
    color: #7b7b7b;
    margin-right: 5px;
    font-size: 13px;
}

.lk_date {
    margin-top: 0;
}

.lk_anouns {
    position: absolute;
    top:0;
    right:0;
    display: inline-block;
    float: right;
}

.lk_blue {
    color: #29557b !important;
    margin-left: 3px;
    margin-right: 2px;
    font: 15px "UbuntuRegular";
}

.lk_gray {
    color: #7b7b7b;
    font: 15px 'UbuntuRegular';
}
.lk_gray:hover {
    text-decoration: none;
}
.lk_gray span{
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    font-family: 'UbuntuBold';
    font-size: 17px;
    margin: 0 2px;
}
.lk_command {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    padding: 0 20px;
    text-align: center;
}
.lk_links {
    margin: 45px 0;
}

.lk_links a {
    display: inline-block;
    width: 156px;
    padding: 4px 0 8px;
    background-color: #d4dce3;
    font: 14px "UbuntuLight";
    text-align: center;
    color: #000;
    text-decoration: none;
    margin: 5px 10px;
}

.lk_links a:first-child {
    margin-left: 2px;
}

.lk_main_info .nav-tabs {
    border: 0;
}
.lk_main_info .nav-tabs li{
    width: 20%;
    text-align:center;
}
.lk_main_info .nav-tabs a {
    display: block;
    position:relative;
    padding:8px 0 8px 40px;
    font: 17px "UbuntuBold";
    text-transform: uppercase;
    color: #000;
    text-align:left;
    border:1px solid #ddd;
}


.lk_main_info .nav-tabs li:nth-child(1) a {
    margin-left: 0;
    background: url("../img/lk/ball.png") no-repeat 10px center;
    -webkit-background-size:20px;
    background-size:20px;
}

.lk_main_info .nav-tabs li:nth-child(2) a {
    background: url("../img/lk/pencil.png") no-repeat 10px center;
    -webkit-background-size:20px;
    background-size:20px;
}

.lk_main_info .nav-tabs li:nth-child(3) a {
    background: url("../img/lk/gallery.png") no-repeat 10px center;
    -webkit-background-size:20px;
    background-size:20px;
}

.lk_main_info .nav-tabs li:nth-child(4) a {
    background: url("../img/lk/map.png") no-repeat 10px center;
    -webkit-background-size:20px;
    background-size:20px;
}

.lk_main_info .nav-tabs li:nth-child(5) a {
    background: url("../img/lk/message.png") no-repeat 10px center;
    -webkit-background-size:20px;
    background-size:20px;
    margin-right: 0;
}

.lk_main_info > .nav-tabs > li > a:hover, .lk_main_info > .nav-tabs > li > a.active {
    border-color: #fff;
    background-color: #fff;
}

.lk_main_info .nav-tabs > li.active > a, .lk_main_info .nav-tabs > li.active > a:hover, .lk_main_info .nav-tabs > li.active > a:focus {
    border: 0;
    color: #000;
}

.lk_new_post .counter {
    display: block;
    padding:6px 10px;
    position: absolute;
    top: -12px;
    right: -12px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    background:#d00000;
    color: #fff;
    font: 14px "UbuntuBold";
}
.lk_new_post .counter i {
    display:inline-block;
    font-style: normal;
}
.lk_arhiv ul {
    padding:0 10px;
    background:#fff;
}
.lk_arhiv li {
    display: inline-block;
    padding: 10px 0;
    margin-right: 15px;
    position: relative;
    font: 14px "UbuntuLight";
}
.lk_arhiv li::after{
    content: '';
    display:block;
    position:absolute;
    top: 50%;
    right: -12px;
    width: 4px;
    height: 4px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: #777;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.lk_arhiv {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lk_arhiv ul li a {
    display: block;
    color: #000;
}

.tribuna .central_column .lk_main_info .tab-content {
    padding-left: 0;
    background: transparent;
}

.lk_empty {
    text-align: center;
    color: #d00000;
    font: 14px "UbuntuLight";
    margin-top: 40px;
}

.lk_mail_table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 4px solid white; /* Прячем рамку вокруг таблицы */
    margin-bottom: 70px;
}

.lk_mail_table td, .lk_mail_table th {
    border: 2px solid #cbd4dc; /* Параметры рамки */
    text-align: left; /* Выравнивание по левому краю */
}

.lk_mail_table tr td:first-child, .lk_mail_table tr th:first-child {
    width: 20%;
}

.lk_mail_table tr:nth-child(2) td {
    padding: 10px 0;
}

.lk_mail_table tr td:nth-child(2), .lk_mail_table tr th:nth-child(2) {
    padding-left: 20px;
}

.lk_table_refresh {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../img/mail/obnov.png") no-repeat center center;
    vertical-align: middle;
    margin-left: 35px;
    margin-right: 10px;
}

.lk_table_newmsg {
    display: inline-block;
    width: 35px;
    height: 22px;
    background: url("../img/mail/message.png") no-repeat center center;
    vertical-align: middle;
}

.lk_mail_table ul li a {
    display: block;
    padding: 5px 0;
    margin: 10px 0;
    padding-left: 27px;
    font: 14px "UbuntuRegular";
    color: #000;
    text-decoration: none;
}

.lk_mail_table ul li a:hover, .lk_mail_table ul li a:active, .lk_mail_table ul li a:focus {
    color: #29557b;
}

.lk_mail_table .lk_mail_table_cont {
    background: url("../img/mail/phone.png") no-repeat left center;
}

.lk_mail_table .lk_mail_table_soob {
    background: url("../img/mail/mail.png") no-repeat left center;
}

.lk_mail_table .lk_mail_table_vhod {
    background: url("../img/mail/arrow_right.png") no-repeat left center;
}

.lk_mail_table .lk_mail_table_otpr {
    background: url("../img/mail/arrow_left.png") no-repeat left center;
}

.lk_mail_table .lk_mail_table_spam {
    background: url("../img/mail/x.png") no-repeat left center;
}

.lk_mail_table .lk_mail_table_nast {
    background: url("../img/mail/settings.png") no-repeat left center;
}

.lk_mail_table_caption {
    display: inline-block;
    margin: 0;
    padding-top: 10px;
    font: 14px "UbuntuBold";
}

.lk_mail_table .search {
    float: right;
}

.lk_mail_table .search input {
    height: 30px;
    width: 260px;
    background-color: #e2e2e2;
    border: 0;
    padding-left: 15px;
}

.lk_mail_table .search .button_head {
    border: 0;
}

.lk_mail_table_for_input {
    display: block;
    vertical-align: bottom;
    padding-top: 30px;
}

.lk_mail_table_colname {
    width: 100%;
}

.lk_mail_table_colname li {
    display: inline-block;
    width: 32%;
    font: 14px "UbuntuRegular";
}

.lk_mail_table .lk_empty {
    margin-top: 10px;
}

.display_none {
    display: none;
}

.no-margin {
    margin: 0 !important;
}

.user_lk_block .caption {
    display: block;
}

.user_lk_block .lk_date {
    margin-top: 0;
}

.user_status_message {
    display:block;
    margin-top: 5px;
    font: 13px 'UbuntuRegular';
    font-style: italic;
    color:#444;
}

.user_lk_block .lk_avatar {
    margin-top: 28px;
}

.lk_login.another_user {
    padding-left: 40px;
    color: #e61939;
}

.lk_login.another_user.red_tshirt {
    background: url("../img/lk/t-shirt.png") no-repeat center left;
}

.user_lk_block .lk_anouns {
    position: absolute;
    right: 0;
    top: 10px;
}

.lk_myteam {
    font: 13px "UbuntuRegular";
    font-style: italic;
}

.lk_myteam img {
    display: inline-block;
    width: 125px;
}

.lk_medals {
    margin-top: 7px;
}
.lk_medals a {
    display: inline-block;
    position: relative;
    width: 25px;
    margin-right: 10px;
}
.lk_medals img {
    display: block;
    width: 100%;
}
.all-alboms {
    padding: 10px;
}
.upload::after{
    content: '';
    display: block;
    clear: both;
}
.user_lk_block .lk_links {
    margin: 25px 0 32px;
}

.user_lk_block .lk_main_info .nav-tabs a {
    margin: 0px 10px;
}

.user_lk_block .lk_new_post::before {
    content: "433";
    color: #29557b;
    top: -17px;
}

.es-carousel > ul > li > a > img {
    height: 65px;
    width: 100%;
}

.your_rate {
    font: 14px "UbuntuRegular";
    color: #9b9b9b;
    width: 135px;
    margin: 0 auto;
    text-align: center;
}

.your_rate p {
    margin: 0;
}

.your_rate .average_rate {
    margin-bottom: 10px;
}

.user_lk_block {
    position: relative;
}

.interview_full .activity_score {
    padding-bottom: 0px;
}

.interview_full .activity_title_other {
    color: #29557b;
    padding-left: 0;
}

.activity_title_other.activity_title_blue {
    color: #29557b;
    padding-left: 0;
}

.tribuna .central_column .caption.news_caption.interview_caption {
    margin-bottom: 0px;
    padding-top: 20px;
}

.interview_full_user {
    margin-bottom: 25px;
    vertical-align: top;
}

.interview_full_user img {
    display: inline-block;
    max-width: 150px;
}

.interview_full_user a {
    vertical-align: top;
    font: 14px "UbuntuLight";
    color: #ffad26;
    text-decoration: underline;
    padding-bottom: 2px;
    margin-right: 10px;
}
.interview_full_user span {
    vertical-align: top;
    font: 14px "UbuntuLight";
    color: #9d9d9d;
}

.user-lvl {
    margin-left: 10px;
}

.interview_full p {
    text-align: justify;
    font: 14px "UbuntuRegular";
}

.interview_full .your_rate {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 5px;
}

.news_tags {
    line-height: 40px;
    vertical-align: middle;
}

.news_tags > a {
    background: #5bc0de;
    color: white;
    font-size: 12px;
    padding: 3px;
    border-radius: 4px;
    margin-right: 5px;
}

.source-article {
    margin-top: 10px;
    color: darkgray;
}

.source-article a {
    color: #333;
    text-decoration: underline;
}

.interview_full_user > div {
    display: inline-block;
    vertical-align: top;
}
.interview_full_user > div:nth-child(2) {
    padding-left: 10px;
}

.publ-numb {
    margin-top: 5px;
}

.publ-numb a {
    color: #1b6d85;
    border-bottom: 0;
    text-decoration: underline;
    font-size: 13px;
}

.interview_full .br-wrapper {
    width: 116px;
}

.interview_full .central_column .tab-content {
    padding-left: 0;
}

.interview_full_comment.interview_full_user {
    margin-left: 0px;
    position: relative;
}





.like_dislike>a{
    margin-right: 3px;
}
.like_dislike>span{
    color:#333 !important;
}

.like_dislike a {
    color: #7b7b7b;
    border: 0;
    font: 14px "UbuntuRegular";
    padding-left: 23px;
    padding-top: 5px;
    display: inline-block;
    margin-left: 5px !important;
    min-height: 25px;
}

.like {

    background: url("../img/interview/like.png") no-repeat left bottom;
}
.like:hover{
 animation: movelike 0.4s infinite;
}
@keyframes movelike {
  from {
    background: url("../img/interview/like.png") no-repeat left bottom;
  }
  to {
    background: url("../img/interview/like.png") no-repeat left top;
  }
}
.dislike {
    background: url("../img/interview/dislike.png") no-repeat left top;
}
.dislike:hover{
     animation: movedislike 0.4s infinite;
}
@keyframes movedislike {
  from {
    background: url("../img/interview/dislike.png") no-repeat left top;
  }
  to {
    background: url("../img/interview/dislike.png") no-repeat left bottom;
  }
}

.interview_full_comment {
    border-bottom: 2px solid #cbd4dc;
    padding-bottom: 7px;
}

.interview_full_message {
    width: 100%;
    margin-right: 20px;
}
.interview_full_message form {
    width: 500px;
    margin: 0 auto;
}

.interview_full_message textarea {
    border: 1px solid #7b7b7b;
    display: block;
    width: 100%;
    height: 180px;
    font: 14px "UbuntuRegular";
    resize: none;
    margin-bottom: 20px;
}

.interview_full_reg {
    max-width: 348px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.interview_full_reg_caption {
    color: #264f72;
    font: 14px "UbuntuBold" !important;
    text-transform: uppercase;
    text-align: center !important;
}

.interview_full_reg input {
    display: block;
    width: 162px;
    height: 30px;
    border: 1px solid #7b7b7b;
    margin: 2px 0;
    padding-left: 5px;
}

.interview_full_reg button {
    background-color: #d00000;
    border: 0;
    color: #fff;
    padding: 8px 13px;
    margin-top: 35px;
    font: 14px "UbuntuRegular";
}

.interview_full_reg .social {
    display: inline-block;
    margin-right: 0px;
}

.interview_full_reg .button_head {
    margin-left: 0px;
    margin-right: 5px;
}

.interview_full_reg_vhod {
    display: inline-block;
    padding-top: 35px;
    width: 162px;
    margin-right: 20px;
    vertical-align: top;
}

.interview_full_reg_reg {
    display: inline-block;
    width: 162px;
}

.interview_full_reg_reg p {
    font: 9px "RobotoSlabLight";
    text-align: center;
    color: #000;
    margin-bottom: 0;
}

.interview_full_reg_reg button {
    margin-top: 21px;
}

.interview_full_reg_vhod button {
    padding: 8px 20px;
}

.interview_full_reg .input_for_capcha {
    width: 79px;
    display: inline-block;
}

.interview_full_reg_capcha {
    width: 79px;
    display: inline-block;
    border: 1px solid #7b7b7b;
    height: 30px;
    margin: 2px 0;
    vertical-align: top;
}

.interview_razdel_player_text {
    display: inline-block;
    max-width: 522px;
    vertical-align: top;
}

.interview_razdel_player_text p {
    display: inline-block;
    font: 14px/16px "UbuntuLight";
}

.interview_razdel_player_team {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 15px;
}

.interview_razdel_player_team p {
    text-align: center;
}

.interview_razdel_player_logo {
    margin-right: 25px;
}

.interview_full .interview_razdel_name {
    font: 30px "UbuntuBold";
    color: #e61939;
}

.interview_razdel_comment_left {
    display: inline-block;
    width: 80px;
    text-align: center;
    float: left;
    margin-right: 15px;
}

.interview_razdel_comment {
    margin-top: 15px;
}

.interview_razdel_comment p {
    font: 14px/16px "UbuntuRegular";
}

.interview_razdel_comment_left a {
    font: 14px "UbuntuLight";
    color: #ffad26;
    border-bottom: 1px solid #ffad26;
    text-decoration: none;
}

.interview_razdel_player_text .video_razdel_p {
    display: block;
    font: 14px "UbuntuRegular";
    margin-top: 10px;
}

.video_razdel_block {
    margin-top: 30px;
}

.video_from_youtube {
    text-align: center;
    margin-top: 20px;
}

.video_from_youtube > iframe {
    margin: 10px 0;
    max-width: 560px;
    width: 100%;
}

.interview_razdel_player {
    margin-bottom: 20px;
}
.answer_for_comment{
    margin-top: 5px;
}

.interview_full_comment_info {
    vertical-align: middle;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
height: 50px;
}
.interview_full_comment_info>*{
display: inline-block;
}

.interview_full_comment_info span {
    color: #bbbcc2;
    font: 14px "UbuntuLight";
}

.interview_full_comment.interview_full_user .asnwer_for_comment {
    color: #d00000;
    font: 14px "UbuntuRegular";
    border: 0;
    margin-left: 5px;
}

.interview_full_comment.interview_full_user {
    padding-bottom: 0px;
}

.new_level_comment {
    margin-left: 95px;
}

.new_level_comment .new_level_comment {
    margin-left: 70px;
}

.new_level_comment .new_level_comment .new_level_comment {
    margin-left: 50px;
}

.retwit {
    margin-left: 95px;
}

.retwit * {
    margin-left: 0 !important;
    padding-left: 0 !important;
    border: 0 !important;
}

.interview_full_comment.interview_full_user .reposted_phrase {
    color: #9b9b9b;
    padding-left: 70px !important;
    margin-bottom: 30px;
    background: url("../img/repost.png") no-repeat left 13px center;
}

.interview_full_user .interview_full_comment_link {
    color: #29557b;
    font: 14px "UbuntuRegular";
    border: 0;
}

.comment_form .answer_to {
    cursor: pointer
}

.comment_form .answer_to::before {
    content: '×';
    opacity: 1;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.comment_form .answer_to:hover::before {
    opacity: 1;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
/*new css*/
.people_ul.clear_fix ul li {

}

.people_ul.clear_fix ul li a {
    margin-top: 0;
}

.people_ul img {
    position: relative;
}

.test {
    position: relative;
}

ul li div a.user-int {
    text-align: left;
    display: inline;
    color: orange;
}

.anonce {
    margin: 10px;
    margin-left: 0;
    font-size: 15px;
}

#notpbl, #anons, #audio {
    vertical-align: middle;
}

label[for="notpbl"], label[for="anons"], label[for="audio"] {
    margin-bottom: -2px;
    vertical-align: bottom;
}

.time-change {
    margin-top: 10px;
}

.time-change span {
    font-weight: bold;
}

.time-change input, .time-change select {
    display: inline-block;
}

.time-change input {
    width: 30px !important;
    padding: 6px;
}

.time-change select {
    width: auto;
}

.add-form {
    background: #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}

.checkbox label {
    font-weight: bold;
}

#blog-form p {
    line-height: 15px;
    margin-top: 2px;
    font-size: 12px;
    color: #444;
}

.questions-add {
    background: #ddd;
}

.questions-add, .add-transl {
    display: none;
}

.add-transl {
    background: #99bb99;
}

.msg-tmpl {
    font-size: 13px !important;
    line-height: 20px !important;
    margin: 0 !important;
}

#all-date {
    display: none;
}

.btn-transl {
    margin-top: 10px;
}

.btn-create-post {
    margin-top: 10px;
}

.questions-add input.quest-input {
    width: 94%;
    margin-right: 1px;
    display: inline-block;
}

.new-dell-quest {
    text-align: center;
    font-size: 25px;
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 7px;
    background: #555;
    color: #ff1c19;
}

.dell-quest {
    position: absolute;
    border-radius: 100%;
    text-align: right;
    line-height: 12px;
    width: auto;
    display: inline-block;
}
.dell-quest:hover{
    background: white;
    color: #555;
    text-decoration: none;
}

#add-quest, .dell-quest {
    cursor: pointer;
}

label.control-label[for="id_tags"] {
    margin-top: 10px;
}

.second-menu ul * {
    display: inline-block;
    font-size: 10px !important;

}

.all-themes-forum {
    border-bottom: 1px solid #ccc;
}
.user-ava-forum{
    margin-top: 2px;
    margin-right: 25px;
}

.all-themes-forum * {
    font-size: 15px;
    font-family: "UbuntuMedium";
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}

.padding-off {
    padding: 0;
}

.date-forum {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;

}

.themes-forum > div {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
}

.themes-forum > div:not(:first-child) {
    line-height: 60px;
}

.themes-forum div:nth-child(2), .themes-forum div:nth-child(3),
.all-themes-forum div:nth-child(2), .all-themes-forum div:nth-child(3) {
    text-align: center;
}

.themes-forum a:nth-child(2) {
    color: orange;
    text-decoration: underline;
}

.themes-forum a:first-child {
    font-size: 17px;
}

#small {
    width: auto !important;
}

#small input {
    height: 32px !important;
}

.tag.label.btn-info.md {
    margin-top: 4px;
}

.tags-suggestion-list.dropdown-menu {
    overflow-x: hidden !important;
    width: 100% !important;
}

label[for="small"] {
    margin-top: 10px;
}

label[for="small"] p {
    margin-bottom: 0;
}

a.answer, a.answer-name {
    margin-left: 1px !important;
    margin-right: 4px;
    border: none;
    color: #1b6d85 !important;
    font-weight: bold;
    vertical-align: middle;
}

/*topic(forum)*/
.date-of-topic {
    font-size: 9px;
}

/* settings(lk) */
.setting-box {
    border-bottom: 1px solid #9d9d9d;
}

.setting-box span {
    margin-left: 10px;
}

.settings-lk > div:last-child {
    margin-top: 10px;
}



.setting-child p {
    margin-top: 5px;
    font-size: 10px;
    color: #777;
}

.number-quest>.form-group {
    display: inline-block;
    width: 94%;
}

#id_form-0-DELETE, label[for="id_form-0-DELETE"] {
    display: none;
}

label[for="id_tags"] {
    margin-bottom: 0;
}

div.header {
    height: 37px;
}

.menu-aut {
    position: absolute;
    right: 40px;
   background-color: #7592ad;
}

.menu-aut * {
    color: black;
    font-size: 19px;
}

.btn-log-out:hover {
    text-decoration: underline;
    color: #23527c;
}

form.log-out {
    display: inline-block;
}

form.log-out * {
    background: none;
    display: inline-block;
}

.margin-msg-prof {
    margin-top: 10px;
}

.glyphicon {
    font-size: 15px;
}

div.radio label img {
    width: 70px;
}

/* цепочка сообщений */

.taba {
    color: #333;
    margin-bottom: 15px;
    margin-top: 15px;
    background: #d4dce3;
    cursor: pointer;
    border-radius: 5px;

}

.taba > span {
    padding-left: 10px;
}

.activeA {
    color: white;
    background: #29557b;;
}

.msg-body {
    border-radius: 3px;
    padding-left: 10px;
    color: #333;
    background: white;
    display: none;
    border-bottom: 1px solid #29557b;;
    border-left: 1px solid #29557b;;
    border-right: 1px solid #29557b;;
}

.activeQ {
    display: block;
}

/*polls*/
.polls {
    padding: 10px;
    border-radius: 5px;
    width: auto;
    max-width: 500px;
    background: #eee;
}

.form-polls div, .form-polls {
    width: 100px !important;
}

.var-poll {
    display: inline-block;
    padding-left: 5px;
    margin: 1px;
    background: #d4dce3;

}

.div-var-poll {
    margin-top: 10px;
    background: white;
    width: 100%;
    height: 20px;
}

.percent {
    padding-left: 5px;
    position: absolute;
}

.polls-rezult {
    display: none;
}

.act {
    background: #d00000;
    color: white;
    padding: 2px;
    border-radius: 5px;

}

.re-polls {
    margin-top: 10px;
}

.re-polls .act:hover {
    color: white;
}

.re-polls * {
    cursor: pointer;
}

.edit_tags {
    position: relative;
    top: 40px;
}

.edit_tag {
    width: 24px;
    height: 24px;
    padding: 1px;
    margin: 1px;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
}

.edit_tag:first-child {
    margin-left: 8px;
}

.comment_editor textarea {
    border: 1px solid #888888;
    border-radius: 5px;
    padding-top: 50px!important;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.75);
}
.calendar-bootstrap{
    background: white;
    margin-top: 20px;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .padding-xs-off{
    padding: 0;
}
}
/*login*/
.re-password{
    font-size: 13px;
}
#id_audio_file{
    padding-top: 0;
}

.add-form{
    padding-top: 15px;
}
.usetwentyfour{
    display: none !important;
}
.picker-open{
    display: block !important;
}
.forecast th{
 text-align: left;
}
.forecast tr td:nth-child(2), .tornament tr td:nth-child(2){
    padding-left:8px;
}
.forecast th:first-child{
    width: 70%;
}
.forecast th, .tornament th{
    font-size: 10px;
}
.forecast td, .tornament td{
    font-size: 11px;
}
.forecast *{
    vertical-align: middle;
}
.forecast tr td:not(:first-child){
    text-align: center;
}
.btn-compet{
    margin-right: 20px;
}
.tornament tr td:nth-child(2){
    width: 40px;
}
.tornament tr td:nth-child(4){
    width: 90px;
    text-align: right;
}
.tornament tr td:nth-child(3){
    text-align: right;
}
.tornament tr td:nth-child(3), .tornament tr td:nth-child(1){
    width: 100px;
}
.create-pay{
    background: #ddd;
    border-radius: 5px;
}
.to-shop{
    margin-top: 10px;
}
.web-pay{
    margin-top: 10px;
}
.create-pay>div{
    padding: 15px;
}
.check-line{
    margin-top: 10px;
}

/* styles from fenzo */

/* Исправленные */

.bg_white, .slider, .bx-wrapper .bx-viewport{background:#F6F6F6}
.bx-wrapper .bx-viewport{border:5px solid #f6f6f6}
.tribuna .central_column .caption.news_caption{margin:0}
.nav-tabs.nav-stacked > li > a{text-transform:uppercase;line-height:125%!important}
.nav-tabs.nav-stacked > li:last-child > a{border-bottom:none}
.tab-content.padding{padding:35px 10px}
.tab-content.popular{margin-top:-15px}
.tab-content{background:#fff}
.left_column .nav-tabs, .right_column .nav-tabs{margin:0;padding:0}
.right_column .central_column, .left_column .central_column{margin-top:20px}
.caption .goto{display:inline-block;vertical-align:middle;position:static;margin-left:15px}
.commentator{font-family:'RobotoSlabBold'}
.activity_score{padding-bottom:10px;color:#C3C3C9;font-weight:bold}
.comment{margin-bottom:35px}
.comment:last-child{margin-bottom:0}
.comment-title{font-family:'RobotoSlabBold';font-size:16px;letter-spacing:-1px}
.comment .comment-text{font-family:'RobotoSlabRegular'}
.tribuna.interview .central_column .caption.news_caption{margin:0}
.tribuna.interview .activity_score{padding-bottom:15px;border-bottom:2px solid #cbd4dc;border-top:none}

/* новые */

.n-comment-wrap>.n-comment{border-bottom:1px solid #ddd}
.n-comment{margin-top:10px}
.n-comment .n-comment{padding-left:40px;position:relative}
.n-comment .n-comment::before{content:'';display:inline-block;position:absolute;left:20px;top:8px;width:8px;height:16px;background:url('../img/replay.png') no-repeat center;
    -webkit-background-size:contain;
    background-size:contain;
}
.n-comment-user::after{content:'';display:block;clear:both}
.n-comment-img, .n-comment-name, .n-comment-time, .n-comment-btn{display:inline-block;vertical-align:middle;margin-right:10px}
.n-comment-btn span, .n-comment-btn a{color:#7b7b7b;cursor:pointer}
.n-comment-btn span:hover, .n-comment-btn a:hover{color:#444}
.n-comment-name{font-family:'UbuntuBold'}
.n-comment-time{color:#7b7b7b;font-size:12px}
.n-comment-img img{display:block;width:40px}
.n-comment-message{padding:10px 0}
.n-comment-message p{margin:0}

.top-link-wrap{margin-top:20px}
.top-link{display:inline-block;position:relative;text-transform:uppercase;font-family:"UbuntuBold";padding-right:13px;margin-left:-0.25em}
.top-link:nth-child(1){margin-left:0}
.top-link:last-child{padding-right:0}
.top-link:last-child::after{display:none}
.top-link::after{content:'';display:inline-block;position:absolute;top:0;bottom:0;right:5px;width:2px;background:#29557b}
.forecast-table{position:relative;margin-top:25px;text-align:center}
.forecast-table-header{padding:20px;margin-bottom:15px;background:#fff;font-family:'RobotoSlabBold';text-align:left}
.forecast-table-header span{text-transform:uppercase}
.forecast-table table{width:100%}
.forecast-table .hidden-title{display:none}
.forecast-table::after{content:'';display:block;position:absolute;top:100%;left:0;right:0;height:3px;background:#C5D3DE}
.forecast-table thead tr{border-bottom:3px solid #C5D3DE}
.forecast-table thead th{text-transform:uppercase;text-align:center;vertical-align:top}
.forecast-table thead th:first-child{width:300px;text-align:left}
.forecast-table tbody td{border-right:3px solid #C5D3DE;padding:18px 10px}
.forecast-table tbody td:first-child{text-align:left;padding-left:0}
.forecast-table tbody td:last-child{border-right:none}
.tt{text-transform:uppercase}
.bold{font-family:'UbuntuBold'}
.tournament-table-wrap{margin-top:25px}
.tournament-table{width:100%;text-align:center}
.tournament-table table{width:100%;margin-bottom:5px;border-top:3px solid #C5D3DE;border-bottom:3px solid #C5D3DE}
.tournament-table tbody td{padding:15px;border-right:3px solid #C5D3DE}
.tournament-table tbody td:nth-child(1){width:32%;text-align:left}
.tournament-table tbody td:nth-child(3){width:32%;text-align:right}
.tournament-table tbody td:last-child{border-right:none}
.tournament-table tbody td img{display:inline-block;width:50px;margin:0 10px}
.tournament-table .tournament-score{color:#000;font-size:27px;font-family:'UbuntuBold'}
.tournament-edit{margin-left:5px;color:#FF4444;font-size:17px}
.tournament-edit:hover{color:#F34242}
.page_list{margin-top:60px}
.create-form{background:#fefeff;margin-top:20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.create-form-header{border-bottom:3px solid #f1f1f1;text-transform:uppercase;font-family:'RobotoSlabBold'}
.create-form-header, .create-form-body{padding:20px}
.form-match{margin-bottom:10px;padding:20px;background:#f1f1f1}
.form-match:last-child{margin-bottom:0}
.create-form .bootstrap-select{width:100%!important}
.btn-white, .btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.focus, .btn-white:active, .btn-white:focus, .btn-white:hover, .open > .dropdown-toggle.btn-white{border:1px solid #eaeaea !important;background-color:#ffffff!important;;color:#4c5667!important}

.django-ckeditor-widget{width:100%}
#cke_id_text {width:100%!important}

#general-slider{padding:10px;background:#F6F6F6}
#general-slider .owl-dot span{width:14px;height:14px;background:#000}
#general-slider .owl-dot.active span{background:#ff0000}
#general-slider .item::after{content:'';display:block;clear:both}
#general-slider .item-img{float:left;width:25%}
#general-slider .item-person{float:left;width:75%;padding:0 10px}
#general-slider .item-person a{display:inline-block;margin-right:5px;color:#444;text-decoration:underline;font-family:'UbuntuBold'}
#general-slider .item-person span{font-size:11px}
#general-slider .item-person p{margin-bottom:0;font-size:12px}

.forum-table{margin-top:30px}
.forum-table .hidden-title{display:none}
.forum-table table{width:100%;text-align:center}
.forum-table thead th:nth-child(1){width:64%;text-align:left}
.forum-table thead th:nth-child(2), .forum-table table th:nth-child(3){width:18%;text-align:center}
.forum-table tbody td:nth-child(1){text-align:left}
.forum-table tbody td{padding:15px;border-right:3px solid #C5D3DE}
.forum-table tbody td:last-child{border-right:none}
.forum-table thead th{padding:15px;text-transform:uppercase}
.forum-table thead tr{border-bottom:3px solid #C5D3DE}
.forum-table tbody tr{border-bottom:1px solid #C5D3DE}
.forum-table tbody tr:last-child{border-bottom-width:3px}
.forum-table .forum-table-name{font-size:20px}
.forum-table .forum-table-user a{color:orange;text-decoration:underline;font-size:15px}

.forecast-result-table{margin-top:30px}
.forecast-result-table .hidden-title{display:none}
.forecast-result-table a{color:#000;text-decoration:underline;font-family:'UbuntuBold'}
.forecast-result-header{padding:8px 0}
.forecast-result-header .name{padding-top:8px}
.forecast-result-header .bootstrap-select{width:100%!important}
.forecast-result-table table{width:100%;border-top:3px solid #C5D3DE;font-size:13px;text-align:center}
.forecast-result-table table td{border-right:1px solid #C5D3DE;padding:7px}
.forecast-result-table table td:last-child{border-right:none}
.forecast-result-table table tr{border-bottom:1px solid #C5D3DE}
.forecast-result-table tbody td:nth-child(2){width:35%;text-align:left}
.forecast-result-table tbody td img{display:inline-block;margin-right:5px}
.forecast-result-table tbody .profile-image{width:28px}
.forecast-result-table tbody .status-image{text-decoration:none}
.forecast-result-table tbody .status-image img{width:25px}
.forecast-result-table tfoot tr{height:29px;border-bottom-width:3px}

.person-block-wrap{margin:30px -10px}
.person-img{position:relative;margin-bottom:10px}
.person-img img{display:block;width:100%}
.person-team{position:absolute;bottom:0;right:0;width:60px}

#back{position:fixed;bottom:35px;right:35px;z-index:8;text-align:center;font-size:28px;color:#fff;cursor:pointer;text-shadow:0 0 2px rgba(0,0,0,.12)}

.mail_block .messages::after{content:'';display:block;clear:both}

.menu-hidden-button{display:none}

@media (max-width: 1200px) {
    .input_for_search, .forgot_pw, .login {
        display: none;
    }

    .vhod {
        display: inline-block;
    }

    .right_float {
        float: right !important;
        margin-right: 20px !important;
        margin-top: 0 !important;
    }

    .header .search {
        margin-right: 0;
    }

    .slider {
        height: 230px;
    }

    .user_photo img {
        width: 44px;
    }

    .central_column .caption {
        font: 24px "UbuntuBold";
    }

    .form_podpiska input {
        width: 140px;
    }

    .enter_golos {
        padding: 20px 40px;
    }

    .rights {
        text-align: center;
    }

    .rights .logo {
        float: none;
    }

    .header .login {
        position: absolute;
        height: 150px;
        left: 30%;
        background-color: #7592ad;
        padding: 12px;
        top: 95%;
    }

    .header .login input {
        display: block;
    }

    .comment_right p {
        max-width: 499px;
    }

    .news_block .comment_right p {
        max-width: 464px;
    }

    #dropd li:hover ul, #dropd li:focus ul, #dropd li:active ul {
        bottom: -53px;
    }

    .user_lk_block .lk_avatar {
        margin-right: 10px;
        max-width: 90px;
    }

    .user_lk_block .lk_avatar {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .interview_full_reg, .interview_full_message {
        display: block;
        margin: 10px auto;
    }
}

@media (max-width: 1150px) {
    .lk_main_info .nav-tabs{text-align:center}
    .lk_main_info .nav-tabs li{width:160px;float:none;display:inline-block;margin-bottom:15px}
    .news_block iframe{width:100%!important}
}
@media (max-width: 990px) {
    .forecast-table thead{display:none!important}
    .forecast-table .hidden-title{display:block;margin-bottom:5px;font-family:'UbuntuBold';}
    .forecast-table table tr, .forecast-table table td{display:block!important;width:100%!important;;text-align:center!important}
    .forecast-table table td{padding:10px;border:none!important}
    .forecast-table table tr:first-child{border-top:3px solid #C5D3DE}
    .forecast-table table tr{border-bottom:3px solid #C5D3DE}
    .forecast-table table tr:last-child{border:none}
    .tournament-table table tr, .tournament-table table td{display:block!important;width:100%!important;text-align:center!important;}
    .tournament-table table td{border:none}
    .tournament-table table tr{border-bottom:3px solid #C5D3DE}
    .tournament-table table tr:last-child{border-bottom:none}
    .forum-table{margin:0}
    .forum-table .hidden-title{display:block;font-family:'UbuntuBold'}
    .forum-table .forum-table-name .hidden-title{font-size:14px}
    .forum-table thead{display:none!important}
    .forum-table table tr, .forum-table table td{display:block!important;width:100%!important;;text-align:center!important;padding:5px 10px}
    .forum-table table td::after{content:'';display:block;clear:both}
    .forum-table table td:nth-child(1){float:left!important}
    .forum-table table td:nth-child(2), .forum-table table td:nth-child(3){width:50%!important;float:left!important}
    .forum-table table td{border-right:none}
    .forum-table tbody tr:first-child{border-top:3px solid #C5D3DE}
    .forecast-result-header .name{padding-top:0;margin-bottom:10px}
    .forecast-result-table thead, .forecast-result-table tfoot{display:none}
    .forecast-result-table {border-bottom:3px solid #C5D3DE}
    .forecast-result-table tr:last-child{border-bottom:none}
    .forecast-result-table .hidden-title{display:block;margin-bottom:5px;font-family:'UbuntuBold'}
    .forecast-result-table tr, .forecast-result-table td{display:block!important;width:100%!important;text-align:center!important}
    .forecast-result-table table td{border-right:none}
    .forecast-result-table table tbody td:first-child{display:none!important}

    .page_list{margin-top:10px}
    .top-link-wrap{margin-top:0}
    .forecast-result-table{margin-top:10px}

    .banner{display:none}

    .Collage{padding:0}
    .Collage img{width:100%!important;height:auto!important}
    .people_ul ul li{width:50%}
    #back{right:0}
    body>.container-fluid{padding:0;overflow:hidden}
    body>.container-fluid>.container{padding:0}

    .logo {
        display: block;
        text-align: center;
    }

    .logo img {
        display: inline-block;
        padding: 25px 0 15px 0px;
        height: auto;
    }

    .menu {
        display: block;
        max-width: 522px;
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    .slider {
        height: 220px;
    }

    .bx-wrapper .bx-next {
        right: 39%;
    }

    .bx-wrapper .bx-prev {
        left: 36%;
    }

    .footer_menu ul li {
        display: inline-block;
        margin: 0 10px 20px 10px;
    }

    .footer {
        padding-top: 60px;
    }

    .additional_menu ul li {
        display: inline-block;
        margin: 10px;
    }

    .prava {
        margin: 0px 0 15px;
    }

    .self_info select {
        width: 440px;
    }

    .date_of_birth .self_info {
        margin: 10px 40px 10px 0;
    }

    .reg_capcha .reg_input_desc {
        position: static;
    }

    .reg_capcha input {
        width: 124px;
    }

    .profile_logo label:nth-child(2), .profile_logo label:nth-child(18), .profile_logo label:nth-child(34), .profile_logo label:nth-child(50) {
        padding-left: 20px;
    }

    .tribuna .central_column .tab-content {
        padding-left: 0px;
    }

    .news_block .comment_right p {
        max-width: 240px;
    }

    .lk_avatar {
        max-width: 100px;
        margin-right: 10px;
    }

    .lk_login {
        font: 18px "UbuntuBold";
        display: inline-block;
        margin-bottom: 10px;
    }

    .lk_date {
        margin-top: 5px;
    }

    .lk_links a {
        margin: 5px 8px;
    }

    .lk_float_right {
        float: right;
    }

    .new_level_comment .new_level_comment .interview_full_comment_info {
        top: -20px;
    }
    .menu-hidden-button{display:block;float:right;color:#fff;margin-right:10px}
    .menu-hidden-button span{display:inline-block;line-height:30px;border:2px solid #fff;width:34px;text-align:center;margin-top: 3px;font-size:18px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
    }
    .menu-hidden-button.active i::before{content:"\f00d"}
    .bot_menu{position:relative;overflow:visible;height:40px;line-height:40px}
    #dropd{display:none;position:absolute;top:100%;left:0;right:0;z-index:9;background:#9d0404}
    #dropd.active{display:block}
    .bot_menu ul li{display:block;width:100%}
    .bot_menu ul li:first-child a{padding-left:10px}
    .bot_menu ul li:last-child a{padding-right:10px}
    .bot_menu ul li>ul{position:relative!important;display:block!important;max-width:100% !important;opacity:1!important;background:#FC3D3D!important;left:0!important}
    .bot_menu ul li>ul li{float:none;width:100%!important;line-height:normal}
    .bot_menu ul li>ul li a{vertical-align:middle!important;padding:8px 0!important}
    .bot_menu ul li>ul::before{content:"\f107";display:block;font: normal normal normal 18px/1 FontAwesome;text-align:center}
    #dropd li:hover ul, #dropd li:focus ul, #dropd li:active ul{right:0!important;top:0!important}
}
@media (min-width: 768px) and (max-width: 990px) {
    .comment_right p {
        max-width: 335px;
    }

    .display_none {
        display: inline;
    }

    .display_inline {
        display: none;
    }

    .special_images_content img {
        max-width: 149px;
        height: 200px;
    }

    .lk_mail_table .search .button_head {
        margin: 10px auto;
        display: inherit;
    }

    .lk_myteam {
       vertical-align: top;
text-align: center;
        display: block;
    }

    .lk_myteam img {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .container{width:100%!important}
    .lk_links{padding:0 15px;text-align:center}
    .videoblog div{width:100%}
    .search-massage{width:87%}
    .mail_block{margin-bottom:20px;border-bottom:2px solid #C5D3DE;padding-bottom:20px}
    .no-message{padding:40px 0;margin:0!important}
    .message_create label{display:inline-block}
    .left-menu{border-right:none!important}
    .lk_avatar{width:100%;max-width:inherit}
    .lk_info{padding:10px}
    .reg_input .reg_capcha .reg_input_name{width:100%}
    .voters{margin-bottom:20px}

    .banner {
        background-position: 0px -27px;
        background-size: 100% 131%;
    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: 0px;
        margin-left: 0px;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: 0;
    }

    .slider {
        height: auto;
        padding-bottom: 1px;
    }

    .bx-controls {
        display: none;
    }

    .bx-wrapper .bx-next {
        right: 39%;
    }

    .bx-wrapper .bx-prev {
        left: 36%;
    }

    .open > .dropdown-menu {
        display: block;
    }

    .form_podpiska {
        text-align: center;
    }

    label {
        display: block;
    }

    .header .login {
        left: 20%;
    }

    .date_of_birth {
        text-align: center;
    }

    .self_info select {
        text-align: left;
    }

    .date_of_birth .self_info:nth-child(2) select {
        width: 151px;
    }

    .date_of_birth .self_info:last-child {
        margin-right: 40px;
    }

    .comment_right p {
        max-width: 100%;
    }

    .tribuna .central_column .comment {
        text-align: center;
    }

    .tribuna .central_column .activity_score {
        text-align: left;
    }

    .tribuna .comment_right {
        display: block;
    }

    .news_block .comment_right p {
        max-width: 614px;
    }

    .news_block {
        margin-left: 0;
    }

    .tribuna .central_column .caption.news_caption {
        margin-left: 0;
        margin-bottom: 20px;
    }

    #dropd li:hover ul, #dropd li:focus ul, #dropd li:active ul {
        bottom: auto;
        left: auto;
        right: 145px;
        top: 50px;
    }

    #dropd ul {
        max-width: 270px;
    }

    .bot_menu ul li {
    / / position: relative;
    }

    #dropd ul li {
        display: block;
    }

    .nav > li > a {
        position: static;
    }

    .videoblog {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .lk_myteam {
        display: block;
        float: none;
    }

    .lk_medals {
        text-align: center;
    }

    .lk_medals img {
        margin: 0 10px;
    }

    .lk_myteam img {
        margin-top: 0;
    }

    .lk_main_info .nav li {
        margin: 10px 0;
    }

    .user_lk_block .lk_main_info .nav-tabs a {
        margin: 0px;
    }

    .new_level_comment {
        margin-left: 30px;
    }

    .new_level_comment .new_level_comment {
        margin-left: 20px;
    }

    .new_level_comment .new_level_comment .new_level_comment {
        margin-left: 10px;
    }
    .answer-info a:nth-child(2){display:none}
}

@media (max-width: 690px) {
    .images_content_item{width:100%}
}
@media (max-width: 650px) {
    .header .search input {
        width: 150px;
    }
    .gallery .caption, .central_column .caption{font-size:22px}
    .bg_white{padding-top:0;padding-bottom:0}
}

@media (max-width: 581px) {
    .caption .goto {
        right: 0;
        bottom: -10px;
    }

    .gallery {
        margin: 0px;
    }
    .self_info{
        width:100%;
    }
    .self_info select {
        border-radius: 0;
        background: transparent;
        height: 43px;
        padding: 5px;
        border: 0;
        font-size: 16px;
        line-height: 1;
        -webkit-appearance: none;
        width: 100%;
    }

    .reg_input p {
        padding-left: 0px;
    }

    .reg_capcha input {
        width: 100%;
        margin: 15px 0;
    }

    .reg_capcha .reg_input_desc {
        padding-left: 0px !important;
    }

    .tribuna .central_column .activity_score {
        text-align: center;
    }

    .tribuna .right_score {
        float: none;
    }

    .tribuna .nav-tabs > li {
        float: none;
    }

    .people_ul ul li {
        width: 100%;
        text-align: center;
    }

    .people_ul_button {
        float: none;
        display: inline-block;
        margin: 10px 0;
    }

    .interview .news_block {
        margin-left: 0px;
    }

    .people_ul {
        text-align: center;
    }

    .new_table_theme:after {
        right: auto;
        left: 0px;
        top: 2px;
    }

    .lk_new_post::before {
        top: 4px;
        right: 2px;
    }

    .lk_avatar {
        display: block;
        margin: 0 auto;
    }

    .lk_info {
        display: block;
        text-align: center;
    }

    .lk_links a {
        display: block;
        margin: 10px auto;
    }

    .lk_links a:first-child {
        margin-left: auto;
    }

    .lk_mail_table .search .button_head {
        margin: 10px auto;
        display: inherit;
    }

    .user_lk_block .lk_avatar {
        margin: 0 auto;
    }

    .interview_full_reg_vhod, .interview_full_reg_reg {
        display: block;
        margin: 0 auto;
        padding-top: 10px;
    }

    .interview_full_reg .social {
        display: block;
        margin: 0 auto;
        width: 119px;
    }

    .interview_full_reg button {
        margin: 10px auto;
        display: block;
    }

    .interview_full_comment_info {
        top: -20px;
    }

    .interview_full_comment.interview_full_user img {
        width: 55px;
    }



    .retwit {
        margin-left: 0px;
    }
}

@media (max-width: 550px) {
    .header .search input{width:100%;position:absolute;top:100%;left:0;right:0;height:38px}
}
@media (max-width: 530px) {
    .interview_full_message form{width:100%}
}
@media (max-width: 500px) {
    body>.container-fluid{padding:0}
}
@media (max-width: 430px) {
    .header .search{margin-left:0;margin-top:3px}
    .right_float{margin-right:5px!important;margin-top:1px!important}
    .right_float .button_head{margin-left:2px}
    .menu-aut{position:static;float:right!important;margin-right:5px!important}
}
@media (max-width: 400px) {
    .header {
        text-align: center;
    }

    #dropd li:hover ul, #dropd li:focus ul, #dropd li:active ul {
        bottom: auto;
        left: 0;
        right: auto;
        top: 50px;
    }

    .lk_login.another_user {
        padding-left: 40px;
        color: #e61939;
        margin-bottom: 30px;
    }

    .user_lk_block .lk_anouns {
        top: 28px;
    }

    .interview_full_user a {
        margin-left: 5px;
    }

    .user-name-art {
        margin-left: 5px !important;
    }

    .video_from_youtube > iframe {
        height: 170px;
    }


    .images_content_item div{height:250px}
    .input-new-message{width:75%!important}
}
