.all-votes .vote .radio{
    margin-bottom: 15px;
}
.voters{
    font-size: 13px;
    color: grey;
}
.vote{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

@media (max-width: 406px) {
        .table *{
    font-size: 11px;
}
      .table tr td:nth-child(2){
            padding-left: 0;
        }
}
.progres-bar{
    display: inline-block;
    line-height: 20px;
    width: 100%;
    height: 10px;
    background: #29557b;
}
.bar{
    height: 10px;
    background: #d4dce3;
}