{% extends 'base_template.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="col-xs-12 create-pay">
            <div class="col-xs-12">
                <p>Оплатить покупки</p>
                <form action="{{ form.target }}" method="POST" class="pay_form">
                    {% for field in form %}
                        {% if field.name == 'OutSum' %}
                            {% bootstrap_field field %}
                            <p>Данная сумма будет переведена в пользу сайта Bobsoccer.ru</p>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <button class="btn btn-success" type="submit">Оплатить</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12">
                <a type="button" class="btn btn-primary to-shop" href="{% url "shop:base" %}">Вернуться в магазин</a>
            </div>
        <div class="col-xs-12 padding-off web-pay">
            <a href="http://www.megastock.ru/" target="_blank"><img
                    src="{% static "img/stat/bil_icon_webmoney.png" %}"></a>
            &nbsp; &nbsp;
            <a href="http://money.yandex.ru/" target="_blank"><img
                    src="{% static "img/stat/bil_icon_yandex.png" %}"></a>
        </div>
    </div>
{% endblock %}
{% block additional_scripts %}
    <script>
        $('.pay_form').submit(function (e) {
            e.preventDefault();
            var self = this;
            var formData = new FormData(self);

            $.ajax({
                type: 'POST',
                url: '{% url 'transaction:payment' %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    data = JSON.parse(data);
                    var form = document.createElement('form');
                    form.action = $(self).attr('action');
                    form.method = 'POST';

                    for (var i in data){
                        if (data.hasOwnProperty(i)){

                            var input = document.createElement('input');
                            input.type = 'hidden';
                            input.name = i;
                            input.value = data[i];
                            form.appendChild(input);

                        }
                    }

                    document.body.appendChild(form);
                    console.log(data);
                    form.submit();
                }
            })
        })
    </script>
{% endblock %}