{% load mptt_tags %}
{% load staticfiles %}

{% recursetree comments %}
    <div class="interview_full_comment interview_full_user clear_fix">
{% with node.user as user %}
        <div class="col-xs-2 padding-off">
            <img src="
                   {% if user.photo %}{{ user.photo.url }}{% else %}{{ user.avatar.image.url }}{% endif %}"
                 width="80px" alt="" align="left">
        </div>
        <div class="col-xs-10">
            <a href="#">{{ user.username }}</a><span class="">{{ node.date }}</span>
            <div class="answer-info">{% if node.parent %}
                <a class="answer-name" href="{% url 'accounts:profile' pk=node.parent.user.pk %}">
                    {{ node.parent.user.username }},
                </a>{% endif %}{{ node.text|safe }}
            </div>
        </div>
        <div class="col-xs-12">
            <div class="interview_full_comment_info">
                <a href="#" class="answer_for_comment" data-id="{{ node.id }}" data-user="{{ user.username }}">Ответить</a>
                <p class="like_dislike">
                    <a class="like comment_like" data-action="like" data-comment="{{ node.pk }}"
                       href="#"></a>
                    <span>{{ node.likes }}</span>
                    <a class="dislike comment_like" data-action="dislike" data-comment="{{ node.pk }}" href="#"></a>
                </p>
            </div>
        </div>
    {% endwith %}
    </div>
    {% if not node.is_leaf_node %}
        {{ children }}
    {% endif %}

{% endrecursetree %}
