{% extends "base_template.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content-header %}
    {% include 'slider.html' %}
{% endblock %}
{% block content %}
<div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
<div class="central_column">
                <p class="caption"><img src="{% static 'img/tribuna/ball.png' %}"> НОВАЯ ТЕМА</p>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ><a href="{% url 'forum:forum' %}">СПИСОК ТЕМ</a></li>
                    <li role="presentation" class="active"><a href="{% url 'forum:forum_create' %}">НОВАЯ
                        ТЕМА</a></li>
                    <li role="presentation"><a href="#rules" aria-controls="rules" role="tab"
                                               data-toggle="tab">ПРАВИЛА</a></li>
                </ul>
    </div>
<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary" type="submit">Опубликовать</button>
</form>
</div>
{% endblock %}