{% extends "base_template.html" %}
{% load staticfiles %}

{% block content-header %}
    {% include 'slider.html' %}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna forum">
            <div class="central_column">
                <p class="caption">Форум</p>

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="{% url 'forum:forum' %}">СПИСОК ТЕМ</a></li>
                    <li role="presentation"><a href="{% url 'forum:forum_create' %}">НОВАЯ
                        ТЕМА</a></li>
                    <li role="presentation"><a href="#rules" aria-controls="rules" role="tab"
                                               data-toggle="tab">ПРАВИЛА</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="themelist">
                        <div class="activity_score">
                            <span class="activity_title_blue activity_title_other">{{ topic.name }}</span>

                            <div class="right_score">

                                <span class="comments_score">Начало темы: {{ topic.created_at|date:"d F Y H:i" }}</span>
                            </div>
                        </div>
                        <div class="interview_full_comment interview_full_user clear_fix">
                            <img class="user-ava-forum" src="{% static 'img/lk_ava.png' %}" width="80px" alt="" align="left">
                            <a href="#">Хулиганка</a>
                            <p>{{ topic.text|safe }}</p>
                        </div>
                        {% include '_comments.html' %}
                        {% include "create_messege.html" %}

                       {% include 'pagination.html' %}

                    </div>
                    <div role="tabpanel" class="tab-pane" id="newtheme">

                    </div>
                    <div role="tabpanel" class="tab-pane" id="rules">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -->
{% endblock content %}
{% block additional_scripts %}
{% endblock %}