{% extends "base_template.html" %}
{% load staticfiles %}

{% block content-header %}
    {% include 'slider.html' %}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna forum">
            <div class="central_column">
                <p class="caption">Форум</p>

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#themelist" aria-controls="themelist" role="tab"
                                                              data-toggle="tab">СПИСОК ТЕМ</a></li>
                    <li role="presentation"><a href="{% url 'forum:forum_create' %}">НОВАЯ
                        ТЕМА</a></li>
                    <li role="presentation"><a href="#rules" aria-controls="rules" role="tab"
                                               data-toggle="tab">ПРАВИЛА</a></li>
                </ul>
                <div class="forum-table-wrap">
                    <div class="forum-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Темы:</th>
                                    <th>Ответы:</th>
                                    <th>Последнее:</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for topic in object_list %}
                                <tr>
                                    <td>
                                        <div class="forum-table-name">
                                            <div class="hidden-title">тема:</div>
                                            <a href="{% url 'forum:tema' topic.pk %}">{{ topic.name }}</a>
                                        </div>
                                        <div class="forum-table-user">
                                            <a href="#">{{ topic.user }}</a>
                                            <span class="date-of-topic">{{ topic.created_at | date:"d M Y"}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="forum-table-answer">
                                            <div class="hidden-title">ответы:</div>
                                            <span>{{ topic.answers }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="forum-table-date">
                                            <div class="hidden-title">последнее:</div>
                                            <span>{{ topic.last_comment|date:'d F H:i' }}</span>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include 'pagination.html' %}
                </div>
{#                <div class="tab-content">#}
{#                    <div role="tabpanel" class="tab-pane active" id="themelist">#}
{#                        <div class="container-fluid">#}
{##}
{#                                <tr>#}
{#                                    <td><a href="{% url 'forum:tema' topic.pk %}"#}
{#                                           class="table_theme new_table_theme">{{ topic.topic_name }}</a><a#}
{#                                            href="{% url 'forum:tema' topic.pk %}"#}
{#                                            class="table_user">{{ topic.user__name }}</a> <span#}
{#                                            class="table_time">{{ topic.when_created|date:"d F Y H:i" }}</span></td>#}
{#                                    <td>{{ topic.comments_count }}</td>#}
{#                                    <td>{{ topic.last_comment|date:"d E Y H:i" }}</td>#}
{#                                </tr>#}
{#                            #}
{#                        </div>#}
{##}
{#                            <tr>#}
{#                                <td><a href="{% url 'forum:tema' 1 %}"#}
{#                                       class="table_theme new_table_theme">{{ topic.topic_name }}</a><a#}
{#                                        href="{% url 'forum:tema' 1 %}" class="table_user">{{ topic.user__name }}</a>#}
{#                                    <span class="table_time">{{ topic.when_created|date:"d F Y H:i" }}</span></td>#}
{#                                <td>{{ topic.comments_count }}</td>#}
{#                                <td>{{ topic.last_comment|date:"d E Y H:i" }}</td>#}
{#                            </tr>#}
{##}
                        {#                        <table class="forum_table" border="1">#}
                        {#                            <tr>#}
                        {#                                <th width="70%">ТЕМЫ:</th>#}
                        {#                                <th width="10%">ОТВЕТОВ</th>#}
                        {#                                <th width="20%">ПОСЛЕДНЕЕ</th>#}
                        {#                            </tr>#}
                        {#                            {% for topic in object_list %}#}
                        {#                                <tr>#}
                        {#                                    <td><a href="{% url 'forum:tema' 1 %}"#}
                        {#                                           class="table_theme new_table_theme">{{ topic.topic_name }}</a><a#}
                        {#                                            href="{% url 'forum:tema' 1 %}"#}
                        {#                                            class="table_user">{{ topic.user__name }}</a> <span#}
                        {#                                            class="table_time">{{ topic.when_created|date:"d F Y H:i" }}</span></td>#}
                        {#                                    <td>{{ topic.comments_count }}</td>#}
                        {#                                    <td>{{ topic.last_comment|date:"d E Y H:i" }}</td>#}
                        {#                                </tr>#}
                        {#                            {% endfor %}#}
                        {##}
                        {#                            <tr>#}
                        {#                                <td><a href="{% url 'forum:tema' 1 %}"#}
                        {#                                       class="table_theme new_table_theme">{{ topic.topic_name }}</a><a#}
                        {#                                        href="{% url 'forum:tema' 1 %}" class="table_user">{{ topic.user__name }}</a>#}
                        {#                                    <span class="table_time">{{ topic.when_created|date:"d F Y H:i" }}</span></td>#}
                        {#                                <td>{{ topic.comments_count }}</td>#}
                        {#                                <td>{{ topic.last_comment|date:"d E Y H:i" }}</td>#}
                        {#                            </tr>#}
                        {##}
                        {##}
                        {#                        </table>#}
{##}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>

{% endblock content %}