{% extends "base_template.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
       <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
    <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
        <input class="btn-success btn" type="submit">
    </form>
    <a class="re-password" href="{% url 'account_reset_password' %}">Восстановление пароля</a>
    </div>
{% endblock %}
