{% extends 'base_template.html' %}
{% load staticfiles %}
{% load collections %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/blog.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/photo.css" %}">
    {% endblock %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9  lk_float_right">
        <div class="tribuna interview">
            <div class="news_block">
                <div class="profile-top">
                    <div class="profile-img">
                        <div class="lk_avatar">
{#                                <img src="{% if user.photo %}{{ user.photo.url }}{% else %}{{ user.avatar.image.url }}{% endif %}" alt="">#}
                            <img src="{% static 'img/profile_logo/ava.png' %}" alt="">
                        </div>
                        <div class="lk_medals">
                            {% for gift in user.gifts.all %}
                                <a href="" class="" target="_blank">
                                    <img src="{{ gift.item.image.url }}" alt="">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="lk_info">
                        <div class="lk_info_block">
                            <div class="lk_login">
                                {{ user.username }}
                                <div class="lk_anouns">
                                    <span title="Набранные очки">400<span class="lk_blue">+0</span></span>
                                    <a class="lk_gray" href="" title="Что означают эти очки?">[<span>?</span>]</a>
                                </div>
                                <span class="user_status_message">Здрасте{{ user.descr }}</span>
                            </div>
                        </div>
                        <div class="lk_info_block">
                            <p class="lk_info_style"><span>пол:</span>{{ user.get_gender_display }}</p>
                            {% if user.country %}<p class="lk_info_style"><span>страна:</span>{{ user.country.name }}</p>{% endif %}
                            {% if user.city %}<p class="lk_info_style"><span>город:</span> {{ user.city.name }}</p>{% endif %}
                            <p class="lk_info_style"><span>команда:</span></p>
                        </div>
                        <div class="lk_info_block">
                            <p class="lk_info_style lk_date"><span>дата регистрации:</span>{{ user.date_joined }}</p>
                            <p class="lk_info_style"><span>последний раз был:</span>сейчас на сайте</p>
                        </div>
                    </div>
                    <div class="lk_command">
                        <div class="lk_myteam">
                           <p>Я болею за</p>
                           <img src="{% static 'img/457.png' %}" alt="">
                       </div>
                        {% if user.team %}
                       <div class="lk_myteam">
                           <p>Я болею за</p>
                           <img src="{{ user.team.logo.url }}" alt="">
                       </div>
                       {% endif %}
                    </div>
                    <div class="lk_links">
                        <a href="#">профиль</a>
                        {% if request.user == user %}
                            <a href="{% url 'accounts:profile_update' pk=request.user.pk %}">редактировать</a>
                            <a href="{% url 'accounts:user_items' %}">мои вещи</a>
                        {% else %}
                            {% if user in request.user.get_friends %}
                                В друзьях
                            {% elif user.id in request.user.friend_requests %}
                                Запрос отправлен
                            {% else %}
                                <a href="" class="friend_request" data-user="{{ user.id }}">добавить в друзья</a>
                            {% endif %}
                            <a href="" class="get_items">отправить подарок</a>
                            <div class="items"></div>
                        {% endif %}
                    </div>
                    <div class="lk_main_info">
                        <ul class="nav nav-tabs" role="">
                            <li><a href="{% url 'accounts:profile' pk=user.pk %}">профиль</a></li>
                            <li><a href="{% url 'accounts:article_list' pk=user.pk %}">блог</a></li>
                            <li><a href="{% url 'accounts:photos_all' pk=user.pk %}">фото</a></li>
                            <li><a href="{% url 'accounts:map' pk=user.pk %}" role="tab">я на карте</a></li>
                            {% if request.user == user %}
                                <li><a href="{% url 'accounts:profile_mail' pk=request.user.pk %}#inbox" aria-controls="five"
                                   class="lk_new_post"><span class="counter"><i>2</i></span>почта</a></li>
                            {% endif %}
                        </ul>
                        <div class="tab-content padding">
                            {% block tab_content %}{% endblock %}
                        </div>
                        <!--  <div class="col-xs-12 padding-off">
                              <div class="lk_arhiv">
                                  <ul>
                                      <li>Архив:</li>
                                      <li><a href="#">2010 год</a></li>
                                      <li><a href="#">2011 год</a></li>
                                      <li><a href="#">2012 год</a></li>
                                      <li><a href="#">2013 год</a></li>
                                      <li><a href="#">2014 год</a></li>
                                      <li><a href="#">2015 год</a></li>
                                      <li><a href="#">2016 год</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>

                      <div class="col-xs-12 padding-off">
                          <div class="now_chat">
                              <p class="now_chat_title">Сейчас обсуждается:</p>
                              <p class="now_chat_text"><a href="#">Сегодня 14:08</a> Максим Митрофанов: Наибольшие
                                  опасения
                                  сейчас вызывает транспортная логистика</p>
                              <p class="now_chat_text"><a href="#">Сегодня 14:07</a> Будогосский: программа работы
                                  одобрена, с
                                  нашим судейством нужно что-то делать</p>
                              <p class="now_chat_text"><a href="#">Сегодня 14:07</a> Сергей Ольшанский: Слуцкому нужно
                                  больше
                                  доверять Страндбергу, Траоре уже "поиграл"</p>
                          </div>
                      </div> !-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    {% if request.user != user %}
        <script>
        $('.friend_request').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url 'accounts:friend_request' %}',
                data: {'friend': $(this).data('user')},
                success: function (data) {
                    console.log(data)
                },
                error: function (error) {
                    console.log(error)
                }
            })
        });
        var items_block = $('.items');
        $('.get_items').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url 'accounts:items_get' %}',
                success: function (data) {
                    for (var item in data) {
                        if (data.hasOwnProperty(item)){
                            items_block.append('<img class="gift_send" data-item="' + data[item].id + '" src="' + data[item].image + '">');
                        }
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            })
        });
        items_block.on('click', '.gift_send', function () {
            $.ajax({
                type: 'POST',
                url: '{% url 'accounts:gift_send' %}',
                data: {
                    'item': $(this).data('item'),
                    'comment': 'Держи подарок',
                    'user_to': '{{ user.id }}'
                },
                success: function(data) {
                    console.log(data)
                },
                error: function (error) {
                    console.log(error)
                }
            })
        })
    </script>
    {% endif %}

    {% block profile_scripts %}
    {% endblock %}
{% endblock %}