{% extends 'base_template.html' %}
{% block content %}
    <div class="registration_block">
        <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
            <div class="central_column">
                <div class="text_align_center">
                    {% if not profile_update %}
                        <p class="caption">РЕГИСТРАЦИЯ НОВОГО ПОЛЬЗОВАТЕЛЯ</p>
                        <a href="{% url 'account_login' %}">Уже зарегистрированы на сайте?</a>
                    {% endif %}
                </div>
                <div class="reg_form">
                    <form action="" method="POST">
                        <input type="hidden" name="next" value="{% url 'success_signup' %}" />
                        {% for field in form %}
                            {{ field.errors }}
                            {% if field.html_name == 'captcha' %}
                                <div class="reg_input">
                                    <div class="reg_capcha">
                                        <span class="reg_input_name">{{ field.label }}</span>{{ field }}
                                        <p class="reg_input_desc bold">{{ field.help_text }}</p>
                                    </div>
                                </div>
                            {% elif field.html_name == 'rules' %}
                                <div class="reg_rules">
                                    <p>Регистрация на портале означает согласие с <a href="#">правилами</a></p>
                                    <div class="checkbox">
                                        {{ field }}
                                        <label for="{{ field.id_for_label }}"></label>
                                    </div>
                                </div>
                            {% elif field.html_name == 'birthdate' %}
                                <div class="reg_input">
                                    <div class="reg_capcha">
                                        <span class="reg_input_name">{{ field.label }}</span>
                                        <div class="date_of_birth">
                                        {{ field }}
                                        </div>
                                        <p class="reg_input_desc bold">{{ field.help_text }}</p>

                                    </div>
                                </div>
                            {% elif field.html_name == 'avatar' %}
                                <div class="reg_input">
                                    <span class="reg_input_name">Выберите свой образ:</span>
                                    <div class="profile_logo">
                                        <div class="radio">
                                            {% for radio in field %}
                                                {{ radio.tag }}
                                                <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                            {% else %}
                            <div class="reg_input">
                                <span class="reg_input_name">{{ field.label }}: {% if field.field.required %}<span class="star">*</span>{% endif %}</span>
                                {{ field }}
                                {% if field.help_text %}<p class="reg_input_desc">{{ field.help_text }}</p>{% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% csrf_token %}
                        <div class="registration_button">
                            <button class="btn btn-success" type="submit">Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}