{% extends 'base_template.html' %}
{% block title %}Успешная регистрация{% endblock %}
{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="reg_end">
            <div class="central_column">
                <p class="caption">Регистрация нового пользователя</p>
                <p class="success_text">ПОЗДРАВЛЯЕМ! <br>ВЫ УСПЕШНО ПРОШЛИ РЕГИСТРАЦИЮ!</p>
                <p href="#" class="success_desc">На Ваш e-mail адрес было отправлено письмо с ссылкой на подтверждение</p>
            </div>
        </div>
    </div>
{% endblock %}