{% load relativedate %}
<div class="comment">
    <div class="activity_score">
        <span class="when">
            {% if article.is_popular %}<span class="red_rating"></span>{% endif %}
            {% if article.is_commentable %}<span class="red_comment"></span>{% endif %}
                {{ article.when_created.date|reldate }}, {{ article.when_created.time }}
        </span>
        <div class="right_score">
            <span class="comments_score">{{ article.comments.count }}</span>/<span class="saw_score">{{ article.total_views }}</span>
        </div>
    </div>
    <a href="{% url 'accounts:article_detail' article.user.pk article.pk %}"><p>{{ article.title }}</p></a>
    <p>{{ article.announce }}</p>
</div>