{% extends "base_template.html" %}
{% load staticfiles %}
{% load cache %}

{% block content-header %}
    {% include 'slider.html' %}
{% endblock %}
{#    здесь весь раздел новостей, надо раскоментить, а код одной статьи с коментами перенести#}

{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna">
            <div class="central_column">
                <p class="caption news_caption">{{ article_type }}</p>

            {% cache 100 articles_block %}
                <div class="news_block">
                    {% for object in object_list %}
                        <div class="comment">
                            <div class="activity_score">
                                <span class="activity_title"><a
                                        href="{% url 'accounts:article_detail' object.user.pk object.pk %}">{{ object.title|safe }}</a></span>
                                <div class="right_score">
                                    <span class="comments_score">{{ object.when_created }}</span><span
                                        class="saw_score">{{ object.total_views }}</span>
                                </div>
                            </div>
                            <div class="profile_tribuna">
                                <a href="#">
                                    <img src="{% static "img/lk_ava.png" %}" width="70px" alt="">
                                    <span class="nickname_tribuna">{{ object.user }}</span>
                                </a>
                            </div>
                            <div class="comment_right">
                                <p>{{ object.text|truncatechars_html:100|safe }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {% if is_paginated %}
                        {% include 'pagination.html' %}
                    {% endif %}
                    <div class="now_chat">
                        <p class="now_chat_title">Сейчас обсуждается:</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:08</a> Максим Митрофанов: Наибольшие опасения
                            сейчас вызывает транспортная логистика</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a> Будогосский: программа работы одобрена, с
                            нашим судейством нужно что-то делать</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a> Сергей Ольшанский: Слуцкому нужно больше
                            доверять Страндбергу, Траоре уже "поиграл"</p>
                    </div>
                </div>
            {% endcache %}

                <!-- <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#avtor" aria-controls="avtor" role="tab" data-toggle="tab">Авторские</a></li>
                    <li role="presentation"><a href="#istok" aria-controls="istok" role="tab" data-toggle="tab">Из источников</a></li>
                    <li role="presentation"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">Все</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="avtor">


                    </div>
                    <div role="tabpanel" class="tab-pane" id="istok">
                        <div class="comment">
                            <div class="activity_score">
                                <span class="when">Сегодня, 12:46</span>
                                <div class="right_score">
                                    <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                                </div>
                            </div>
                            <a href="#"><p>Лодыгин: с "Ростовом" у меня была не одна ошибка, вся игра в целом не удалась</p></a>
                            <p>Вратарь "Зенита" Юрий Лодыгин признался, что в домашней встрече с...</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="all">
                        <div class="comment">
                            <div class="activity_score">
                                <span class="when">Сегодня, 12:46</span>
                                <div class="right_score">
                                    <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                                </div>
                            </div>
                            <a href="#"><p>Лодыгин: с "Ростовом" у меня была не одна ошибка, вся игра в целом не удалась</p></a>

                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>



{% endblock content %}
{% block additional_scripts %}

    <script src="{% static 'js/jquery.barrating.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#rating_photo').barrating({
                theme: 'fontawesome-stars'
            });
        });
    </script>
{% endblock %}