{% extends "base_template.html" %}
{% load staticfiles %}

{%block additional_links %}
    <link rel="stylesheet" href="{% static "css/fontawesome-stars.css" %}">
{% endblock %}

{% block content-header %}
    {% include 'slider.html'%}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption interview_caption">Интервью</p>
                <div class="news_block">
                    <div class="interview_full">
                        <div class="interview_full_user">
                            <img src="{{ article.user.avatar.image.url }}" alt="">
                            <a href="#">{{ article.user.username }}</a>
                        </div>
                        <div class="activity_score">
                            <span class="activity_title_other">{{ article.person.name }}</span>
                            <div class="right_score">
                                <span class="comments_score">{{ article.when_created|date:'j E' }} {{ article.when_created|time:"H:i" }}</span>
                            </div>
                        </div>
                        <p>{{ article.text|linebreaksbr }}</p>
                        <div class="your_rate">
                            <p>Ваша оценка: <span>нет</span></p>
                            <p class="average_rate"> Средняя: <span>4</span> <span>(1 голос)</span></p>
                            <select id="rating_photo">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                        </div>
                        <div class="central_column">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#comment" aria-controls="comment" role="tab" data-toggle="tab">Комментарии</a></li>
                                <li role="presentation"><a href="#addcomment" aria-controls="addcomment" role="tab" data-toggle="tab">Добавить комментарий</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="comment">
                                    {% include '_comments.html' with comments=article.comments.all like_enabled=True%}
                                </div>
                                <div role="tabpanel" class="tab-pane" id="addcomment">

                                </div>
                            </div>
                        </div>
                        <div class="interview_full_message clear_fix">
                            <form action="">
                                <textarea name="" id="" cols="30" rows="10" placeholder="Напишите сообщение..."></textarea>
                                <button>Отправить</button>
                            </form>
                        </div>
                        <div class="interview_full_reg">
                            <p class="interview_full_reg_caption">АВТОРИЗИРУЙТЕСЬ ИЛИ ЗАРЕГИСТРИРУЙТЕСЬ</p>
                            <div class="interview_full_reg_vhod">
                                <form action="">
                                    <div class="social">
                                    <a href="#" class="button_head"></a>
                                    <a href="#" class="button_head"></a>
                                    <a href="#" class="button_head"></a>
                                    </div>
                                    <input type="text" placeholder="Имя или email">
                                    <input type="text" placeholder="Пароль">
                                    <button>Войти</button>
                                </form>
                            </div>
                            <div class="interview_full_reg_reg">
                                <form action="">
                                    <input type="text" placeholder="Имя">
                                    <input type="text" placeholder="Email">
                                    <input type="text" placeholder="Пароль">
                                    <img src="{% static 'img/interview/capcha.png' %}" alt="" class="interview_full_reg_capcha">
                                    <input type="text" placeholder="Код" class="input_for_capcha">
                                    <p>буквы вводятся в учетом регистра</p>
                                    <button>Зарегистрироваться</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="now_chat">
                        <p class="now_chat_title">Сейчас обсуждается:</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:08</a>   Максим Митрофанов: Наибольшие опасения сейчас вызывает транспортная логистика</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Будогосский: программа работы одобрена, с нашим судейством нужно что-то делать</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Сергей Ольшанский: Слуцкому нужно больше доверять Страндбергу, Траоре уже "поиграл"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block additional_scripts %}
<script src="{% static 'js/jquery.barrating.min.js' %}"></script>
<script type="text/javascript">
   $(function() {
      $('#rating_photo').barrating({
        theme: 'fontawesome-stars'
      });
   });
</script>
{% endblock %}