{% extends "base_template.html" %}
{% load staticfiles %}

{% block content-header %}
    {% include 'slider.html'%}
{% endblock %}

{% block right-content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna">
            <div class="central_column">
                <p class="caption news_caption">Новости</p>
                <div class="news_block">
                    {% for article in object_list %}
                        <div class="comment">
                            <div class="activity_score">
                                <span class="activity_title">{{ article.title }}</span>
                                <div class="right_score">
                                    <span class="comments_score"></span>{{ article.when_created|date:'d.m.Y' }}
                                    <span class="saw_score">145</span>
                                </div>
                            </div>
                            <div class="profile_tribuna">
                                <a href="#">
                                <img src="{{ article.user.avatar.image.url }}" alt="">
                                <span class="nickname_tribuna">{{ article.user.avatar.name }}</span>
                                </a>
                            </div>
                            <div class="comment_right">
                                <p>{{ article.announce|linebreaksbr }}</p>
                            </div>
                        </div>
                    {% endfor %}
{% include 'pagination.html' %}
                    <div class="now_chat">
                        <p class="now_chat_title">Сейчас обсуждается:</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:08</a>   Максим Митрофанов: Наибольшие опасения сейчас вызывает транспортная логистика</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Будогосский: программа работы одобрена, с нашим судейством нужно что-то делать</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Сергей Ольшанский: Слуцкому нужно больше доверять Страндбергу, Траоре уже "поиграл"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock right-content %}