{% load staticfiles %}

{% if is_paginated %}
<div class="page_list" id="pagination">
    <ul>
      {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}">
                <img src="{% static 'img/tribuna/arrow_l.png' %}" alt="">
            </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">
            <img src="{% static 'img/tribuna/arrow.png' %}" alt="">
          </a>
        </li>
      {% endif %}
    </ul>
</div>
{% endif %}
