{% extends "base_template.html" %}
{% load staticfiles %}

{% block content-header %}
    {% include 'slider.html'%}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption">Интервью</p>
                <div class="news_block">
                    <div class="interview_people">
                        <div class="people_ul clear_fix">
                            <ul>
                                {% for person in object_list %}
                                    <li><img src="{{ person.image.url }}" alt=""><a href="{% url 'blogs:person_page' person.type person.id %}">{{ person.name }}</a> </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% include 'blogs/pagination.html' %}
                    <div class="now_chat">
                        <p class="now_chat_title">Сейчас обсуждается:</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:08</a>   Максим Митрофанов: Наибольшие опасения сейчас вызывает транспортная логистика</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Будогосский: программа работы одобрена, с нашим судейством нужно что-то делать</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Сергей Ольшанский: Слуцкому нужно больше доверять Страндбергу, Траоре уже "поиграл"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}