{% load staticfiles %}

<div class="people_ul clear_fix">
    <ul>
        {% for person in persons_list %}
            <li><img src="{{ person.image.url }}" alt=""><a href="{% url 'blogs:person_page' person.type person.id %}">{{ person.name }}</a> </li>
        {% endfor %}
    </ul>
    <a href="{% url 'blogs:persons_type_interviews' pr_type=person_type %}" class="people_ul_button">Все</a>
</div>