{% extends "base_template.html" %}
{% load staticfiles %}

{% block content-header %}
    {% include 'slider.html' %}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption">Интервью</p>
                <div class="news_block">
                    {% if types.players %}
                        <div class="interview_people">
                            <div class="activity_score">
                                <div class="activity_title_other">
                                    <span>Игроки</span>
                                </div>
                            </div>
                            <div class="people_ul clearfix">
                                <ul class="person-block-wrap">
                                    {% for i in types.players %}
                                        <li>
                                            <div class="person-block">
                                                <div class="person-img">
                                                    <img src="{{ i.image.url }}" alt="">
                                                    <div class="person-team">
                                                        <img src="{% static 'img/loko.png' %}" alt="">
                                                    </div>
                                                </div>
                                                <a href="{% url 'blogs:person_page' 'player' i.id %}">{{ i.name }}</a>
                                                <div>
                                                    дата <br>
                                                    {% for author in i.authors %}
                                                        <a class="user-int" href="#">{{ author.user__username }}</a><span>-{{ author.c }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <a href="{% url 'blogs:persons_type_interviews' 'player' %}" class="people_ul_button">Все</a>
                            </div>

                        </div>
                    {% endif %}
                    {% if types.coaches %}
                        <div class="interview_people">
                            <div class="activity_score">
                                <div class="activity_title_other">
                                    <span>Тренеры</span>
                                </div>
                            </div>
                            <div class="people_ul clearfix">
                                <ul class="person-block-wrap">
                                    {% for i in types.coaches %}
                                        <li>
                                            <div class="person-block">
                                                <div class="person-img">
                                                    <img src="{{ i.image.url }}" alt="">
                                                    <div class="person-team">
                                                        <img src="{% static 'img/loko.png' %}" alt="">
                                                    </div>
                                                </div>
                                                <a href="{% url 'blogs:person_page' 'coach' i.id %}">{{ i.name }}</a>
                                                <div>
                                                    дата <br>
                                                    {% for author in i.authors %}
                                                        <a class="user-int" href="#">{{ author.user__username }}</a><span>-{{ author.c }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <a href="{% url 'blogs:persons_type_interviews' 'coach' %}" class="people_ul_button">Все</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if types.specs %}
                        <div class="interview_people">
                            <div class="activity_score">
                                <div class="activity_title_other">
                                    <span>Специалисты</span>
                                </div>
                            </div>
                            <div class="people_ul clearfix">
                                <ul class="person-block-wrap">
                                    {% for i in types.specs %}
                                        <li>
                                            <div class="person-block">
                                                <div class="person-img">
                                                    <img src="{{ i.image.url }}" alt="">
                                                    <div class="person-team">
                                                        <img src="{% static 'img/loko.png' %}" alt="">
                                                    </div>
                                                </div>
                                                <a href="{% url 'blogs:person_page' 'spec' i.id %}">{{ i.name }}</a>
                                                <div>
                                                    дата <br>
                                                    {% for author in i.authors %}
                                                        <a class="user-int" href="#">{{ author.user__username }}</a><span>-{{ author.c }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <a href="{% url 'blogs:persons_type_interviews' 'spec' %}" class="people_ul_button">Все</a>
                            </div>
                        </div>
                    {% endif %}

                    <div class="now_chat">
                        <p class="now_chat_title">Сейчас обсуждается:</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:08</a> Максим Митрофанов: Наибольшие опасения
                            сейчас вызывает транспортная логистика</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a> Будогосский: программа работы одобрена, с
                            нашим судейством нужно что-то делать</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a> Сергей Ольшанский: Слуцкому нужно больше
                            доверять Страндбергу, Траоре уже "поиграл"</p>
                    </div>


                </div>

            </div>
        </div>
    </div>
{% endblock content %}