{% extends "base_template.html" %}
{% load staticfiles %}

{%block additional_links %}
    <link rel="stylesheet" href="{% static "css/fontawesome-stars.css" %}">
{% endblock %}

{% block content-header %}
    {% include 'slider.html'%}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption interview_caption">Интервью</p>
                <div class="news_block">
                    <div class="interview_full">
                        <div class="interview_razdel_player">
                            <img width="120px" height="120px" src="{{ person.image.url }}" alt="" class="interview_razdel_player_logo">
                            <div class="interview_razdel_player_team">
                                <p>{{ person.get_type_display }}</p>
                                <img width="90px" height="90px" src="{{ person.team.logo.url }}" alt="">
                            </div>
                            <div class="interview_razdel_player_text">
                                <p class="interview_razdel_name">{{ person.name }}</p>
                                <p>{{ person.info }}</p>
                            </div>
                        </div>
                        {% for article in articles %}
                        <div class="activity_score">
                            <a href="{% url 'accounts:article_detail' article.user.id article.id %}" class="activity_title_other">{{ person.name }}</a>
                            <div class="right_score">
                                <span class="comments_score">{{ article.when_created|date:"j E H:i" }}</span>
                            </div>
                        </div>
                        <div class="interview_razdel_comment">
                            <div class="interview_razdel_comment_left">
                                <img src="{% static 'img/interview/ava.png' %}" alt="">
                                <a href="#">{{ article.user.username }}</a>
                            </div>

                                <p>{{ article.title }}</p>
                                <div>{{ article.anounce }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{##}
{% block additional_scripts %}
<script src="{% static 'js/jquery.barrating.min.js' %}"></script>
<script type="text/javascript">
   $(function() {
      $('#rating_photo').barrating({
        theme: 'fontawesome-stars'
      });
   });
</script>
{% endblock %}