{% extends "base_template.html" %}
{% load staticfiles %}
{% load collections %}

{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption">Видеоблоги</p>
                <div class="news_block">
                    <div class="videoblog clearfix">
                        {% for i in object_list %}
                            <div>
                                <a class="videoblog-img" href="{% url 'accounts:article_detail' i.user.pk i.pk %}"
                                   style="background:url('{{ i.video_cover|get_video_cover }}') no-repeat center;background-size:cover">
                                    <span>{{ i.announce }}</span>
                                </a>
                                <a class="videoblog-title">{{ i.title }}</a>
                            </div>
                        {% endfor %}
                        {% include 'blogs/pagination.html' %}
                    </div>
                    <div class="now_chat">
                        <p class="now_chat_title">Сейчас обсуждается:</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:08</a>   Максим Митрофанов: Наибольшие опасения сейчас вызывает транспортная логистика</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Будогосский: программа работы одобрена, с нашим судейством нужно что-то делать</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Сергей Ольшанский: Слуцкому нужно больше доверять Страндбергу, Траоре уже "поиграл"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
