{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}
<div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
          <div class="pageName">
            <img class="caption" src="{% static 'img/stat/ball.png' %}"/>О проекте Bobsoccer
          </div>
          <ul class="nav nav-pills SubSection">
            <li><a href="/about/levels/">О баллах и уровнях</a></li>
            <li><a href="/about/stuff/">О фишках и карточках </a></li>
            <li><a href="/about/rules/">Правила</a></li>
          </ul>
          <strong>Bobsoccer.ru:</strong>Портал со знаком качества<br />
          <br />
          Портал о футболе Bobsoccer.ru приветствует вас!<br />
          <br />
          <strong>Песня о Бобсоккере: Нам четыре года</strong><br />
          <br />
          5-го октября 2013 года нашему порталу исполнилось четыре года. Все что мы, эксперты, могли сказать об этом периоде нашей с вами совместной жизни, сказали в ответах на вопросы, которые задавали нам посетители. <br />
          <br />
          <strong>Александр Владыкин:</strong><br />
          <br />
          <a href="http://www.bobsoccer.ru/user/3171/blog/?item=191365&amp;arc=2013">Александр Владыкин о жизни, футболе и журналистике</a> <br />
          <a href="http://www.bobsoccer.ru/user/3171/blog/?item=191704&arc=2013">"Спартак" любят везде. И любят, и ненавидят. Это нормально</a><br />
          <br />
          <strong>Алексей Андрианов:</strong><br />
          <br />
          <a href="http://www.bobsoccer.ru/user/6615/blog/?item=191864&arc=2013">Моя любимая эпоха в истории клуба- 1980 -1984 гг , Морозов и Садырин. Все остальное - время рассудит.</a><br />
          <a href="http://www.bobsoccer.ru/user/6615/blog/?item=192081&arc=2013">"Футбола много не бывает." Эксперт Бобсоккера Алексей Андрианов о себе и о футболе</a><br />
          <strong><br />
          Максим Квятковский:</strong><br />
          <br />
          <a href="http://www.bobsoccer.ru/user/871/blog/?item=192184&arc=2013">Максим Квятковский: "Автографы у Марадоны, Месси и Роналдинью брал для друзей"</a><br />
          <a href="http://www.bobsoccer.ru/user/871/blog/?item=192307&arc=2013">Максим Квятковский: "Вагнер Лав передает приветы из Китая"</a><br />
          <br />
          <strong>Борис Тосунян:</strong><br />
          <br />
          <a href="http://www.bobsoccer.ru/user/339/blog/?item=192526&arc=2013">Борис Тосунян: Что-то вроде "Бобсоккера" хотели создать еще тогда, когда работали в "СЭ"</a><br />
          <br />
          К четырехлетию была подготовлена и песня. На обложке компакт-диска - эксперты портала Алексей Андрианов, Александр Владыкин, Сергей Шавло, Виктор Понедельник, Максим Квятковский и Борис Тосунян, а также бывшие эксперты Георгий Кудинов и Юрий Бутнев.<br />
          <br />
          <div class="ImageContent text-center"><img class="ImageContent1" src="{% static 'img/stat/702.73312.Cover_CD.jpg'%} " alt="" /></div>
          <br />
          <div class="ContentAudioPlayer text-center">
            <script src="/video/swfobject.js" type="text/javascript"></script>
            <object width="500" height="65" type="application/x-shockwave-flash" data="http://www.bobsoccer.ru/video/uppod.swf" id="audioplayer_187" style="visibility: visible;">
              <param name="wmode" value="transparent" />
              <param name="allowScriptAccess" value="always" />
              <param name="id" value="audioplayer_187" />
              <param name="flashvars" value="uid=audioplayer_187&amp;comment=Песня о Бобсоккере: Нам четыре года&amp;st=02AchBGsD=xOIcCOf4E2MipsNnasQnX6BGJRfwV9k2GhRSGfLk0Q6YWNnYvNnzsW5ntu0c9BMrA&amp;file=Zpl7VNUWixBxBnTL8tY18tDja4eGVyoWJ4c6ZvbWauF7JSb3ONVGltR28RgL8tY18t2=a4Yh4zbG84A1&amp;nocache=1" />
            </object>
            <script type="text/javascript">
              var flashvars = {"uid":"audioplayer_187","comment":"Песня о Бобсоккере: Нам четыре года","st":"02AchBGsD=xOIcCOf4E2MipsNnasQnX6BGJRfwV9k2GhRSGfLk0Q6YWNnYvNnzsW5ntu0c9BMrA", "file":"Zpl7VNUWixBxBnTL8tY18tDja4eGVyoWJ4c6ZvbWauF7JSb3ONVGltR28RgL8tY18t2=a4Yh4zbG84A1", "nocache":"1"};
              var params = {wmode:"transparent", allowScriptAccess:"always",id:"audioplayer_187"};
                            new swfobject.embedSWF("http://www.bobsoccer.ru/video/uppod.swf", "audioplayer_187", "500%", "65", "9.0.115.0", false, flashvars, params);
              </script>
            </div>

          <br />
          Наш портал основан 5 октября 2009 года тремя известными спортивными журналистами, которые до этого много лет трудились в газете &laquo;Спорт-Экспресс&raquo;.<br />
          Bobsoccer.ru уже достиг определенных успехов, но не собирается останавливаться на достигнутом. Мы сделали ставку на освещение элитного футбола и не прогадали. Наши пользователи отмечают, что портал завоевал славу самого правдивого СМИ среди спортивных изданий России. Писать правду<br />
          и только правду &ndash; жизненный принцип собранных под нашими знаменами журналистов. Объясняясь нам в любви, читатели говорят так: именно тут можно найти самую оперативную и в то же время достоверную информацию. Bobsoccer.ru является порталом со знаком качества.<br />
          <br />
          Кроме того, мы изначально задумывали объединить болельщиков ведущих команд страны. Хотим сделать то, что до сих пор считалось невозможным: сблизить почитателей &quot;Спартака&quot;, ЦСКА и &quot;Зенита&quot;. Это, заметим, нам уже удается. Мы регулярно сообщаем о том, что происходит в трех ведущих футбольных клубах России, время от времени поставляем новости из &laquo;Рубина&raquo;, &laquo;Динамо&raquo; и &laquo;Локомотива&raquo;. Разумеется, у нас присутствует регулярная информация и о сборной России.<br />
          <br />
          Наш конек &ndash; эксклюзивные материалы. На нашем портале регулярно появляются видеоинтервью с руководителями ведущих российских клубов и самыми яркими звездами, выступающими в чемпионате России и в нашей сборной. Все материалы мы делаем сами, поскольку за эти годы накопили обширные связи в мире футбола. Кроме того, интервью нашему порталу давали звезды мировой величины, к примеру, Висенте дель Боске, Оттмар Хитцфельд, Герд Мюллер.<br />
          <br />
          Мы всегда стремимся к доброжелательной атмосфере на портале. Сразу решили, что будем открыты для общения с пользователями. Bobsoccer.ru быстро завоевал славу портала для приятных дискуссий, в которых участвуют самые адекватные болельщики страны. О портале заговорили сразу после основания, дела быстро пошли в гору. В крупнейших изданиях России и мира появились многочисленные ссылки на нашу информацию. Приставка beta, которая до сих пор красуется у нас рядом с логотипом, означает, что мы всегда стремимся к лучшему. К слову, знаменитая поисковая<br />
          система Google убрала приставку beta из своего названия только пару лет назад.<br />
          <br />
          Компания &quot;Борис-медиа&quot;, куда входит портал Bobsoccer.ru, задумана как большой спортивный проект. В ближайшее время планируем заняться раскруткой другой продукции, а также созданием своего радио и телевидения. Соответствующий опыт у нас есть, поскольку эксперты портала постоянно получают приглашения на радиостанции и телевизионные каналы. Отметим также, что на портале регулярно появляются эксклюзивные аудио и видеоматериалы.<br />
          <br />
          В будущем надеемся добавить в содружество болельщиков элитных клубов России и фанатов ведущих зарубежных команд. У нас много планов, жизнь на нашем портале бурлит круглосуточно.<br />
          <br />
          Bobsoccer.ru &ndash; это интересно и престижно. Присоединяйтесь!<br />
          <br />
          <br />
          Для связи можно использовать:<br />
          <em><strong>info@boris-media.com</strong></em><br />
          <br />
          <strong>Реквизиты:</strong><br />
          OOO &laquo;Борис-Медиа&raquo; <br />
          Юридический адрес: 142000, Московская область, г. Домодедово, ул. Промышленная, д.5 <br />
          ИНН 5009071502<br />
          Р/с 40702810909000069698 в ОАО &laquo;Нордеа Банк&raquo; г. Москва <br />
        </div>
{% endblock %}