{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}
<div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
          <div class="pageName">
            <img class="caption" src="{% static 'img/stat/ball.png' %}"/>Использование материалов портала
          </div>
          <div class="Content"><div>Вся полнота авторских прав на все материалы, опубликованные на сервере Bobsoccer.Ru, за исключением особо оговоренных случаев, принадлежит компании &laquo;Борис-Медиа&raquo;. Исключения касаются редких случаев прямой перепечатки на нашем сервере чужой информации, в отношении которой &laquo;Борис-Медиа&raquo; принадлежит лишь право публикации. Все такие исключения всегда прямо оговорены в тех текстах, которых они касаются.</div>
          <div>&nbsp;</div>
          <div>Любые статьи, опубликованные в архиве на сервере Bobsoccer.Ru bobsoccer.ru, не могут быть републикованы где бы то ни было без разрешения компании &laquo;Борис-Медиа&raquo;. За разрешением следует обращаться по info@boris-media.com.</div>
          <div>&nbsp;</div>
          <div class="BlueArrowDiv">Бесплатно и без разрешения можно цитировать все остальные материалы, опубликованные в открытом доступе на сервере Bobsoccer.Ru, и авторские права на которые принадлежат компании &laquo;Борис-Медиа&raquo;, <b>при условии</b>, что объем цитирования составляет не более 50% новой публикации, в которой оно используется, и для цитирования используется не более 30% исходной статьи. Это разрешение в равной степени распространяется на сайты газет, журналов, радиостанций, телеканалов, на сайты и страницы сети Интернет, предоставляющие доступ к своему контенту на безвозмездной основе. <b>Сайты, взимающие плату за доступ к своему содержимому, должны заключить с нами официальный договор</b>.</div>
          <div>&nbsp;</div>
          <div>Обязательным условием онлайновой перепечатки является полная ссылка на первоисточник. Предварительного согласия на перепечатку со стороны издателей или авторов компании &laquo;Борис-Медиа&raquo; не требуется. Однако существует ряд требований, которые необходимо соблюдать при републикации. Вот они:</div>
          <ul class="BlueArrowUL">
              <li>Необходимо всегда указывать имя автора и название статьи, если они указаны в оригинале.</li>
              <li>При републикации нельзя вносить в текст какую-либо правку; возможны лишь сокращения, обозначаемые знаком купюры: [...].</li>
              <li>Ссылку (прямую, без редиректа, читаемым невооруженным глазом шрифтом) при републикации нужно давать не на главную страницу http://www.bobsoccer.ru, а на непосредственный адрес оригинала статьи.</li>
              <li>Явно запрещается распространять материалы портала Bobsoccer.Ru в интернете в виде отдельных скачиваемых файлов (.zip, .pdf и пр); возможен только html-формат.</li>
          </ul>
          <div>При несоблюдении этих требований вы рискуете иском со стороны компании &laquo;Борис-Медиа&raquo;.<br />
          &nbsp;</div>
          <div>Это разрешение не может быть распространено на материалы информационных агентств и наших официальных партнеров, которые у нас перепечатываются по лицензии. По вопросам перепечатки этих материалов, включая материалы&nbsp;официальных партнеров компании &laquo;Борис-Медиа&raquo;, следует обращаться непосредственно к первоисточнику. То же самое относится к авторским правам на иллюстративные материалы, используемые на нашем сервере. Если в поле ALT или подписи какой-либо иллюстрации указано, кроме имени автора, название компании-правообладателя, по вопросам воспроизведения графики следует обращаться непосредственно к ней. <br />
          &nbsp;</div>
          <div>Для воспроизведения материалов портала Bobsoccer.Ru на любых других носителях, будь то бумажные издания, CD-выпуски, радиотрансляции и пр., необходимо заключить <b>договор с компанией &laquo;Борис-Медиа&raquo;</b>. <br />
          &nbsp;</div>
          <div>Портал Bobsoccer.Ru <strong>оставляет за собой право запретить</strong> отдельным Интернет-ресурсам (в явной письменной форме) пользоваться своими материалами и статьями. <br />
          &nbsp;</div>
          <div><b>Любое использование материалов с нарушением вышеперечисленных условий является платным и регламентируется соответствующим договором</b>.<br />
          &nbsp;</div>
          <div class="BlueArrowDiv">Портал Bobsoccer.Ru предоставляет несколько вариантов платного использования материалов:<br />
          <br />
          В случаях необходимости использования уже опубликованных материалов портала Bobsoccer.Ru способами и объемами, не подпадающими под бесплатное, следует обратиться в компанию &laquo;Борис-Медиа&raquo; для получения соответствующего разрешения. Расценки на платное использование приведены в таблице ниже. Платное использование возможно только на основе <b>предоплаты</b> за используемые материалы. По вопросам платного использования, заключения договора и оплаты следует обращаться по <a href="mailto:info@boris-media.com">info@boris-media.com</a>. Условия о соблюдении авторского права в данном случае должны быть выполнены полностью. Приведенные ниже расценки касаются только текстовых материалов. Условия использования фото-&nbsp;и видео- материалов оговариваются в каждом случае отдельно. Минимальное количество публикаций по одному договору &ndash; 20 материалов.<br />
          <br />
          Расценки на перепубликацию статей:</div>
          <table class="table table-bordered text-center">
              <tbody>
                  <tr class="info ">
                      <th colspan="2" class="text-center">Интернет-издания</th>
                      <th colspan="2" class="text-center">Печатные СМИ</th>
                  </tr>
                  <tr class="info">
                      <td>Кол-во статей в год</td>
                      <td>Стоимость перепечатки одной статьи, евро</td>
                      <td>Тираж издания</td>
                      <td>Стоимость перепечатки одной статьи, евро</td>
                  </tr>
                  <tr class="info">
                      <td>До 50</td>
                      <td>30</td>
                      <td>До 5 тыс.</td>
                      <td>40</td>
                  </tr>
                  <tr class="info">
                      <td>Свыше 50</td>
                      <td>40</td>
                      <td>До 10 тыс.</td>
                      <td>50</td>
                  </tr>
              </tbody>
          </table>
          <div class="BlueArrowDiv">Портал Bobsoccer.Ru также может предоставить <b>эксклюзивные материалы в публикацию избранным ресурсам за час\30 минут</b> до их публикации на портале Bobsoccer.Ru. В этом случае заинтересованный ресурс становится на информационное обслуживание портала Bobsoccer.Ru. В зависимости от срока абонентского периода (4 мес \ 6 мес \ 1 год \ 2 года) и необходимого времени до выхода материала (30 минут\1 час) определяется стоимость услуги и заключается договор.</div></div>

          </div>
{% endblock %}