{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}
<div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
          <div class="pageName">
            <img class="caption" src="{% static 'img/stat/ball.png' %}"/>Реклама на портале
          </div>
          <div class="Content"><h3><b>Уважаемые господа!</b></h3>
          <img width="120" align="right" hspace="0" height="180" src="{% static 'img/stat/20oct_komiks1.jpg'%}" alt="" /> Портала <a href="http://www.bobsoccer.ru/">www.bobsoccer.ru</a> является профессиональной информационной площадкой, объединяющей футбольное сообщество. Мы будем рады видеть вас в числе своих рекламодателей. <br />
          <br />
          <h4>Аудитория портала</h4>
          <p>Аудитория портала BobSoccer обладает привлекательным социально-экономическим портретом. Более половины аудитории относятся к категории обеспеченных и высокообеспеченных. Топ-группа по показателю самооценки материального положения семьи (высокообеспеченные) составляют 27% аудитории, что более чем в 2 раза выше, чем среди населения России в целом.</p>
          <br />
          <br />
          <p><img width="120" align="right" hspace="0" height="172" src="{% static 'img/stat/_01_fin(1).jpg'%}" alt="" />Наибольший отрыв в уровне благосостояния типичного представителя нашей аудитории от среднестатистического россиянина наблюдается по показателю потребительской активности, основанному на информации о расходах. Это означает, что пользователи не только обладают сравнительно высокими доходами, но и активно тратят свои доходы на приобретение товаров и услуг. По ответам наших респондентов сервисы, предлагаемые порталом, найдут живейший отклик.</p>
          <p>Аудитория отличается большой концентрацией молодых представителей с активной жизненной позицией, ведущих активный образ жизни. Им свойственно посещать кафе, рестораны и бары и увлекаться спортом. Разнообразие способов проведения досуга, характерных аудитории, говорит о том, что они не только отличаются активным образом жизни, но и имеют достаточно средств на его реализацию.</p>
          <br />
          <br />
          <p><img width="120" align="right" hspace="0" height="163" src="{% static 'img/stat/_04_fin(1).jpg'%}" alt="" />Пользователи обладают высокой самооценкой, уверены в своих силах, ориентированы на путешествия и вовлеченность в жизнь футбольного мира. При этом они &laquo;любят рисковать&raquo;, им &laquo;нравится попадать в новые и необычные ситуации&raquo;, &laquo;быть за рамками стандарта&raquo;. Анализ распределения аудитории по психографическим типам свидетельствует о сравнительно высокой концентрации в аудитории людей, &laquo;достигших успеха&raquo;, &laquo;благополучных&raquo; и &laquo;новаторов&raquo;.<br />
          <br />
          Таким образом, <strong>портал BobSoccer является удачной площадкой для размещения вашей рекламы</strong>.&nbsp; Портал может предложить для сотрудничества баннерную рекламу рекламные статьи и акции, блиц-исследования, возможность ведения собственного блога и др. Портал приветствует нестандартные формы взаимодействия с потребителем, максимально ориентируясь на <strong><em>entertaining advertising</em></strong>.<br />
          &nbsp;</p>
          <strong>Схема размещения рекламных баннеров:</strong><br />
          <br />
          <strong>1) на главной странице</strong><br />
          <br />
          <a href="ihttp://www.bobsoccer.ru/data/image/index_table1.jpg"><img width="100%" src="{% static 'img/stat/banners.jpg'%}" alt="" /></a> <br />
          <br />
          <i><strong><br />
          Рекламным агенствам и постоянным клиентам предлагаются <a href="/data/file/prez_02.pptx" target="_blank">особые условия</a>.</strong><br />
          <br />
          О деталях размещения рекламы свяжитесь с нами: info@bobsoccer.ru</i></div>

        </div>
{% endblock %}