{% extends "base_template.html" %}
{% load staticfiles %}

{% block content-header %}
    {% include 'slider.html' %}
{% endblock %}
{% block content %}
   <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption">Аудиоблог</p>
                <div class="news_block">
                    {% for article in article_list %}
                        <div class="audio_block">
                            <div class="activity_score">
                                <div class="right_score">
                                    <span>{{ article.when_created|date:'d E'|lower }}</span><span class="comments_score"> {{ article.when_created|date:'G:i' }}</span>
                                </div>
                            </div>
                            <div class="audio_cont">
                                <a href="{% url 'accounts:article_detail' article.user.id article.id %}">{{ article.title }}</a>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="now_chat">
                        <p class="now_chat_title">Сейчас обсуждается:</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:08</a>   Максим Митрофанов: Наибольшие опасения сейчас вызывает транспортная логистика</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Будогосский: программа работы одобрена, с нашим судейством нужно что-то делать</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Сергей Ольшанский: Слуцкому нужно больше доверять Страндбергу, Траоре уже "поиграл"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
