{% load staticfiles %}
{# TODO: заменить все иконки-картинки на font-awesome. Подключена версия 4.7.0, base_template.html 14 строка #}
{% load socialaccount %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Футбольный портал, новости футбола, интервью, футбольные команды{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.bxslider.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css">
    <!-- test links -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tags.css' %}"/>
    <!-- test links -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/transitions.css' %}" media="all">

    {% block additional_links %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="header">
            <div class="search">
                <input type="text" class="input_for_search" placeholder="Поиск">
                <button class="button_head for_search"></button>
            </div>
            {% if request.user.is_authenticated %}
                <div class="menu-aut">
                    <a href="{% url 'accounts:profile' pk=request.user.pk %}">{{ request.user.username }}
                        <img src="{% static 'img/lk_ava.png' %}" class="" width="33px"></a>

                    <form class="log-out" method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="btn-log-out" type="submit">Выйти</button>
                    </form>

                </div>
            {% else %}
                <div class="login">
                    <form action="{% url 'account_login' %}" method="POST">
                        <span>Вход:</span>
                        {% csrf_token %}
                        <input type="text" name="login">
                        <input type="password" name="password">
                        <button class="button_head for_enter"></button>
                    </form>
                </div>
                <div class="right_float">
                    <div class="account">
                        <a href="#" class="vhod">Вход</a>
                        <a href="{% url 'account_reset_password' %}" class="forgot_pw">Забыли пароль?</a>
                        <a href="{% url 'account_signup' %}">Регистрация</a>
                    </div>
                    <div class="social">
                        <a href="{% provider_login_url "vk" %}" class="button_head"></a>
                        <a href="{% provider_login_url "twitter" %}" class="button_head"></a>
                        <a href="{% provider_login_url "facebook" %}" class="button_head"></a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="banner"></div>
    </div>

    <div class="container">
        <div class="under_header">
            <div class="top_menu">
                <a href="{% url 'common:index' %}">
                    <div class="logo">
                        <img src="{% static "img/menu/logo.png" %}" alt="">
                    </div>
                </a>
                <div class="menu">
                    <ul>
                        <li><a href="#">ЦСКА</a></li>
                        <li><a href="#">Зенит</a></li>
                        <li><a href="#">Спартак</a></li>
                        <li><a href="#">Локомотив</a></li>
                        <li><a href="#">Динамо</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"><img src="{% static "img/menu/arrow.png" %}"
                                                                               alt=""></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="red_bg">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="bot_menu">
                            <ul class="" id="dropd">
                                <li><a href="{% url 'blogs:news' %}">Новости</a></li>
                                <li><a href="{% url 'blogs:persons' %}">Интервью</a></li>
                                <li>
                                    <a href="{% url 'blogs:tribune' %}">Трибуна</a>
                                    <ul>
                                        <li><a href="#">Live-трансляции</a></li>
                                        <li><a href="{% url 'blogs:experts' %}">Экспертное мнение</a></li>
                                        <li><a href="{% url 'blogs:foreacst' %}">Блог конкурса прогнозов</a></li>
                                        <li><a href="{% url 'forecast:forecast' %}">Конкурс прогнозов</a></li>
                                        <li><a href="">Результаты матчей</a></li>
                                        <li><a href="{% url 'blogs:discuss' %}">Инициатива/онлайн-осбуждение</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'blogs:audio' %}">Аудиоблоги</a>

                                </li>
                                <li><a href="{% url 'blogs:video' %}">Видеоблоги</a></li>


                                <li>
                                    <a href="{% url 'common:photo' %}">Фото</a>

                                </li>
                                <li><a href="{% url 'forum:forum' %}">Форум</a></li>
                                <li><a href="{% url 'shop:base' %}" class="shop">Магазин</a></li>
                            </ul>
                            <div class="menu-hidden-button">
                                <span><i class="fa fa-bars"></i></span>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>


        </div>

    </div>
    {% block content-header %}{% endblock %}
    <div class="container">
        <div class="bg_white">
            <div class="row">
                {% block content %}{% endblock %}
                <div class="col-xs-12 col-sm-4 col-md-3 cold-lg-3">
                    <div class="right_column">
                        <div class="right_column_tab">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="six">
                                    <p>Луческу ему доверяет</p>
                                    <a href="#"><img src="{% static "img/tabs/second.png" %}" alt=""></a>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="seven">
                                    <p>Красавица арена сразила наповал</p>
                                    <a href="#"><img src="{% static "img/tabs/first.png" %}" alt=""></a>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="eight">
                                    <p>Команда в процессе обновления</p>
                                    <a href="#"><img src="{% static "img/tabs/first.png" %}" alt=""></a>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="nine">
                                    <p>Хочет помочь сборной России</p>
                                    <a href="#"><img src="{% static "img/tabs/second.png" %}" alt=""></a>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="ten">
                                    <p>Адаптировался в нашем чемпионате</p>
                                    <a href="#"><img src="{% static "img/tabs/first.png" %}" alt=""></a>
                                </div>

                            </div>

                            <ul class="nav nav-tabs nav-stacked" role="tablist">
                                <li role="presentation" class="active"><a href="#six" aria-controls="six" role="tab"
                                                                          data-toggle="tab">Жозе Маурисио: “Мы
                                    меняемся?”</a></li>
                                <li role="presentation"><a href="#seven" aria-controls="seven" role="tab"
                                                           data-toggle="tab">Пора прервать серию</a></li>
                                <li role="presentation"><a href="#eight" aria-controls="eight" role="tab"
                                                           data-toggle="tab">Журналистское расследование</a></li>
                                <li role="presentation"><a href="#nine" aria-controls="nine" role="tab"
                                                           data-toggle="tab">Хочет помочь сборной России</a></li>
                                <li role="presentation"><a href="#ten" aria-controls="ten" role="tab" data-toggle="tab">Адаптировался
                                    в нашем чемпионате</a></li>
                            </ul>
                        </div>

                        <div class="central_column">
                            <p class="caption">Популярное</p>
                            <div class="activity_logo activity_logo_unique"></div>

                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#comment" aria-controls="comment"
                                                                          role="tab" data-toggle="tab"
                                                                          class="comment_img"></a></li>
                                <li role="presentation"><a href="#look" aria-controls="look" role="tab"
                                                           data-toggle="tab" class="look_img"></a></li>
                            </ul>
                            <div class="tab-content padding popular">
                                <div role="tabpanel" class="tab-pane active" id="comment">
                                    <div class="comment">
                                        <span class="red_comment"></span>
                                        <div class="activity_score">
                                            <a href="#" class="commentator">Эндрю</a>
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <span class="when">21 Августа 16:07</span>
                                                </div>
                                                <div class="pull-right">
                                                    <span class="comments_score">764</span>/<span
                                                        class="saw_score">12314</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="comment-title tt" href="#"><span>"Зенит" - ЦСКА</span></a>
                                        <p class="comment-text">Бобсоккер-юниор представляет</p>
                                    </div>
                                    <div class="comment">
                                        <span class="red_comment"></span>
                                        <div class="activity_score">
                                            <a href="#" class="commentator">Эндрю</a>
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <span class="when">21 Августа 16:07</span>
                                                </div>
                                                <div class="pull-right">
                                                    <span class="comments_score">764</span>/<span
                                                        class="saw_score">12314</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="comment-title tt" href="#"><span>"Зенит" - ЦСКА</span></a>
                                        <p class="comment-text">Бобсоккер-юниор представляет</p>
                                    </div>
                                    <div class="comment">
                                        <span class="red_comment"></span>
                                        <div class="activity_score">
                                            <a href="#" class="commentator">Эндрю</a>
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <span class="when">21 Августа 16:07</span>
                                                </div>
                                                <div class="pull-right">
                                                    <span class="comments_score">764</span>/<span
                                                        class="saw_score">12314</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="comment-title tt" href="#"><span>"Зенит" - ЦСКА</span></a>
                                        <p class="comment-text">Бобсоккер-юниор представляет</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="central_column">
                            <p class="caption">Редакционная хроника</p>
                            <a href="#" class="goto red"></a>
                            <div class="activity_logo"></div>
                            <div class="tab-content padding">
                                <div class="comment">
                                    <div class="activity_score">
                                        <a href="#" class="commentator">Боб</a>
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <span class="when">21 Августа 16:07</span>
                                            </div>
                                            <div class="pull-right">
                                                <span class="comments_score">764</span>/<span
                                                    class="saw_score">12314</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="comment-title" href="#"><span>Лариса Удовиченко: Имею одну особенность - болею только за слабые
                                        команды</span></a>
                                    <p class="comment-text">Встречи экспертов «Бобсоккера» с интересными людьми</p>
                                </div>
                                <div class="comment">
                                    <div class="activity_score">
                                        <a href="#" class="commentator">Боб</a>
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <span class="when">21 Августа 16:07</span>
                                            </div>
                                            <div class="pull-right">
                                                <span class="comments_score">764</span>/<span
                                                    class="saw_score">12314</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="comment-title" href="#"><span>Лариса Удовиченко: Имею одну особенность - болею только за слабые
                                        команды</span></a>
                                    <p class="comment-text">Встречи экспертов «Бобсоккера» с интересными людьми</p>
                                </div>
                                <div class="comment">
                                    <div class="activity_score">
                                        <a href="#" class="commentator">Боб</a>
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <span class="when">21 Августа 16:07</span>
                                            </div>
                                            <div class="pull-right">
                                                <span class="comments_score">764</span>/<span
                                                    class="saw_score">12314</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="comment-title" href="#"><span>Лариса Удовиченко: Имею одну особенность - болею только за слабые
                                        команды</span></a>
                                    <p class="comment-text">Встречи экспертов «Бобсоккера» с интересными людьми</p>
                                </div>
                            </div>
                        </div>


                        <div class="central_column">
                            <p class="caption">Лучшие авторы недели</p>
                            <div class="tab-content padding">
                                <div class="user_rating">
                                    <div class="user_photo">
                                        <a href="#"><img src="{% static "img/right_column/user1.jpg" %}" alt=""></a>
                                    </div>
                                    <div class="user_info">
                                        <img src="{% static "img/right_column/lvl5.png" %}" alt="" class="float_left">
                                        <a href="#" class="nick float_left">тепло?</a>
                                        <div class="medals"><img src="{% static "img/right_column/ball.png" %}" alt=""><img
                                                src="{% static "img/right_column/prize.png" %}" alt=""></div>
                                    </div>
                                    <div class="user_stat">
                                        <div class="score_stat">
                                            <span>32151</span><span class="gogreen">+104</span>
                                        </div>
                                        <div class="contact">
                                            <a href="#"><img src="{% static "img/right_column/gift.png" %}" alt=""></a>
                                            <a href="#"><img src="{% static "img/right_column/message.png" %}" alt=""></a>
                                            <a href="#"><img src="{% static "img/right_column/add.png" %}" alt=""></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="user_rating">
                                    <div class="user_photo">
                                        <a href="#"><img src="{% static "img/right_column/user2.jpg" %}" alt=""></a>
                                    </div>
                                    <div class="user_info">
                                        <img src="{% static "img/right_column/lvl4.png" %}" alt="" class="float_left">
                                        <a href="#" class="nick float_left">Deimos</a>
                                        <div class="medals"><img src="{% static "img/right_column/prize.png" %}" alt="">
                                        </div>
                                    </div>
                                    <div class="user_stat">
                                        <div class="score_stat">
                                            <span>32151</span><span class="gogreen">+104</span>
                                        </div>
                                        <div class="contact">
                                            <a href="#"><img src="{% static "img/right_column/gift.png" %}" alt=""></a>
                                            <a href="#"><img src="{% static "img/right_column/message.png" %}" alt=""></a>
                                            <a href="#"><img src="{% static "img/right_column/add.png" %}" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form_podpiska">
                            <form action="">
                                <p class="form_caption">Будьте в курсе событий</p>
                                <p class="form_label">Подпишитесь на рассылку</p>
                                <input type="text">
                                <a href="#" class="button_head enter_podpiska"><i class="fa fa-send-o"></i></a>
                            </form>
                        </div>

                        <div class="form_golos">
                            <form action="">
                                <p class="form_caption">Кто в ближайшее время займет пост президента РФС?</p>
                                <input type="radio" id="radio1" name="golos">
                                <label for="radio1">Сергей Прядкин</label>
                                <input type="radio" id="radio2" name="golos">
                                <label for="radio2">Валерий Газзаев</label>
                                <input type="radio" id="radio3" name="golos">
                                <label for="radio3">Николай Толстых</label>
                                <input type="radio" id="radio4" name="golos">
                                <label for="radio4">Сергей Анохин</label>
                                <input type="radio" id="radio5" name="golos">
                                <label for="radio5">Другой специалист</label>
                                <input type="radio" id="radio6" name="golos">
                                <label for="radio6">Виталий Мутко останется на посту</label>

                                <div class="enter_golos_block">
                                    <a href="#" class="enter_golos">Голосовать</a>
                                </div>
                                <p class="vsego">Всего проголосовало: <span>1234</span> <a href="#">посмотреть другие
                                    опросы</a></p>
                            </form>
                        </div>

                        <div class="our_social">
                            <p>Мы в социальных сетях</p>
                            <a href="#" class="vk"></a>
                            <a href="#" class="tw"></a>
                            <a href="#" class="fb"> </a>
                            <a href="#" class="plane"></a>
                            <a href="#" class="youtube"></a>
                            <a href="#" class="pen"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">{% block right-content %}{% endblock %}</div>


                <!-- END MAIN CONTENT -->
                <div class="col-xs-12">

                    <div class="gallery">
                        <p class="caption">Новое в галереях <a href="#" class="goto"></a></p>
                        <div class="images_content">
                            <div class="images_content_item">
                                <div style="background:url('{% static "img/gallery/first.jpg" %}') no-repeat center;background-size:cover"></div>
                            </div>
                            <div class="images_content_item">
                                <div style="background:url('{% static "img/gallery/second.jpg" %}') no-repeat center;background-size:cover"></div>
                            </div>
                            <div class="images_content_item">
                                <div style="background:url('{% static "img/gallery/third.jpg" %}') no-repeat center;background-size:cover"></div>
                            </div>
                        </div>
                    </div>

                    <div class="for_seo">
                        <p><a href="#" class="font_first">Лига чемпионов</a>
                            <a href="#" class="font_third">ЦСКА</a><a href="#" class="font_third"> Зенит</a> <a
                                    href="#" class="font_third">Спартак</a>
                            <a href="#" class="font_second">сборная России</a> <a href="#"
                                                                                  class="font_second">Динамо</a>
                            <a href="#" class="font_second">Челси</a> <a href="#" class="font_second">Барселона</a>
                            <a href="#" class="font_second">Ювентус</a> <a href="#" class="font_second">Рома</a> <a
                                    href="#" class="font_second">Манчестер Сити</a><a href="#" class="font_first">Лига
                                чемпионов</a>
                            <a href="#" class="font_third">ЦСКА</a><a href="#" class="font_third"> Зенит</a> <a
                                    href="#" class="font_third">Спартак</a>
                            <a href="#" class="font_second">сборная России</a> <a href="#"
                                                                                  class="font_second">Динамо</a>
                            <a href="#" class="font_second">Челси</a> <a href="#" class="font_second">Барселона</a>
                            <a href="#" class="font_second">Ювентус</a> <a href="#" class="font_second">Рома</a> <a
                                    href="#" class="font_second">Манчестер Сити</a><a href="#" class="font_first">Лига
                                чемпионов</a>
                            <a href="#" class="font_third">ЦСКА</a><a href="#" class="font_third"> Зенит</a> <a
                                    href="#" class="font_third">Спартак</a>
                            <a href="#" class="font_second">сборная России</a> <a href="#"
                                                                                  class="font_second">Динамо</a>
                            <a href="#" class="font_second">Челси</a> <a href="#" class="font_second">Барселона</a>
                            <a href="#" class="font_second">Ювентус</a> <a href="#" class="font_second">Рома</a> <a
                                    href="#" class="font_second">Манчестер Сити</a></p>

                    </div>

                </div>
                <!-- row --></div>

            <!--bg-white--></div>
    </div>
    <div class="container">
        <div class="footer">
            <div class="footer_menu">
                <ul>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Интервью</a></li>
                    <li><a href="#">ТРИБУНА</a></li>
                    <li><a href="#">Аудиоблоги</a></li>
                    <li><a href="#">Видеоблоги</a></li>
                    <li><a href="#">ФОТО</a></li>
                    <li><a href="#">Форум</a></li>
                    <li><a href="{% url 'shop:base' %}" class="shop">Магазин</a></li>
                </ul>
            </div>
            <div class="our_social">
                <a href="#"><i class="fa fa-vk"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-send-o"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
            <div class="additional_menu">
                <ul>
                    <li><a href="{% url 'common:about' %}">О проекте Bobsoccer</a></li>
                    <li><a href="{% url 'common:contacts' %}">Контакты </a></li>
                    <li><a href="{% url 'common:adv' %}">Использование материалов портала</a></li>
                    <li><a href="{% url 'common:advert' %}">Реклама на портале</a></li>
                </ul>
            </div>

            <div class="rights">
                <div class="logo">
                    <a href="#"><img src="{% static "img/footer/logo.png" %}" alt=""></a>
                </div>
                <div class="rights_text">
                    <p class="prava">© 2009 Все права защищены</p>
                    <p class="zapret">Несанкционированное использование материалов, размещённых на сайте, запрещено
                        законом об авторских правах.
                        Лицензия СМИ № ФС77-43557 от 19 января 2011 г.</p>
                </div>
            </div>
        </div>
    </div>


</div>
<div id="back">
    <i class="fa fa-chevron-up"></i>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
<script src="{% static 'js/jquery-2-0-0.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static "js/jquery.bxslider.min.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/bootstrap-notify.min.js" %}"></script>
<script src="{% static "js/bootstrap-filestyle.min.js" %}"></script>


<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            }
        }
    });

    $(document).ready(function () {
        {% if messages %}
            {% for message in messages %}
                $.notify({
                    message: '{{ message }}'
                }, {
                    type: '{{ message.tags }}'
                });
            {% endfor %}
        {% endif %}

        $('.menu-hidden-button').click(function(){
            $(this).toggleClass('active');
            $('#dropd').toggleClass('active');
        });

        $('#back').click(function(){
            $('html, body').animate({ scrollTop:0 }, 800);
        });

        $('#general-slider').owlCarousel({
            loop:true,
            margin:15,
            nav:false,
            autoplay:true,
            touchDrag: false,
            responsive:{
                0:{
                    items:1
                },
                480:{
                    items:2
                },
                700:{
                    items:4
                },
                1000:{
                    items:3
                },
                1100:{
                    items:4
                }
            }
        })
    });


</script>
{% block additional_scripts %}

{% endblock %}
</html>
