{% load staticfiles %}
<div role="tabpanel" class="tab-pane active" id="comment">

    <div class="interview_full_comment interview_full_user clear_fix">
        <img src="{% static 'img/interview/ava.png' %}" alt="" align="left">
        <a href="#">Perso</a> <a class="answer" href="#">Ответить</a>
        <p><a class="answer-name" href="#">Andrey, </a> Понтус молоток и боец, но даже он в матче с Монако выглядел
            очень бледно и
            был уставшим, не знаю больше физически или эмоционально. Может и то и
            то.</p>
        <div class="like_dislike">
            <a href="#" class="like">5</a><a href="#" class="dislike"></a>
        </div>

    </div>
    <div class="interview_full_comment interview_full_user clear_fix">
        <img src="{% static 'img/interview/ava.png' %}" alt="" align="left">
        <a href="#">Perso</a> <a class="answer" href="#">Ответить</a>
        <p><a class="answer-name" href="#">Andrey, </a> Понтус молоток и боец, но даже он в матче с Монако выглядел
            очень бледно и
            был уставшим, не знаю больше физически или эмоционально. Может и то и
            то.</p>
        <div class="like_dislike">
            <a href="#" class="like">5</a><a href="#" class="dislike"></a>
        </div>

    </div>
    <div class="interview_full_comment interview_full_user clear_fix">
        <img src="{% static 'img/interview/ava.png' %}" alt="" align="left">
        <a href="#">Perso</a> <a class="answer" href="#">Ответить</a>
        <p><a class="answer-name" href="#">Andrey, </a> Понтус молоток и боец, но даже он в матче с Монако выглядел
            очень бледно и
            был уставшим, не знаю больше физически или эмоционально. Может и то и
            то.</p>
        <div class="like_dislike">
            <a href="#" class="like">5</a><a href="#" class="dislike"></a>
        </div>

    </div>


</div>