{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}

    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
          <div class="pageName">
            <img class="caption" src="{% static 'img/stat/ball.png' %}"/>Контакты
          </div>
          <div class="Content">
            <p>Все вопросы нашим экспертам, а также предложения о сотрудничестве<br />
              присылайте по адресу:<br />
          <br />
          <strong>info@bobsoccer.ru</strong></p></div>
        </div>

{% endblock %}