{% load staticfiles %}
<div class="interview_full_message clear_fix">
    <form action="" method="post" class="comment_form">
        {% csrf_token %}
        <input type="hidden" name="parent">
        <div class="comment_editor">
            <div class="edit_tags">
                <img class="edit_tag" id="edit_tag_quotes" src="http://static.wixstatic.com/media/de67b8_252d03aa383d4a16b82661e27314fea3.png_256">
                <img class="edit_tag" id="edit_tag_bold" src="https://www.shareicon.net/download/2015/09/13/100213_format_512x512.png">
                <img class="edit_tag" id="edit_tag_italic" src="http://www.free-icons-download.net/images/font-italic-icon-16894.png">
                <img class="edit_tag" id="edit_tag_red" src="http://naipress.ru/images/photos/small/article400.jpg">
                <img class="edit_tag" id="edit_tag_green" src="https://pp.vk.me/c413322/v413322561/78e8/NY8F113Zjaw.jpg">
                <img class="edit_tag" id="edit_tag_blue" src="https://otvet.imgsmail.ru/download/292821da1ba55d48a3d56823fc55d8dc_i-24.jpg">
                <img class="edit_tag" id="edit_tag_h4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/A_(capital_and_small).svg/1920px-A_(capital_and_small).svg.png">
            </div>
            <textarea class="form-control" name="text" id="text" cols="30" rows="10" placeholder="Напишите сообщение..." required></textarea>
        </div>


{#        <input type="hidden" name="parent">#}
{#        <textarea name="text" id="" cols="30" rows="10"#}
{#                  placeholder="Напишите сообщение..." required></textarea>#}
        <div class="text-center">
            <button class="btn btn-success">Отправить</button>
        </div>
    </form>
</div>
{% if request.user.is_anonymous %}
    <div class="interview_full_reg">
        <p class="interview_full_reg_caption">АВТОРИЗИРУЙТЕСЬ ИЛИ ЗАРЕГИСТРИРУЙТЕСЬ</p>
        <div class="interview_full_reg_vhod">
            <form action="" method="post">
                <div class="social">
                    <a href="#" class="button_head"></a>
                    <a href="#" class="button_head"></a>
                    <a href="#" class="button_head"></a>
                </div>
                <input type="text" placeholder="Имя или email">
                <input type="text" placeholder="Пароль">
                <button>Войти</button>
            </form>
        </div>
        <div class="interview_full_reg_reg">
            <form action="">
                <input type="text" placeholder="Имя">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Пароль">
                <img src="{% static 'img/interview/capcha.png' %}" alt=""
                     class="interview_full_reg_capcha">
                <input type="text" placeholder="Код" class="input_for_capcha">
                <p>буквы вводятся в учетом регистра</p>
                <button>Зарегистрироваться</button>
            </form>
        </div>
    </div>
{% endif %}


<script>
    var form = document.getElementsByClassName('comment_form');
    if (form.length) {
        form = form[0]
    }
    var parent = document.querySelectorAll('input[name="parent"]')[0];
    var answer_to = document.getElementsByClassName('answer_to')[0];

    answers = document.getElementsByClassName('answer_for_comment');
    for (var i = 0; i < answers.length; i++) {
        answers[i].onclick = function (e) {
            e.preventDefault();
            parent.value = this.dataset.id;
            if (!answer_to) {
                answer_to = document.createElement('p');
                answer_to.classList.add('answer_to');
                form.appendChild(answer_to);
                answer_to.onclick = function (e) {
                    this.remove();
                    answer_to = null;
                    parent.value = '';
                };
            }
            answer_to.innerText = 'Ответ для ' + this.dataset.user;
        }
    }

    </script>
{% block additional_scripts %}
{#    джиквери походу более старый в бейзе #}
     <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
   <script>
$( document ).ready( function(){
  $( ".edit_tag" ).click( function(){
     if( $(this).is("#edit_tag_quotes") ){
       $(".comment_editor textarea").val( $(".comment_editor textarea").val()+"<QUOTES></QUOTES>");
     } else if( $(this).is("#edit_tag_bold") ){
       $(".comment_editor textarea").val( $(".comment_editor textarea").val()+"<BOLD></BOLD>");
     } else if( $(this).is("#edit_tag_italic") ){
       $(".comment_editor textarea").val( $(".comment_editor textarea").val()+"<ITALIC></ITALIC>");
     } else if( $(this).is("#edit_tag_red") ){
       $(".comment_editor textarea").val( $(".comment_editor textarea").val()+"<RED></RED>");
     } else if( $(this).is("#edit_tag_blue") ){
       $(".comment_editor textarea").val( $(".comment_editor textarea").val()+"<BLUE></BLUE>");
     } else if( $(this).is("#edit_tag_green") ){
       $(".comment_editor textarea").val( $(".comment_editor textarea").val()+"<GREEN></GREEN>");
     } else if( $(this).is("#edit_tag_h4") ){
       $(".comment_editor textarea").val( $(".comment_editor textarea").val()+"<H></H>");
     }
  } );
});

    </script>
{% endblock %}