{% extends 'base_template.html' %}
{% load staticfiles %}
{% block content-header %}
    <div class="container">
        <div id="general-slider" class="owl-carousel owl-theme">
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'img/slider/first.png' %}" />
                </div>
                <div class="item-person">
                    <a href="">Скорпи</a>
                    <span>05 октября 2016</span>
                    <div class="item-text">
                        <p>"Спартак" и Каррера нашли друг друга?</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'img/slider/second.png' %}" />
                </div>
                <div class="item-person">
                    <a href="">Эндрю</a>
                    <span>05 октября 2016</span>
                    <div class="item-text">
                        <p>Симонян в "Ле Моне"</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'img/slider/third.png' %}" />
                </div>
                <div class="item-person">
                    <a href="">Макс</a>
                    <span>04 октября 2016</span>
                    <div class="item-text">
                        <p>Есть творцы. А есть завистники</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'img/slider/fourth.png' %}" />
                </div>
                <div class="item-person">
                    <a href="">ВВП</a>
                    <span>03 октября 2016</span>
                    <div class="item-text">
                        <p>О возможном спаде у игроков ЦСКА, "руке" Бердыева и Луческу, о багаже Аленичева в "Спартаке"...</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'img/slider/first.png' %}" />
                </div>
                <div class="item-person">
                    <a href="">Скорпи</a>
                    <span>05 октября 2016</span>
                    <div class="item-text">
                        <p>"Спартак" и Каррера нашли друг друга?</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'img/slider/second.png' %}" />
                </div>
                <div class="item-person">
                    <a href="">Эндрю</a>
                    <span>05 октября 2016</span>
                    <div class="item-text">
                        <p>Симонян в "Ле Моне"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="col-xs-12 col-sm-4 col-md-3 cold-lg-3">
        <div class="left_column">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="first">
                    <p>Красавица арена сразила наповал</p>
                    <a href="#"><img src="{% static "img/tabs/first.png" %}" alt=""></a>
                </div>
                <div role="tabpanel" class="tab-pane" id="second">
                    <p>Сравнение двух тренеров</p>
                    <a href="#"><img src="{% static "img/tabs/second.png" %}" alt=""></a>
                </div>
                <div role="tabpanel" class="tab-pane" id="third">
                    <p>Команда в процессе обновления</p>
                    <a href="#"><img src="{% static "img/tabs/first.png" %}" alt=""></a>
                </div>
                <div role="tabpanel" class="tab-pane" id="fourth">
                    <p>Хочет помочь сборной России</p>
                    <a href="#"><img src="{% static "img/tabs/second.png" %}" alt=""></a>
                </div>
                <div role="tabpanel" class="tab-pane" id="fives">
                    <p>Адаптировался в нашем чемпионате</p>
                    <a href="#"><img src="{% static "img/tabs/first.png" %}" alt=""></a>
                </div>
            </div>
            <ul class="nav nav-tabs nav-stacked" role="tablist">
                <li role="presentation" class="active"><a href="#first" aria-controls="first" role="tab" data-toggle="tab">ЦСКА: визит на чудо-стадион</a></li>
                <li role="presentation"><a href="#second" aria-controls="second" role="tab" data-toggle="tab">Сравнение двух тренеров</a></li>
                <li role="presentation"><a href="#third" aria-controls="third" role="tab" data-toggle="tab">Команда в процессе обновления</a></li>
                <li role="presentation"><a href="#fourth" aria-controls="fourth" role="tab" data-toggle="tab">Хочет помочь сборной России</a></li>
                <li role="presentation"><a href="#fives" aria-controls="fives" role="tab" data-toggle="tab">Адаптировался в нашем чемпионате</a></li>
            </ul>
            <div class="central_column">
                <p class="caption">Боб сокер юниор</p>
                <a href="#" class="goto red"></a>
                <div class="activity_logo"></div>
                <div class="tab-content padding">
                    <div class="comment">
                        <div class="activity_score">
                            <a href="#" class="commentator">Эндрю</a>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <span class="when">21 Августа 16:07</span>
                                </div>
                                <div class="pull-right">
                                    <div class="right_score">
                                        <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="comment-title tt" href="#"><span>"Зенит" - ЦСКА</span></a>
                        <p class="comment-text">Бобсоккер-юниор представляет</p>
                    </div>
                    <div class="comment">
                        <span class="red_comment"></span>
                        <div class="activity_score">
                            <a href="#" class="commentator">Скорпи</a>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <span class="when">21 Августа 16:07</span>
                                </div>
                                <div class="pull-right">
                                    <div class="right_score">
                                        <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="comment-title tt" href="#"><p>"Спартак"-"Краснодар"</p></a>
                        <p class="comment-text">Бобсоккер-юниор представляет</p>
                    </div>
                    <div class="comment">
                    <div class="activity_score">
                        <a href="#" class="commentator">Эндрю</a>
                        <div class="clearfix">
                            <div class="pull-left">
                                <span class="when">21 Августа 16:07</span>
                            </div>
                            <div class="pull-right">
                                <div class="right_score">
                                    <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="comment-title tt" href="#"><p>"Зенит" - ЦСКА</p></a>
                    <p class="comment-text">Бобсоккер-юниор представляет</p>
                </div>
                </div>
            </div>
            <div class="central_column">
                <p class="caption">Футбол Санкт-Петербурга с Алексеем Игониным</p>
                <a href="#" class="goto red"></a>
                <div class="activity_logo"></div>
                <div class="tab-content padding">
                    <div class="comment">
                        <div class="activity_score">
                            <a href="#" class="commentator">Игонин</a>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <span class="when">21 Августа 16:07</span>
                                </div>
                                <div class="pull-right">
                                    <div class="right_score">
                                        <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="comment-title" href="#"><span>Лариса Удовиченко: Имею одну особенность - болею только за слабые команды</span></a>
                        <p class="comment-text">Встречи экспертов с интересными людьми</p>
                        <img src="{% static "img/left_column/for_comment.jpg" %}" alt="">
                    </div>
                    <div class="comment">
                        <div class="activity_score">
                            <a href="#" class="commentator">Игонин</a>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <span class="when">21 Августа 16:07</span>
                                </div>
                                <div class="pull-right">
                                    <div class="right_score">
                                        <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="comment-title" href="#"><span>Призы лучшей команде прогнозистов ЧЕ и автору Песни о Бобсоккере</span></a>
                    </div>
                    <div class="comment">
                        <div class="activity_score">
                            <a href="#" class="commentator">Игонин</a>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <span class="when">21 Августа 16:07</span>
                                </div>
                                <div class="pull-right">
                                    <div class="right_score">
                                        <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="comment-title" href="#"><span>Призы лучшей команде прогнозистов ЧЕ и автору Песни о Бобсоккере</span></a>
                    </div>
                </div>
            </div>
            <div class="central_column">
                <p class="caption">Блог Конкурса Прогнозов</p>
                <a href="#" class="goto red"></a>
                <div class="activity_logo"></div>
                <div class="tab-content padding">
                    {% for article in articles.forecast %}
                    <div class="comment">
                        <div class="activity_score">
                            <a href="{{ article.user.get_absolute_url }}" class="commentator">{{ article.user }}</a>
                            <span class="when">{{ article.when_created|date:"j E H:i" }}</span>
                            <div class="right_score">
                                <span class="comments_score">{{ article.comments.count }}</span>/<span class="saw_score">{{ article.total_views }}</span>
                            </div>
                        </div>
                        <a href="{% url 'accounts:article_detail' article.user.pk article.pk %}"><p>{{ article.title }}</p></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="central_column">
                <p class="caption">Видео</p>
                <p class="livescore">Бесплатный livescore представлен <a href="https://LIVESCORE.in">LIVESCORE.in</a></p>
                <a href="#" class="goto red"></a>
                <div class="activity_logo"></div>
                <div class="tab-content padding">
                    <div class="comment">
                        <div class="activity_score">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <span class="when">21 Августа 16:07</span>
                                </div>
                                <div class="pull-right">
                                    <div class="right_score">
                                        <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="comment-title" href="#"><p class="video_img">Превью к матчу "Зенит" - "Спартак" 02.10.16</p></a>
                    </div>
                    <div class="comment">
                        <div class="activity_score">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <span class="when">21 Августа 16:07</span>
                                </div>
                                <div class="pull-right">
                                    <div class="right_score">
                                        <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="comment-title" href="#"><p class="video_img">Превью к матчу "Зенит" - "Спартак" 02.10.16</p></a>
                    </div>
                    <div class="comment">
                        <div class="activity_score">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <span class="when">21 Августа 16:07</span>
                                </div>
                                <div class="pull-right">
                                    <div class="right_score">
                                        <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="comment-title" href="#"><p class="video_img">Превью к матчу "Зенит" - "Спартак" 02.10.16</p></a>
                    </div>
                    <div class="comment">
                        <div class="activity_score">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <span class="when">21 Августа 16:07</span>
                                </div>
                                <div class="pull-right">
                                    <div class="right_score">
                                        <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="comment-title" href="#"><p class="video_img">Превью к матчу "Зенит" - "Спартак" 02.10.16</p></a>
                    </div>
                </div>
            </div>
            <div class="central_column">
                <p class="caption">Премьер-лига (РФПЛ)</p>
                <a href="#" class="goto red"></a>
                <div class="table">
                    <table BORDER="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Команда</th>
                                <th>И</th>
                                <th>О</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="red_text bold_text">1</td>
                                <td><img src="{% static "img/left_column/table1.png" %}" alt="">Спартак</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td class="red_text bold_text">2</td>
                                <td><img src="{% static "img/left_column/table2.png" %}" alt="">ЦСКА</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td class="red_text">3</td>
                                <td><img src="{% static "img/left_column/table3.png" %}" alt="">Зенит</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td class="red_text">4</td>
                                <td><img src="{% static "img/left_column/table3.png" %}" alt="">Зенит</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><img src="{% static "img/left_column/table1.png" %}" alt="">Спартак</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><img src="{% static "img/left_column/table1.png" %}" alt="">Спартак</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td><img src="{% static "img/left_column/table1.png" %}" alt="">Спартак</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td><img src="{% static "img/left_column/table3.png" %}" alt="">Зенит</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td><img src="{% static "img/left_column/table3.png" %}" alt="">Зенит</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td><img src="{% static "img/left_column/table3.png" %}" alt="">Зенит</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td><img src="{% static "img/left_column/table3.png" %}" alt="">Зенит</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td><img src="{% static "img/left_column/table3.png" %}" alt="">Зенит</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td class="red_text">13</td>
                                <td><img src="{% static "img/left_column/table3.png" %}" alt="">Зенит</td>
                                <td>8</td><td>12</td>
                            </tr>
                            <tr>
                                <td class="red_text">14</td>
                                <td><img src="{% static "img/left_column/table3.png" %}" alt="">Зенит</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td class="red_text">15</td>
                                <td><img src="{% static "img/left_column/table3.png" %}" alt="">Зенит</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td class="red_text">16</td>
                                <td><img src="{% static "img/left_column/table3.png" %}" alt="">Зенит</td>
                                <td>8</td>
                                <td>12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="col-xs-12 col-sm-8 col-md-6 cold-lg-6">
        <div class="central_column">
            <p class="caption">Футбольные новости<a href="#" class="goto"></a></p>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#last1" aria-controls="last1" role="tab" data-toggle="tab">Последние</a></li>
                <li role="presentation"><a href="#popular1" aria-controls="popular1" role="tab" data-toggle="tab">Популярные</a></li>
            </ul>
            <div class="activity_logo"></div>
            <div class="tab-content padding">
                <div role="tabpanel" class="tab-pane active" id="last1">
                {% for article in articles.news %}
                    {% include 'blogs/_article_preview.html' %}
                {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane" id="popular1">
                    <div class="comment">
                        <div class="activity_score">
                            <span class="when">Сегодня, 12:46</span>
                            <div class="right_score">
                                <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                            </div>
                        </div>
                        <a href="#"><p>Лодыгин: с "Ростовом" у меня была не одна ошибка, вся игра в целом не удалась</p></a>
                        <p>Вратарь "Зенита" Юрий Лодыгин признался, что в домашней встрече с...</p>
                    </div>
                </div>
            </div>

        </div>


        <div class="central_column">
            <p class="caption">Заметки болельщиков<a href="#" class="goto"></a></p>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#last2" aria-controls="last2" role="tab" data-toggle="tab">Последние</a></li>
                <li role="presentation"><a href="#popular2" aria-controls="popular2" role="tab" data-toggle="tab">Комментируемые</a></li>
                <li role="presentation"><a href="#commentar" aria-controls="commentar" role="tab" data-toggle="tab">Популярные</a></li>
            </ul>
            <div class="activity_logo"></div>
            <div class="tab-content padding">
                <div role="tabpanel" class="tab-pane active" id="last2">
                    {% for article in articles.opinions %}
                    {% include 'blogs/_article_preview.html' %}
                    {% endfor %}
                </div>

                <div role="tabpanel" class="tab-pane" id="commentar">
                    <div class="comment">
                        <div class="activity_score">
                            <span class="when">Сегодня, 12:46</span>
                            <div class="right_score">
                                <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                            </div>
                        </div>
                        <a href="#"><p>Лодыгин: с "Ростовом" у меня была не одна ошибка, вся игра в целом не удалась</p></a>
                        <p>Вратарь "Зенита" Юрий Лодыгин признался, что в домашней встрече с...</p>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="popular2">
                    <div class="comment">
                        <div class="activity_score">
                            <span class="when">Сегодня, 12:46</span>
                            <div class="right_score">
                                <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                            </div>
                        </div>
                        <a href="#"><p>Лодыгин: с "Ростовом" у меня была не одна ошибка, вся игра в целом не удалась</p></a>
                        <p>Вратарь "Зенита" Юрий Лодыгин признался, что в домашней встрече с...</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="central_column">
            <p class="caption caption_uniq">Инициативы / онлайн-обсуждения<a href="#" class="goto"></a></p>
            <div class="tab-content padding">
                <div role="tabpanel" class="tab-pane active">
                {% for article in articles.discuss %}
                    {% include 'blogs/_article_preview.html' %}
                {% endfor %}
                </div>
            </div>
        </div>


        <div class="last_events">
            <div class="central_column">
                <p class="caption">Последние события<a href="#" class="goto"></a></p>
                <div class="tab-content padding">
                    <div class="comment">
                        <div class="activity_score">
                            <span class="when">Сегодня, 12:46</span><span class="activity_comment"><a href="#">Transfers for Russia</a> Добавил комментарий</span>
                        </div>
                        <a href="#"><p>Лодыгин: с "Ростовом" у меня была не одна ошибка, вся игра в целом не удалась</p></a>
                    </div>
                    <div class="comment">
                        <div class="activity_score">
                            <span class="when">Сегодня, 12:46</span><span class="activity_comment"><a href="#">Transfers for Russia</a> Добавил комментарий</span>
                        </div>
                        <a href="#"><p>Лодыгин: с "Ростовом" у меня была не одна ошибка, вся игра в целом не удалась</p></a>
                    </div>
                    <div class="comment">
                        <div class="activity_score">
                            <span class="when">Сегодня, 12:46</span><span class="activity_comment"><a href="#">Transfers for Russia</a> Добавил комментарий</span>
                        </div>
                        <a href="#"><p>Лодыгин: с "Ростовом" у меня была не одна ошибка, вся игра в целом не удалась</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}