{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="pageName">
            <img class="caption" src="{% static 'img/stat/ball.png' %}"/>О проекте Bobsoccer
        </div>
        <ul class="nav nav-pills SubSection">
            <li class="active"><a href="/about/levels/">О баллах и уровнях</a></li>
            <li><a href="/about/stuff/">О фишках и карточках </a></li>
            <li><a href="/about/rules/">Правила</a></li>
        </ul>
        <DIV>
            Зарегистрированные пользователи портала Бобсоккер.ру могут получать различные уровни привилегий на портале.
            Будьте активны, и вы сможете расширить свои возможности на портале.<br/>
            Чем выше уровень, тем больше доверия к вам как в пользователю. Высокие уровни позволят получить доступ к&nbsp;
            закрытым материалам портала, к эксклюзивным событиям, к данным других пользователей, вы можете стать
            помощником модераторов, или модератором, в данном случае все зависит исключительно только от вашей
            активности на сайте.<br/>
            Повышение Вашего уровня происходит в автоматическом режиме без каких-то заявок с Вашей стороны и зависит от:
            <br/>
            Вашей активности на портале.<br/>
            Заполнении вашей анкеты.<br/>
            Оценки Вашей значимости обществом. <br/>
            Вашей удачливости :) <br/>
            <br/>
            При переходе на следующий уровень Вам, вместе со статусом, даются дополнительные возможности, такие как:
            оставлять экспертное мнение в специальных разделах, выделять часть или всё сообщение определенными цветами,
            выдавать красные карточки (баны) или&nbsp;желтые карточки (предупреждения), Вам дарятся виртуальные подарки
            и прочее... <br/>
            <br/>
            Уровень привилегий может понижаться в случае нарушения правил портала или общепризнаных норм поведения, а
            также долгого отсутствия активности на портале.<br/>
            <br/>
            Уровень и бонусы, которые получает пользователь при достижении уровня:<br/>
            <br/>
            <div class="TopLine clear"><img align="left" src="{% static 'img/stat/level_1.png' %}" style="margin-right: 10px" alt=""/> <b>Запасной
                игрок</b><br/>
                <br/>
                Человек только что попавший в команду. Команда смотрит на него с неким скептицизмом. Он имеет право
                голоса, но нужно завоевать доверие команды, чтобы тебя начали слышать и слушать.<br/>
                Основные привилегии: Возможность загружать собственную аватарку, возможность использования тегов &lt;B&gt;<b>жирный</b>&lt;/B&gt;
                &lt;I&gt;<i>курсив</i>&lt;/I&gt;</div>
            <br/>
            <div class="TopLine clear"><img align="left" src="{% static 'img/stat/level_2.png' %}" style="margin-right: 10px" alt=""/> <b>Основной
                игрок</b><br/>
                <br/>
                Он доказал что может постоять за себя. Может играть, играть честно, может отдавать голевые передачи. Он
                верит в свою команду.<br/>
                Основные привилегии: Возможность комментировать тематические разделы, теги &lt;RED&gt;<span
                        style="color: rgb(255,0,0)">красный</span>&lt;/RED&gt;, &lt;GREEN&gt;<span
                        style="color: rgb(0,153,0)">зеленый</span>&lt;/GREEN&gt; и &lt;BLUE&gt;<span
                        style="color: rgb(0,0,153)">синий</span>&lt;/BLUE&gt;</div>
            <br/>
            <div class="TopLine clear"><img align="left" src="{% static 'img/stat/level_3.png' %}" style="margin-right: 10px" alt=""/> <b>Капитан</b><br/>
                <br/>
                Ты капитан своей команды, ты лицо команды, ты ведешь ребят в бой, тебя уважают, в тебя верят.<br/>
                Основные привилегии: Возможность получить уникальную комикс-аватарку со своей фотографии*. Возможность
                просматривать контактные данные других пользователей
            </div>
            <br/>
            <div class="TopLine clear"><img align="left"src="{% static 'img/stat/level_4.png' %}" style="margin-right: 10px" alt=""/> <b>Судья</b><br/>
                <br/>
                Ты -судья. Ты правишь балом. Тебе выдали свисток, и набор красных и желтых карточек. Тебя слушаются, с
                тобой не спорят. Тебя уважают, будь честным и справедливым.<br/>
                Основные привилегии: Возможность вручать &quot;<a href="/about/stuff/">Желтую карточку</a>&quot; и
                &quot;<a href="/about/stuff/">Красную карточку</a>&quot;.
            </div>
            <br/>
            <div class="TopLine clear"><img align="left" src="{% static 'img/stat/level_5.png' %}" style="margin-right: 10px" alt=""/> <b>Корреспондент</b><br/>
                <br/>
                <br/>
                Основные привилегии: Возможность писать материалы наравне с экспертами.<sup style="color: red">*</sup>
            </div>
            <br/>
            <div class="TopLine clear"><img align="left" src="{% static 'img/stat/level_6.png' %}" style="margin-right: 10px" alt=""/> <b>Кандидат
                в эксперты серебро</b></div>
            <br/>
            <div class="TopLine clear"><img align="left" src="{% static 'img/stat/level_7.png' %}" style="margin-right: 10px" alt=""/> <b>Кандидат
                в эксперты золото</b></div>
            <br/>
            <div class="TopLine clear"><img align="left" src="{% static 'img/stat/level_50.png' %}" style="margin-right: 10px" alt=""/> <b>Эксперт</b>
            </div>
            <br/>
            <br/>
            <div class="clear"><span class="signature"><sup style="color: red">*</sup> - функция будет добавлена по решению администрации сайта</span>
            </div>
        </DIV>
    </div>
{% endblock %}