{% load staticfiles %}
<div class="page_list">
    <ul>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
        {% endif %}
        <li><a href="#!">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"> > </a></li>
        {% endif %}
    </ul>
</div>