{% extends "base_template.html" %}
{% load staticfiles %}

{% block content-header %}
    {% include 'slider.html' %}
{% endblock %}
{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption">Фото</p>
                <div class="profile_photo">

                    <div class="Collage">
                        {% for photo in photos %}
                            <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
                        {% endfor %}
                    </div>
                {% if photos.has_other_pages %}
                    {% with photos as page_obj %}
                        {% include "pagination.html" %}
                    {% endwith %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block additional_scripts %}
    <script src="{% static 'js/jquery.collagePlus.js' %}"></script>
    <script>
   $(document).ready(function () {
        $('.Collage').collagePlus(
       {
           'targetHeight'    : 220,
           'allowPartialLastRow'       : false,
           'effect' : "effect-5"
       }
   );
        var resizeTimer = null;
		$(window).bind('resize', function() {
		    $('.Collage').children('img').css("opacity", 0);
		    // set a timer to re-apply the plugin
		    if (resizeTimer) clearTimeout(resizeTimer);
		    resizeTimer = setTimeout(Collage, 200);
		});
 });

    </script>
{% endblock %}