{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="pageName">
            <img class="caption" src="{% static 'img/stat/ball.png' %}"/>О проекте Bobsoccer
        </div>
        <ul class="nav nav-pills SubSection">
            <li><a href="/about/levels/">О баллах и уровнях</a></li>
            <li><a href="/about/stuff/">О фишках и карточках </a></li>
            <li class="active"><a href="/about/rules/">Правила</a></li>
        </ul>
        <div class="Content">Уважаемый пользователь! Начнем с того, что на сайте общаются тысячи людей, разных религий и
            взглядов, и все они являются полноправными посетителями нашего футбольного портала. Поэтому, если мы хотим,
            чтобы это сообщество нормально функционировало нам и необходимы Правила. Мы настоятельно рекомендуем вам
            прочитать настоящий раздел, это не займёт у вас много времени. Давайте будем уважать друг друга и сайт, на
            который вы и другие пользователи приходят пообщаться и высказать свои мысли. Правила портала, указанные
            ниже, обязательны для выполнения всеми пользователями без исключений. Правила отдельных разделов портала,
            таких как Форум и Конкурс Прогнозов, являются дополнениями к общим Правилам. Администрация оставляет за
            собой право изменять Правила без уведомления. Изменения и дополнения Правил начинают действовать с момента
            их опубликования.<br/>
            <br/>
            <div class="BlueArrowDiv"><b>Терминология</b><br/>
                Для начала поясним значения некоторых терминов, которые вы встретите в Правилах и при общении на сайте.
                <br/>
                <br/>
                <b>Учетная запись</b>, также <b>аккаунт</b> - запись, которую вы делаете о себе при регистрации на
                портале, сохраняется на сервере как <b>профайл</b> или <b>профиль</b> пользователя. Все эти термины, а
                также личный кабинет подразумевают страницу на сайте, в которой отражены ваши личные данные и ваши
                последние действия. <br/>
                <br/>
                <b>Логин</b>, или <b>никнейм</b> или просто <b>ник</b> - имя, которое вы выбрали при регистрации
                аккаунта и под которым Вас видят другие пользователи портала. <br/>
                <br/>
                <b>Ссылка</b> - символьная запись специального вида, служащая указателем на страницу в Интернете. <br/>
                <br/>
                <b>Браузер</b> - программа, при помощи которой вы просматриваете страницы в Интернете. В адресной строке
                вашего браузера вы видите ссылку на страницу, на которой в данный момент находитесь. <br/>
                <br/>
                <b>Блог</b> - веб-сайт, основное содержимое которого - регулярно добавляемые записи (посты), содержащие
                текст, изображения или мультимедиа. В случае с порталом Бобсоккер, мы имеем дело с коллективным блогом,
                где записи могут добавлять все зарегистрированные пользователи. <br/>
                <br/>
                <b>Модератор</b> - это лицо, отвечающее за соблюдение участниками установленных норм поведения на
                портале и наделенное для этого специальными полномочиями. Активных модераторов вы всегда можете увидеть
                в левом нижнем углу экрана на главной странице в списке администраторов. <br/>
                <br/>
                <b>Метки, теги</b> (tag [t&aelig;g]), - ключевые слова, служащие для каталогизации материалов портала.
                Метки Вы видите после каждой правильно оформленной публикации. При клике на метку, вы получаете выборку
                материалов, для которых был указан этот тег. Внизу главной страницы портала вы видите &quot;облагко
                тегов&quot;, размер шрифта которых отображает частоту применения меток за определенный промежуток
                времени. <br/>
                <br/>
                <b>Транслит</b> - способ записи русского текста латинскими буквами. Обычно используется при отсутствии
                кириллической клавиатуры. <br/>
                <br/>
                <b>Оффтоп</b> - уход от темы или обсуждение любой другой темы, не связанной с основной проблемой
                (вопросом), поставленной в основе контекста обсуждения. <br/>
                <br/>
                <b>Флуд</b> - &quot;засорение&quot; страницы с сообщениями, бессодержательные высказывания,
                множественное повторение одного и того же символа или элемента, беспорядочный набор разных букв, цифр
                или всего вместе. Под флудом также понимаются повторяющиеся или близкие по смыслу сообщения
                пользователя, написанные подряд или в течение доступного времени редактирования. <br/>
                <br/>
                <b>Флейм</b> - эмоциональные неаргументированные высказывания, относительно которых у людей имеются
                разные мнения и вкусы, разжигание споров, провоцирование участников на нарушения правил, грубость и т.д.
                <br/>
                <br/>
                <b>Спам</b> - рассылка рекламных сообщений различного характера. <br/>
                <br/>
                <b>Бан</b> - полное или частичное закрытие доступа к сайту и форуму. Применяется при серьезном или
                неоднократном нарушении правил.
            </div>
            <br/>
            <div class="BlueArrowDiv"><b>Регистрация</b><br/>
                Для того, чтобы получить полный доступ к возможностям портала Бобсоккер, необходимо зарегистрироваться.
                Сделать это можно, нажав соответствующую надпись в правом верхнем углу экрана и на странице: <a
                        href="http://bobsoccer.ru/user/?udo=reg">http://www.bobsoccer.ru/user/?udo=reg</a> . Необходимо
                заполнить пустые поля. <br/>
                <br/>
                Имя пользователя может состоять, как и из английских, так и русских букв. Допускается использование цифр
                и пробелов. Запрещается регистрировать аккаунты с именами пользователя, записями в профайле, содержащими
                мат, нецензурные выражения, провокации, оскорбления (в том числе в замаскированной форме). В поле e-mail
                адреса указывайте свою личную почту, постарайтесь не использовать какие-либо общие или корпоративные
                e-mail'ы, поскольку регистрация с одинаковыми e-mail запрещена. Особое внимание нужно уделить паролю: не
                выбирайте в качестве пароля свою дату рождения или номер мобильного телефона. Используйте более сложные
                сочетания цифр и букв. <br/>
                <br/>
                После заполнения всех полей и сохранения данных вы получите на e-mail ссылку для подтверждения вашего
                электронного адреса. Следует пройти по этой ссылке.Только после этого ваша учетная запись станет
                доступна. <br/>
                <br/>
                Также вы можете пройти процедуру быстрой регистрации при помощи уже имеющихся у вас учетных записей в
                социальных сетях. Для этого необходимо кликнуть на соответствующей иконке, расположенной рядом с местом
                для регистрации и заполнить предлагающиеся поля. <br/>
                <br/>
                Участие в обсуждениях и использование сервисов футбольного портала Bobsoccer.ru означает согласие с
                этими Правилами.
            </div>
            <br/>
            <div class="BlueArrowDiv"><b>1 Общие положения:</b><br/>
                <br/>
                1.1 Незнание Правил не является оправданием при их нарушении. При регистрации на портале и написании
                сообщений в Блог, пользователи автоматически обязуются соблюдать Правила портала.<br/>
                <br/>
                1.2 Несмотря на формат коллективного блога, портал также является средством массовой информации.
                Администрация оставляет за собой право отклонять или цензурировать любые материалы, размещаемые
                пользователями. Объяснение причин таких действий не является обязанностью Администрации.<br/>
                <br/>
                1.3 Старайтесь писать грамотно. Проверяйте написанные сообщения, перед тем как их разместить.<br/>
                <br/>
                1.4 При написании сообщения избегайте излишнего цитирования.<br/>
                <br/>
                1.5 Личная переписка, не имеющая отношения к теме поста, считается оффтопом. Для этого есть личные
                сообщения.<br/>
                <br/>
                1.6 Избегайте копирования объёмных материалов каких-либо веб-страниц, выделяйте то, что считаете важным
                и хотите обсудить. В электронных СМИ, к которым относится портал, существует правило - заметка не должна
                быть большой, иначе она плохо воспринимается.<br/>
                <br/>
                1.7 Обращайте внимание на правила использования материалов тех сайтов, с которых вы копируете тексты.
                Некоторые ресурсы запрещают использовать более определенного процента от оригинального текста без
                дополнительного разрешения правообладателя. Администрация портала оставляет за собой право удалять
                публикации, нарушающие правила сторонних ресурсов.<br/>
                <br/>
                <strong>ВАЖНО:</strong> По имеющимся договоренностям, порталы sport-express.ru, prosport-online.ru,
                sovsport.ru и championat.com запрещают при копировании использовать более 30% текста своих редакционных
                материалов, а именно: репортажей, аналитических статей, эксклюзивных интервью, электронных версий
                газетных номеров. Ограничение по объему копирования не распространяется на материалы новостной ленты
                указанных ресурсов.&nbsp;<br/>
                <br/>
                1.8 Если Вам нечего сказать - лучше ничего не говорить. Не надо писать сообщения и заметки только для
                того, чтобы отметиться. При создании авторской заметки рекомендуется составлять не менее 5-6 развернутых
                предложений. Администрация и модераторы оставляют за собой право удалять малоинформативные записи в
                Блог.<br/>
                <br/>
                1.9 На портале не запрещается публикация ссылок на другие ресурсы, однако, будьте готовы, что размещение
                подобной ссылки на любой из страниц портала, может быть расценено как реклама. Администраторы и
                модераторы имеют право удалить, отредактировать сообщение или запись в Блоге, а также потребовать от
                пользователя удалить ссылку из профиля.<br/>
                <br/>
                1.10 Не старайтесь непременно опубликовать &quot;горячую&quot; новость первым. При одновременном (в
                течение 3-5 минут) появлении в новостях нескольких заметок от разных пользователей, освещающих одно и то
                же событие, администрация будет отдавать предпочтение лучше оформленным и более информативным заметкам и
                скрывать остальные, невзирая на первенство по времени публикации. Решение модераторов по данному вопросу
                обжалованию не подлежит и претензии на их действия не рассматриваются.<br/>
                <br/>
                1.11 Нарушение Правил портала и игнорирование замечаний администрации и модераторов может караться
                устным предупреждением, свистком, желтой или красной карточкой, а также долговременной блокировкой или
                удалением аккаунта. <a target="_blank" href="http://www.bobsoccer.ru/about/stuff/">Подробнее о
                    наказаниях.</a><br/>
                <br/>
                1.12 Обсуждение действий администрации и модераторов портала допускается только в личных сообщениях или
                приватной беседе.<br/>
                <br/>
                1.13 Решение администрации портала является окончательным и обжалованию не подлежит.<br/>
                <br/>
                1.14 Мнение администрации портала может не совпадать с мнением авторов Блогов и мнением пользователей
                портала.<br/>
                <br/>
                1.15 Администрация не несет ответственности за материалы, опубликованные пользователями.<br/>
                &nbsp;</div>
            <br/>
            <div class="BlueArrowDiv"><b>2 Правила оформления записи в Блог:</b><br/>
                <br/>
                <b>2.1 Создание записи</b> <br/>
                <br/>
                2.1.1 В личном кабинете выберете вкладку БЛОГ - нажмите кнопку написать в БЛОГ<br/>
                <br/>
                2.1.2 Поле &quot;Заголовок&quot;. В нем вы должны ввести желаемое название своей записи в Блог. Помните,
                что оно должно быть информативным и отражать суть вашей записи. Поле становится красным, когда
                количество вводимых символов превышает рекомендованное значение.<br/>
                Поле &quot;Анонс&quot;. В этом поле вы можете написать основную мысль, анонсирующую содержание вашей
                заметки.<br/>
                НЕ ДОПУСКАЕТСЯ: использование ссылок в заголовке и в анонсе.<br/>
                НЕ ДОПУСКАЕТСЯ: использование &lt;&gt; -книжных кавычек и длинных тире, так как они не
                распознаются.<br/>
                РЕКОМЕНДУЕТСЯ сохранять заголовок оригинала при копировании материала из другого источника.<br/>
                НЕ РЕКОМЕНДУЕТСЯ выражать свое отношение к копируемому материалу в поле &quot;Анонс&quot;. Для этого
                существуют комментарии.<br/>
                <br/>
                2.1.3 Разделяйте текст на абзацы. Для чего же это нужно делать? Прежде всего, для того, чтобы было
                удобно и комфортно читать вашу статью. Также текст делится на абзацы с эстетической точки зрения.
                Представьте себе, какая статья будет более привлекательной: сплошной текст или текст, который аккуратно
                разделили на абзацы. По нашему мнению, ответ очевиден.<br/>
                <br/>
                2.1.4 При создании записей в Блог при помощи мобильных устройств исходный текст может оказаться
                отформатированным под экран этого устройства и некорректно отображаться на мониторах стационарных
                компьютеров. Администрация оставляет за собой право скрывать публикации, неудобные для чтения
                большинству пользователей портала.<br/>
                <br/>
                2.1.5 Выделяйте ключевые слова или мысли в вашей статье другим цветом. Этот прием поможет сфокусировать
                внимание вашего читателя на самой важной мысли, которую вы хотите донести. Для этого на панели
                инструментов доступны кнопки, позволяющие пометить выражение, либо слово другим цветом, курсивом или
                выделить полужирным.<br/>
                <br/>
                2.1.6 При публикации интервью выделяйте вопросы полужирным, как это принято в электронных СМИ. При
                публикации отчетов о прошедших матчах, старайтесь следовать форме источника.<br/>
                <br/>
                2.1.7 Принимая во внимание сложившуюся де-факто практику републикаций в электронных изданиях,
                администрация портала рекомендует пользователям при копировании материалов с других ресурсов исключать в
                тексте записей такую информацию как название ресурса и фамилии авторов. Следует воздержаться также при
                копировании от упоминания доменных имен электронных порталов в заголовках и анонсах. Администрация
                оставляет за собой право редактировать либо удалять заметки, не отвечающие этой рекомендации.<br/>
                <br/>
                2.1.8 Ссылка на источник, если статья взята с другого ресурса, обязательна. Ссылка указывается после
                всего текста записи в специально отведенном для этого поле &quot;источник&quot;. Поле становится
                красным, когда количество вводимых символов превышает рекомендованное значение, но это НЕ означает, что
                ссылку большой длины нельзя скопировать в данное поле. Если вы являетесь автором заметки и обладателем
                авторских прав на написанный вами материал, необходимо выбирать тип записи &quot;заметка&quot; и поле
                &quot;источник&quot; оставлять незаполненным.<br/>
                Не допускается использование в поле &quot;Источник&quot; видоизмененных (зашифрованных) ссылок. В
                случае, если вам не удается корректно разместить ссылку в поле &quot;Источник&quot; (например, в случае
                содержания кириллических символов), разместите ссылку в конце текста записи.<br/>
                В случае, если материал скопирован вами с другого сайта, необходимо выбрать тип записи &quot;новость&quot;
                и ОБЯЗАТЕЛЬНО указать ПРЯМУЮ ссылку на скопированный материал. Ссылки на заглавную страницу источников
                недопустимы.<br/>
                <br/>
                2.1.9 Если заметка, скопированная с другого сайта, является переведенным текстом из какого-либо
                зарубежного источника, в поле &quot;источник&quot; необходимо указывать ссылку на скопированный перевод.
                Если вы являетесь автором перевода текста из зарубежного источника, поле источник необходимо оставлять
                незаполненным, а в тексте упоминать портал, перевод с которого вы представляете в заметке. Вы также
                можете опубликовать переведенную самостоятельно заметку в разделе &lt;новости&gt;, указав в поле &quot;источник&quot;
                прямую ссылку на иноязычный ресурс.<br/>
                <br/>
                2.1.10 Если вы являетесь автором публикуемой на сайте заметки и использовали при ее подготовке материалы
                других источников, необходимо сделать пометку в тексте: &quot;При подготовке заметки использовались
                следующие материалы:&quot; (ссылки на материалы с новой строки). Администрация и модераторы портала
                оставляют за собой право оспорить обоснованность размещения материала в разделе авторских заметок в
                случае если процитированный текст превалирует над мыслями автора.<br/>
                <br/>
                2.1.11 Все заметки о недавно прошедших матчах, содержащие только статистические данные, такие как:
                результаты, составы, авторов голов, и т.п. должны иметь ссылку на источник и размещаться в новостях. Не
                допускается создание подобного рода заметок по собственным данным пользователей.<br/>
                <br/>
                2.1.12 В случае, если вы являетесь автором перевода или заметки, но публиковали материал ранее на другом
                ресурсе самостоятельно либо опосредованно, от вас могут потребовать подтверждения авторства заметки либо
                перевода.<br/>
                <br/>
                2.1.13 Поле &quot;Метки&quot; (теги). Очень важно правильно заполнить данное поле. Так как портал
                футбольной тематики, не допускается использование таких тегов как &quot;ФУТБОЛ&quot;, &quot;ПРИКОЛ&quot;,
                &quot;ГОЛ&quot;, &quot;БОЛЕЛЬЩИКИ&quot;, &quot;ШТРАФ&quot; и т.п. Тегами могут быть названия команд,
                имена и фамилии игроков, тренеров, футбольные мероприятия, например, &quot;Лига чемпионов&quot;.
                Пользователю следует при оформлении заметки внимательно ознакомиться с уже существующими тегами в
                выпадающем меню и только убедившись, что подходящих для его материала меток там нет, создавать новые.
                Если подобрать для вашей записи теги, соответствующие этому правилу невозможно, оставьте поле
                пустым.<br/>
                <br/>
                2.1.14 Все технические и организационные вопросы, пожелания по работе портала рекомендуется обсуждать на
                Форуме. Нежелательно размещать записи на эти темы в Блоге.<br/>
                <br/>
                <b>2.2 Вставка изображений в блог</b> <br/>
                <br/>
                2.2.1 Для того чтобы вставить изображение в вашу запись в блоге, необходимо использовать кнопки:
                Вставить альбом &ndash; позволяет вставить целиком альбом с фотографиями.<br/>
                Вставить фотографию &ndash; позволяет вставить одну фотографию.<br/>
                После нажатия вы увидите список существующих альбомов в вашей фотогалерее.<br/>
                ВАЖНО:<br/>
                ДЛЯ ВСТАВКИ ИЗОБРАЖЕНИЯ В ЗАПИСЬ БЛОГА ЕГО НЕОБХОДИМО ПРЕДВАРИТЕЛЬНО ЗАЛИТЬ В ВАШУ ФОТОГАЛЕРЕЮ.<br/>
                НЕ ДОПУСКАЕТСЯ Загрузка фотографий с НЕ ФУТБОЛЬНОЙ тематикой.<br/>
                НЕ ДОПУСКАЕТСЯ загрузка фотографий без заголовка. Заголовок необходимо указывать в поле &laquo;Краткое
                название фотографии&raquo;.<br/>
                Допускается загрузка не более 30 фотографий в сутки. <br/>
                <br/>
                2.2.2 В том случае, если изображение, загруженное вами на сайт, скопировано из другого источника,
                отсканировано из печатного издания и так далее (то есть вы не являетесь обладателем авторских прав на
                изображение), необходимо указывать ссылку на первоисточник, либо указывать автора изображения в поле для
                подробного описания фотографии. <br/>
                <br/>
                2.2.3 При вставке в запись Блога изображений, скопированных из других источников, следует ОБЯЗАТЕЛЬНО
                указать ссылку на источник изображения сразу под ним. <br/>
                <br/>
                <b>2.3 Вставка видеоматериалов в Блог.</b> <br/>
                <br/>
                2.3.1 Вставка видеоматериала в Блог производится путем размещения с новой строки прямой ссылки на
                хостинг <b>youtube.com</b> при условии отсутствия ограничений от правообладателей и доступности
                материала на момент размещения. Видеоматериалы с других хостингов не поддерживаются. НЕ ДОПУСКАЕТСЯ
                размещение материалов с НЕ ФУТБОЛЬНОЙ тематикой, а также нарушающих Правила портала.<br/>
                <br/>
                2.3.2 Записи в Блог, содержащие исключительно видеоматериалы в виде ссылки на youtube.com, рекомендуется
                размещать в разделе &quot;Видео&quot; без заполнения поля &quot;Источник&quot;.<br/>
                <br/>
                2.3.3. Записи в Блог, содержащие помимо видеоматериалов краткий пояснительный текст, не несущий
                самостоятельного смысла, также следует размещать в разделе &quot;Видео&quot;. Поле &quot;Источник&quot;
                следует оставлять пустым.<br/>
                <br/>
                2.3.4. Допускается вставка видеоматериалов в записи в разделе &quot;Новости&quot;, если видео дополняет
                самостоятельный по смыслу текст. Для указания источника, в этом случае, следует руководствоваться
                правилом 2.1.8<br/>
                <br/>
                2.3.5. Допускается вставка видеоматериалов с youtube.com в авторские заметки в качестве иллюстраций к
                затронутым вопросам и темам.<br/>
                <br/>
                2.3.6. Допускается размещение в разделе &quot;Заметки&quot; видеоматериалов, созданных пользователями
                портала самостоятельно.<br/>
                <br/>
                Допускается публикация не более 10 записей в блог в сутки.
            </div>
            <br/>
            <div class="BlueArrowDiv"><b>3 На портале запрещается:</b><br/>
                <br/>
                3.1 Создавать повторные учетные записи, аффилированные с одним и тем же физическим лицом с целью
                подтасовок результатов конкурсов, проводимых на портале, введения в заблуждение администрации и
                пользователей, провокаций и прочих злоупотреблений. Дублирующиеся аккаунты (учетные записи), выявленные
                в этом контексте подлежат удалению без дополнительного предупреждения.<br/>
                <br/>
                3.2 Публиковать заведомо ложную информацию, в том числе видео, фото, графические изображения, за
                исключением карикатур и т.н. &quot;фотожаб&quot;.<br/>
                <br/>
                3.3 Допускать какие-либо проявления грубости, хамства и сквернословия в личной переписке с
                администрацией, модераторами и пользователями портала. <br/>
                <br/>
                3.4 Использовать мат и/или грубые выражения (в том числе в замаскированной форме). Использовать слова и
                выражения из уголовного жаргона.<br/>
                <br/>
                3.5 Публиковать текст, отдельные слова и аббревиатуры, оскорбляющие кого-либо из участников диалога,
                пользователей портала, футболистов, тренеров и любых других деятелей спортивного сообщества, содержащие
                нецензурные и грубые выражения, клевету, хамство, провокации и принижающие человеческое достоинство
                упомянутых лиц, вне зависимости от того, размещаете вы подобную лексику в записи Блога, сообщении, на
                форуме, в профиле или где-либо ещё.<br/>
                <br/>
                3.6 Создавать записи, сообщения, фото и видео галереи, нарушающие действующее законодательство РФ, а
                также пропагандирующие нездоровый образ жизни.<br/>
                <br/>
                3.7 Использовать слова и выражения, несущие оскорбительный смысл, содержащие клевету, хамство и брань в
                подписях к виртуальным подаркам и наказаниям, выносимым на портале.<br/>
                <br/>
                3.8 Рекламировать в комментариях, публикациях, подписях или галереях любые товары, услуги и веб- ресурсы
                без специального разрешения администрации портала.<br/>
                <br/>
                3.9 Создавать одинаковые сообщения, а также публиковать фото, видео и новостные материалы, уже
                размещенные ранее на портале. Две записи, содержащие одинаковый по смыслу текст, скопированные из разных
                источников, не являются повтором только в том случае, если более поздняя по времени публикация
                раскрывает тему сообщения более полно, по сравнению с ранее опубликованной или является официальной
                информацией, подтверждающей опубликованную ранее. В противном случае, администрация оставляет за собой
                право считать вторую запись дублем и удалить. Решение модераторов по данному вопросу является
                окончательным и обжалованию не подлежит.<br/>
                <br/>
                3.10 Коверкать названия команд, имена и фамилии футболистов, тренеров и прочих обсуждаемых личностей,
                искажать ники пользователей, а также использовать оскорбительные прозвища футбольных клубов.
                Администрация и модераторы оставляют за собой право удалять подобные записи и комментарии.<br/>
                <br/>
                3.11 Запрещается создавать новостные заметки, опережающие по времени своего создания публикации в
                первоисточниках.<br/>
                <br/>
                3.12 Публиковать ссылки на нелицензионное коммерческое программное обеспечение (варез), программы для
                его взлома (краки) и генераторы ключей, а также на материалы, защищённые авторскими правами (книги,
                музыка, видео и прочее).<br/>
                <br/>
                3.13 Публиковать ссылки на информацию и контент, которые могут быть оскорбительными для пользователей
                портала, содержать аморальные материалы и нецензурную лексику, пропагандировать террор, насилие и иную
                жестокость, а также - ссылки на контент, не имеющий прямого отношения к футболу.<br/>
                <br/>
                3.14 Злоупотреблять созданием сообщений, не несущих конкретной смысловой нагрузки в контексте тематики
                портала и обсуждаемых тем (флуд, флейм и спам).<br/>
                <br/>
                3.15 Создавать сообщения и записи на политические, религиозные темы, а также публиковать информацию
                провокационного и оскорбительного содержания. Администрация оставляет за собой право удалять подобные
                записи без предупреждения.<br/>
                <br/>
                3.16 Создавать сообщения, разжигающие межнациональную и межконфессиональную рознь.<br/>
                <br/>
                3.17 Cоздавать сообщения ЗАГЛАВНЫМИ или заглавными и прописными буквами вперемешку (&quot;вОт ТаКиМ
                оБрАзОм&quot;), излишнее выделение текста в целях привлечения внимания полужирным шрифтом, курсивом,
                подчёркиванием, отличным от стандартного для сообщений портала цветом, шрифтом, размером шрифта.<br/>
                <br/>
                3.18 Использовать при оформлении новостных материалов обороты рекламного характера - &quot;тизеры&quot;.
                <br/>
                Например: <br/>
                -далее по ссылке...; <br/>
                -полностью в источнике...; <br/>
                -подробности.... и т.п. <br/>
                <br/>
                Опубликованный в качестве новости отрывок должен быть полностью понятен без обращения к материалам
                первоисточника и соответствовать заголовку. Администрация оставляет за собой право удалять записи, не
                соответствующие данному правилу.<br/>
                <br/>
                3.19 &quot;Возвращать&quot; наказания, сделанные вам другими пользователями, то есть: в ответ на
                выданные вам карточки и свистки отвечать тем же без весомых причин. В случае игнорирования этой
                рекомендации, администрация может ограничить вам возможность вручать свистки и карточки.<br/>
                <br/>
                3.20 Обсуждать на страницах портала наказания, сделанные администрацией и модераторами.<br/>
                <br/>
                3.21 Использовать в качестве аватарок уникальные портретные изображения, закрепленные за экспертами и
                постоянными авторами портала и любые редакции этих изображений. Выбирать в качестве аватарок графические
                изображения, несущие провокационный либо оскорбительный смысл по отношению к пользователям портала,
                модераторам и официальным лицам.<br/>
                <br/>
                3.22 Создавать записи в блог, содержащие только изображения, загруженные вами в свою фотогалерею.
                Исключение составляют фоторепортажи, которые вы можете представить в виде авторской заметки (если
                являетесь правообладателем на используемые изображения) или в виде новости. В таком случае нужно
                руководствоваться пунктами Правил 1.8, 2.1.8 и другими. Так же изображение может быть дополнением
                (иллюстрацией) к вашей новостной или авторской публикации. Во всех иных случаях ограничьтесь публикацией
                изображений в фотогалерее.<br/>
                <br/>
                3.23 Вручать свистки и карточки администраторам и модераторам в ответ на их деятельность, как то:
                удаление комментариев и вынесение замечаний. Прежде чем выразить свое недовольство действиями
                модераторов свистком или карточкой еще раз прочитайте Правила и убедитесь, что претензии незаслуженные и
                обратитесь за разъяснениями к администрации и модераторам посредством личного сообщения (см. пункт
                1.12).<br/>
                <br/>
                <div class="BlueArrowDiv"><b>4 На портале не рекомендуется:<br/>
                    <br type="_moz"/>
                </b></div>
                &nbsp;4.1 Писать транслитом текст в записях и комментариях, так как это неудобно для чтения.
                Администрация оставляет за собой право закрывать блоги и сообщения, в которых пользователи постоянно
                пишут транслитом и игнорируют данный пункт правил. &nbsp; <br/>
                <br/>
                4.2 Размещать информацию сомнительного содержания и из сомнительных источников. В частности, информацию
                русскоязычных сайтов: <strong>life.ru, lifenews78.ru, tden.ru, izvestia.ru, protransfers.ru</strong>,&nbsp;<strong>gigafootball.net,
                    oddser.ucoz.ru, bukerbet.ru,&nbsp;</strong>информацию иноязычных ресурсов: <strong>4-4-2.com,
                    itasportpress.it, TMW</strong>, <strong>fussball.ch</strong><strong>,
                    my.wealthyaffiliate.com,</strong>&nbsp;а также информацию других изданий, ссылающихся на
                вышеперечисленные.&nbsp;</div>
            <div class="BlueArrowDiv">&nbsp;<br/>
                Сомнительными источниками информации являются также частные блоги, любительские и фанатские сайты и
                форумы, записи в твиттере и записи на страницах социальных сетей, не являющихся официальными. <br/>
                <br/>
                Администрация оставляет за собой право удалять подобные записи и сообщения без предупреждения. <br/>
                <br/>
                4.3 Создавать записи в блог на любом языке, кроме русского, а также размещать подписи и комментарии на
                любом языке, кроме русского и английского. Пользователи русскоязычного портала должны понимать то, что
                пишут остальные участники портала. Английский считается международным языком. Администрация оставляет за
                собой право удалять такие записи и комментарии без предупреждения.<br/>
                <br/>
                4.4&nbsp;Употреблять в тексте заметок или в комментариях сокращения или аббревиатуры, допускающие
                различные толкования и могущие быть непонятными либо оскорбительными для других пользователей
                портала.<br/>
                <br/>
                4.5&nbsp;Создавать сообщения, игнорирующие правила русского языка, в том числе писать названия команд,
                имена и фамилии футболистов с маленькой буквы. Создавать сообщения, содержащие &quot;аффтарскую&quot;
                речь, специально сделанные ошибки.<span
                        style="color: rgb(32, 32, 32); font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 10.6667px;">&nbsp;</span>Администрация
                оставляет за собой право удалять подобные сообщения.
            </div>
            <div class="BlueArrowDiv"><br/>
                4.6 Размещать материалы большого объема, скопированные целиком с других сайтов и не относящиеся по
                смыслу содержащейся в них информации к текущему новостному моменту, как то: исторические и
                биографические статьи, аналитика за большой период времени, публицистические, юмористические материалы и
                т.п. Прежде чем копировать записи из чужого Блога, подумайте, что вы сами хотите этим сказать?
                Администрация оставляет за собой право удалять подобные записи и сообщения без предупреждения.<br/>
                <br/>
                4.7 Размещать заметки, полученные путем &quot;машинного перевода&quot; иноязычных материалов без
                адаптации таковых к правилам русского языка.<br/>
                <br/>
                4.8 Злоупотреблять в сообщениях и заметках смайлами и знаками препинания, а также создавать сообщения,
                используя только знаки препинания и математические символы. Это может быть приравнено к флуду.<br/>
                <br/>
                4.9 Размещать на портале результаты опросов общественного мнения, проводимых на других спортивных
                ресурсах, а также ссылки на эти опросы.&nbsp;<br/>
                <br/>
                4.10 Размещать на портале избыточную информацию с официальных сайтов клубов, носящую рекламный,
                технический характер.<br/>
                <br/>
                4.11 Создавать заметки, не содержащие другой информации, кроме ссылок на фотогалереи или видеоматериалы,
                размещенные на других ресурсах. Исключение составляют материалы с хостинга youtube.com, при размещении
                которых следует руководствоваться Правилом 2.3.1<br/>
                <br/>
                4.12 Размещать материалы, являющиеся дайджестами комментариев пользователей других русскоязычных
                спортивных ресурсов и обзорами гостевых. Вы можете создать свой обзор комментариев, опубликованных на
                портале.<br/>
                <br/>
                4.13 Злоупотреблять размещением на портале видеоматериалов без связанного с ними текста и не несущих
                смысловой нагрузки в рамках текущего новостного момента. Администрация оставляет за собой право удалять
                подобные записи без предупреждения. Решение модератора по данному вопросу является окончательным и
                обжалованию не подлежит.<br/>
                <br/>
                4.14 Размещать материалы, являющиеся конспектами либо электронными копиями публикаций в монографиях,
                газетах, журналах и прочих печатных изданиях, для которых нельзя указать первоисточник в Интернете.<br/>
                <br/>
                4.15 Использовать при общении на портале видоизмененные (зашифрованные) ссылки, как потенциально
                опасные. <br/>
                <br/>
                4.16 Размещать в поле &quot;Анонс&quot; выражение личного отношения к публикуемой новости. Администрация
                и модераторы оставляют за собой право редактировать и удалять подобные записи, а также выносить
                наказания авторам, в случае заведомой злонамеренности их действий. <br/>
                <br/>
                4.17 Размещать на портале тенденциозные и провокационные материалы из частных блогов, любительских
                сайтов, фанатских ресурсов. Публиковать материалы из общественно-политических источников, в случае
                нивелирования в них спортивной составляющей. Портал является общефутбольным спортивным ресурсом.
                Администрация оставляет за собой право удалять записи, не отвечающие данной рекомендации. <br/>
                <br/>
                4.18 Размещать в публикациях, комментариях и на форуме ссылки на видеотрансляции, защищенные авторскими
                правами и ссылки на сторонние ресурсы эти трансляции распространяющие.<br/>
                <br/>
                4.19 Портал является новостным и постоянно обновляемым ресурсом. Поэтому, отчёты о матчах, статьи и
                новости, не относящиеся к текущему моменту времени могут быть удалены администрацией без объяснения
                причины.<br/>
                <br/>
                4.20 Злоупотреблять публикацией отчетов об одном и том же футбольном событии (матче) с различных
                спортивных сайтов. Любой такой отчёт, кроме первого по времени размещения, может быть удален по решению
                администрации. Если вы не согласны с точкой зрения автора отчёта, опубликованного ранее, то можете
                высказать своё мнение в собственной авторской заметке. <br/>
                <br/>
                <b>5 Права модерации портала:</b></div>
            <div class="BlueArrowDiv"><br/>
                5.1 Администраторы и модераторы имеют право скрывать, а также удалять сообщения и записи в Блоги, не
                удовлетворяющие Правилам портала. В особых случаях администраторы и модераторы портала имеют право
                редактировать сообщения пользователей и записи в Блог.<br/>
                <br/>
                5.2 Администраторы и модераторы имеют право преимущественного трактования тех или иных пунктов Правил
                форума в случае заявлений о наличии двойного смысла в таких пунктах со стороны пользователя.<br/>
                <br/>
                5.3 Администрация оставляет за собой право удалять аккаунты пользователей, систематически нарушающих
                Правила.<br/>
                &nbsp;</div>
            <br/>
            <div class="BlueArrowDiv"><b>6 О защите достоинства постоянных авторов и модераторов портала.</b><br/>
                <br/>
                Основатели портала, администрация, его постоянные авторы - эксперты и модераторы совместными
                каждодневными усилиями стараются сделать портал лучше, интереснее, удобнее и приятнее для общения. Мы
                рады каждому новому читателю и каждому новому мнению, особенно если оно аргументированное и
                обоснованное. Но мы категорически неприемлем попытки пользователей дискредитировать портал и его
                авторов, хамство и провокации по отношению к постоянным авторам и модераторам, нарушение норм вежливости
                и общественной морали. Посягательства на честь и достоинство указанных лиц, выраженные в любой форме,
                будут трактоваться, как злостное нарушение Правил и наказываться длительной блокировкой или удалением
                учетной записи пользователя.
            </div>
        </div>

    </div>
{% endblock %}