{% load staticfiles %}

{% block content-header %}
<div class="container">
    <div id="general-slider" class="owl-carousel owl-theme">
        <div class="item">
            <div class="item-img">
                <img src="{% static 'img/slider/first.png' %}" />
            </div>
            <div class="item-person">
                <a href="">Скорпи</a>
                <span>05 октября 2016</span>
                <div class="item-text">
                    <p>"Спартак" и Каррера нашли друг друга?</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="{% static 'img/slider/second.png' %}" />
            </div>
            <div class="item-person">
                <a href="">Эндрю</a>
                <span>05 октября 2016</span>
                <div class="item-text">
                    <p>Симонян в "Ле Моне"</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="{% static 'img/slider/third.png' %}" />
            </div>
            <div class="item-person">
                <a href="">Макс</a>
                <span>04 октября 2016</span>
                <div class="item-text">
                    <p>Есть творцы. А есть завистники</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="{% static 'img/slider/fourth.png' %}" />
            </div>
            <div class="item-person">
                <a href="">ВВП</a>
                <span>03 октября 2016</span>
                <div class="item-text">
                    <p>О возможном спаде у игроков ЦСКА, "руке" Бердыева и Луческу, о багаже Аленичева в "Спартаке"...</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="{% static 'img/slider/first.png' %}" />
            </div>
            <div class="item-person">
                <a href="">Скорпи</a>
                <span>05 октября 2016</span>
                <div class="item-text">
                    <p>"Спартак" и Каррера нашли друг друга?</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="{% static 'img/slider/second.png' %}" />
            </div>
            <div class="item-person">
                <a href="">Эндрю</a>
                <span>05 октября 2016</span>
                <div class="item-text">
                    <p>Симонян в "Ле Моне"</p>
                </div>
            </div>
        </div>
    </div>
{#    <div class="slider">#}
{#        <ul class="bxslider">#}
{#          <li>#}
{#            <img src="{% static 'img/slider/first.png' %}" />#}
{#            <p class="user_post">Скорпи<br>#}
{#             <span class="date_post">05 октября 2016</span>#}
{#            </p>#}
{#            <p class="comment_post">"Спартак" и Каррера нашли друг друга?</p>#}
{#          </li>#}
{#          <li>#}
{#            <img src="{% static 'img/slider/second.png' %}" />#}
{#            <p class="user_post">Эндрю<br>#}
{#             <span class="date_post">05 октября 2016</span>#}
{#            </p>#}
{#            <p class="comment_post">Симонян в "Ле Моне"</p>#}
{#          </li>#}
{#          <li>#}
{#            <img src="{% static 'img/slider/third.png' %}" />#}
{#            <p class="user_post">Макс<br>#}
{#             <span class="date_post">04 октября 2016</span>#}
{#            </p>#}
{#            <p class="comment_post">Есть творцы. А есть завистники</p>#}
{#          </li>#}
{#          <li>#}
{#            <img src="{% static 'img/slider/fourth.png' %}" />#}
{#            <p class="user_post">ВВП<br>#}
{#             <span class="date_post">03 октября 2016</span>#}
{#            </p>#}
{#            <p class="comment_post">О возможном спаде у игроков ЦСКА, "руке" Бердыева и Луческу, о багаже Аленичева в "Спартаке"...</p>#}
{#          </li>#}
{#           <li>#}
{#            <img src="{% static 'img/slider/first.png' %}" />#}
{#            <p class="user_post">Скорпи<br>#}
{#             <span class="date_post">05 октября 2016</span>#}
{#            </p>#}
{#            <p class="comment_post">"Спартак" и Каррера нашли друг друга?</p>#}
{#          </li>#}
{#          <li>#}
{#            <img src="{% static 'img/slider/second.png' %}" />#}
{#            <p class="user_post">Скорпи<br>#}
{#             <span class="date_post">05 октября 2016</span>#}
{#            </p>#}
{#            <p class="comment_post">"Спартак" и Каррера нашли друг друга?</p>#}
{#          </li>#}
{#        </ul>#}
{#    </div>#}
</div>
{% endblock %}