{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="pageName">
            <img class="caption" src="{% static 'img/stat/ball.png' %}"/>О проекте Bobsoccer
        </div>
        <ul class="nav nav-pills SubSection">
            <li><a href="/about/levels/">О баллах и уровнях</a></li>
            <li class="active"><a href="/about/stuff/">О фишках и карточках </a></li>
            <li><a href="/about/rules/">Правила</a></li>
        </ul>
        <div class="">Каждый уровень дает свои привилегии, например, возможность, выдавать красные и желтые карточки,
            дарить подарки. Для чего же нужны все эти фишки? Сейчас разберемся.<br/>
            Для начала стоит заметить, что существуют негативные и позитивные фишки.
            <br/><br/>
            К негативным относятся: свисток (предупреждение), желтая карточка (более серьезное предупреждение), красная
            карточка (запрет на записи на 1 день). Свисток и карточки выдаются, начиная с 4 уровня (уровня судьи).
            <br/><br/>
            К позитивным фишкам относятся подарки: кожаный мяч, билеты на матч, кубок. Их может вручать любой желающий
            пользователь другому в знак уважения, симпатии или просто, чтобы порадовать, поднять ему настроение.
            <br/><br/>
            <div class="StuffListItem">
                <img src="{% static 'img/stat/whistle.png' %}" class="ItemImage">
                <b class="ItemTitle">Судейский свисток</b>
                <div class="ItemDesc">
                    Вручается участнику, которым недовольны. 2 свистка - автоматически выдается желтая карточка.<br>Кто
                    ни разу не хотел посвистеть в судейский свисток, пусть сам в себя кинет каменем. Свисток, он всему
                    голова! Хочешь может начать матч, хочешь остановить, хочешь, совсем закончить. Действует 5 дней.<br>
                    Минимальный уровень для использования: <b>Основной игрок</b>
                </div>
            </div>
            <div class="StuffListItem">
                <img src="{% static 'img/stat/whistle.png' %}" class="ItemImage">
                <b class="ItemTitle">Судейский свисток</b>
                <div class="ItemDesc">
                    Вручается участнику, которым недовольны. 2 свистка - автоматически выдается желтая карточка.<br>Кто
                    ни разу не хотел посвистеть в судейский свисток, пусть сам в себя кинет каменем. Свисток, он всему
                    голова! Хочешь может начать матч, хочешь остановить, хочешь, совсем закончить. Действует 5 дней.<br>
                    Минимальный уровень для использования: <b>Основной игрок</b>
                </div>
            </div>
            <div class="StuffListItem">
                <img src="{% static 'img/stat/whistle.png' %}" class="ItemImage">
                <b class="ItemTitle">Судейский свисток</b>
                <div class="ItemDesc">
                    Вручается участнику, которым недовольны. 2 свистка - автоматически выдается желтая карточка.<br>Кто
                    ни разу не хотел посвистеть в судейский свисток, пусть сам в себя кинет каменем. Свисток, он всему
                    голова! Хочешь может начать матч, хочешь остановить, хочешь, совсем закончить. Действует 5 дней.<br>
                    Минимальный уровень для использования: <b>Основной игрок</b>
                </div>
            </div>
            <button type="button" class="btn btn-lg" href="/shop/">Купить в магазине</button>
        </div>
    </div>
{% endblock %}