{% load staticfiles %}
<div class="comment">
   <div class="activity_score">
       <span class="activity_title camera">“СПАРТАК” - “ЦСК”. Как это было.</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava.png' %}" alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>Шикарное видео, всем кб и просто ценителям качества рекомендую)<br> www.youtube.com/watch?v=aGJa2x-DBYQ&feature=youtu.be</p>
   </div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title camera">“ЗЕНИТ” - “ТОМЬ”: послематчевая пресс-конференция.</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava2.png'%}" alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
                <div class="comment_right"><p>www.youtube.com/watch?v=r7c4YdVHIz0</p></div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title camera">19 тур ФНЛ. СКА-Хабаровск - Тосно 1:0</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava2.png'%}" alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>www.youtube.com/watch?v=r7c4YdVHIz0</p>
   </div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title">Кошка бросила котят</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava3.png'%}" alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>Знаете, писать что-то о руководстве ПФК ЦСКА в контексте того, что последние несколько лет происходит в клубе, в результате чего мы имеем то, что имеем, значит в очередной раз пытаться "дуть на воду".  Все уже сказано-пересказано сотни раз, причём в результате, по моим наблюдениям, лагерь болельщиков ЦСКА в попытке обьяснить происходящее в...</p>
   </div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title camera">“СПАРТАК” - “ЦСК”. Как это было.</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava.png'%} alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>Шикарное видео, всем кб и просто ценителям качества рекомендую)<br> www.youtube.com/watch?v=aGJa2x-DBYQ&feature=youtu.be</p>
   </div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title camera">“ЗЕНИТ” - “ТОМЬ”: послематчевая пресс-конференция.</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava2.png'%}" alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>www.youtube.com/watch?v=r7c4YdVHIz0</p>
   </div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title camera">19 тур ФНЛ. СКА-Хабаровск - Тосно 1:0</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava2.png'%}" alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>www.youtube.com/watch?v=r7c4YdVHIz0</p>
   </div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title">Кошка бросила котят</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava3.png'%}" alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>Знаете, писать что-то о руководстве ПФК ЦСКА в контексте того, что последние несколько лет происходит в клубе, в результате чего мы имеем то, что имеем, значит в очередной раз пытаться "дуть на воду".  Все уже сказано-пересказано сотни раз, причём в результате, по моим наблюдениям, лагерь болельщиков ЦСКА в попытке обьяснить происходящее в...</p>
   </div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title camera">“СПАРТАК” - “ЦСК”. Как это было.</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava.png'%} alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>Шикарное видео, всем кб и просто ценителям качества рекомендую)<br> www.youtube.com/watch?v=aGJa2x-DBYQ&feature=youtu.be</p>
   </div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title camera">“ЗЕНИТ” - “ТОМЬ”: послематчевая пресс-конференция.</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava2.png'%}" alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>www.youtube.com/watch?v=r7c4YdVHIz0</p>
   </div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title camera">19 тур ФНЛ. СКА-Хабаровск - Тосно 1:0</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava2.png'%}" alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>www.youtube.com/watch?v=r7c4YdVHIz0</p>
   </div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title">Кошка бросила котят</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava3.png'%}" alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>Знаете, писать что-то о руководстве ПФК ЦСКА в контексте того, что последние несколько лет происходит в клубе, в результате чего мы имеем то, что имеем, значит в очередной раз пытаться "дуть на воду".  Все уже сказано-пересказано сотни раз, причём в результате, по моим наблюдениям, лагерь болельщиков ЦСКА в попытке обьяснить происходящее в...</p>
   </div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title camera">“СПАРТАК” - “ЦСК”. Как это было.</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static 'img/tribuna/ava.png'%} alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>Шикарное видео, всем кб и просто ценителям качества рекомендую)<br> www.youtube.com/watch?v=aGJa2x-DBYQ&feature=youtu.be</p>
   </div>
</div>

<div class="comment">
   <div class="activity_score">
       <span class="activity_title camera">“ЗЕНИТ” - “ТОМЬ”: послематчевая пресс-конференция.</span>
       <div class="right_score">
           <span class="comments_score">31.10.2016</span><span class="saw_score">145</span>
       </div>
   </div>
   <div class="profile_tribuna">
       <a href="#">
           <img src="{% static ''%}img/tribuna/ava2.png" alt="">
           <span class="nickname_tribuna">Tikhonov2014</span>
       </a>
   </div>
   <div class="comment_right">
       <p>www.youtube.com/watch?v=r7c4YdVHIz0</p>
   </div>
</div>

<div class="page_list">
   <ul>
       <li><a href="#">1</a></li>
       <li><a href="#">2</a></li>
       <li><a href="#">3</a></li>
       <li><a href="#">4</a></li>
       <li><a href="#">5</a></li>
       <li><a href="#">6</a></li>
       <li><a href="#">7</a></li>
       <li><a href="#">8</a></li>
       <li><a href="#">9</a></li>
       <li><a href="#"><img src="{% static 'img/tribuna/arrow.png'%}" alt=""></a></li>
   </ul>
</div>
<div class="now_chat">
   <p class="now_chat_title">Сейчас обсуждается:</p>
   <p class="ow_chat_text"><a href="#">Сегодня 14:08</a>   Максим Митрофанов: Наибольшие опасения сейчас вызывает транспортная логистика</p>
   <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Будогосский: программа работы одобрена, с нашим судейством нужно что-то делать</p>
   <p class="now_chat_text"><a href="#">Сегодня 14:07</a>   Сергей Ольшанский: Слуцкому нужно больше доверять Страндбергу, Траоре уже "поиграл"</p>
</div>