{% extends 'base_template.html' %}

{% load staticfiles %}
{% block title %}Трибуна{% endblock %}

{% block content %}
   <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
       <div class="tribuna">
           <div class="central_column">
               <p class="caption">Трибуна</p>
               <ul class="nav nav-tabs ajax-tabs" role="tablist">
                   <li role="presentation" class="active"><a href="#avtor" aria-controls="avtor" role="tab" data-toggle="tab" data-ajax-url="{% url 'common:tribuna_tabs' %}?articles=authors">Авторские</a></li>
                   <li role="presentation" ><a href="#istok" aria-controls="istok" role="tab" data-toggle="tab" data-ajax-url="{% url 'common:tribuna_tabs' %}?articles=authors">Из источников</a></li>
                   <li role="presentation"><a href="#all" aria-controls="all" role="tab" data-toggle="tab" data-ajax-url="{% url 'common:tribuna_tabs' %}?articles=authors">Все</a></li>
               </ul>

               <div class="tab-content">
                   <div role="tabpanel" class="tab-pane active" id="avtor">

                   </div>
                   <div role="tabpanel" class="tab-pane" id="istok">
                       <div class="comment">
                           <div class="activity_score">
                               <span class="when">Сегодня, 12:46</span>
                               <div class="right_score">
                                   <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                               </div>
                           </div>
                           <a href="#"><p>Лодыгин: с "Ростовом" у меня была не одна ошибка, вся игра в целом не удалась</p></a>
                           <p>Вратарь "Зенита" Юрий Лодыгин признался, что в домашней встрече с...</p>
                       </div>
                   </div>
                   <div role="tabpanel" class="tab-pane" id="all">
                       <div class="comment">
                           <div class="activity_score">
                               <span class="when">Сегодня, 12:46</span>
                               <div class="right_score">
                                   <span class="comments_score">764</span>/<span class="saw_score">12314</span>
                               </div>
                           </div>
                           <a href="#"><p>Лодыгин: с "Ростовом" у меня была не одна ошибка, вся игра в целом не удалась</p></a>
                       </div>
                   </div>
               </div>
           </div>
       </div></div>
{% endblock %}

{% block additional_scripts %}
<script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".tribuna").ajaxTabpanel();
    })
</script>
{% endblock %}