{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/votes.css" %}">
    {% endblock %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="pageName">
            <img class="caption" src="{% static 'img/stat/ball.png' %}"/>Голосования
        </div>
        <div class="col-xs-12 all-votes">
            <div class="col-xs-12 padding-off vote">
                <p>Как по вашему мнению, стоит ли возвращать систему розыгрыша чемпионата России "весна- осень"? </p>

                <div class="radio">
                    <label>
                        <input type="radio"> Не могу ответить однозначно
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio"> Да, нужно вернуть прежнюю систему
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio"> Нет, играть нужно по действующей системе
                    </label>
                </div>

                <div class="voters">Всего проголосовало: 4206</div>
            </div>

            <div class="col-xs-12 padding-off vote vote-close">
                <p>Как по вашему мнению, стоит ли возвращать систему розыгрыша чемпионата России "весна- осень"? </p>


                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Победой "Спартака" с разницей в два мяча и более</td>
                        <td>
                            <div class="progres-bar">
                                <div class="bar" style="width: 25%"></div>
                            </div>
                        </td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>Победой "Спартака" с разницей в два мяча и более</td>
                        <td>
                            <div class="progres-bar">
                                <div class="bar" style="width: 25%"></div>
                            </div>
                        </td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>Победой "Спартака" с разницей в два мяча и более</td>
                        <td>
                            <div class="progres-bar">
                                <div class="bar" style="width: 25%"></div>
                            </div>
                        </td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>Победой "Спартака" с разницей в два мяча и более</td>
                        <td>
                            <div class="progres-bar">
                                <div class="bar" style="width: 25%"></div>
                            </div>
                        </td>
                        <td>5%</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="voters">Всего проголосовало: 4206</div>
        </div>

    </div>

{% endblock %}