{% extends 'account/profile_base.html' %}
{% load staticfiles %}
{% block tab_content %}
    <div id="rg-gallery" class="rg-gallery">
        <div class="rg-thumbs">
            <div class="es-carousel-wrapper">
                <div class="es-nav">
                    <span class="es-nav-prev">Previous</span>
                    <span class="es-nav-next">Next</span>
                </div>
                <div class="es-carousel">
                    <ul>
                        {% for image in images %}
                            <li {% if image.pk == current %}class="selected"{% endif %}>
                                <a href="#">
                                    <img src="{{ image.image.url }}"
                                         data-large="{{ image.image.url }}"
                                         alt="image02" data-description="{{ image.title }}"/>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- End Elastislide Carousel Thumbnail Viewer -->
        </div><!-- rg-thumbs -->
    </div>

{% endblock %}
{% block additional_scripts %}
    {#    <script src="js/jquery-2-0-0.js"></script>#}
    {##}

    {#    <script src="js/bootstrap.min.js"></script>#}
    {#    <script src="js/script.js"></script>#}
    {#    <script src="js/jquery.bxslider.min.js"></script>#}

    <script type="text/javascript" src="{% static 'js/gallery_slider/jquery.tmpl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gallery_slider/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gallery_slider/jquery.elastislide.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gallery_slider/gallery.js' %}"></script>
    <script src="{% static 'js/jquery.barrating.min.js' %}"></script>
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
        <div class="rg-image-wrapper">
            <div class="redact clearfix">
                <div class="pull-left rg-caption" style="display:none">
                    <p></p>
                </div>
                <div class="pull-right right-options">
                    <a href="#"><img src="{% static "img/eye.png" %}" width="18px"></a>
                    <a href="#"> <img src="{% static "img/pen.png" %}" width="15px"></a>
                    <a href="#"> <img src="{% static "img/dell.png" %}" width="15px"></a>
                </div>
            </div>
            <div class="rg-image"></div>
            <div class="rg-loading"></div>
            <div class="rg-caption-wrapper"></div>
            <div class="your_rate">
                <p>Ваша оценка: <span>нет</span></p>
                <p class="average_rate"> Средняя: <span>4</span> <span>(1 голос)</span></p>
                <select id="rating_photo">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function(){
                $('#rating_photo').barrating({
                        theme: 'fontawesome-stars'
                });
            }, 200);
        });
    </script>
{% endblock %}
{% block additional_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_gallery.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/elastislide.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fontawesome-stars.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/photo.css' %}"/>
{% endblock %}