{% extends 'account/profile_base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block tab_content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {%  bootstrap_field field %}
        {% endfor %}
        <button class="btn btn-success" type="submit">Сохранить</button>
    </form>
{% endblock %}
