{% extends 'account/profile_base.html' %}
{% load staticfiles %}
{% block tab_content %}
    <form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
        {{ formset.management_form }}
        <div class="upload ">
            <div class="row"></div>
        </div>
        <div>
            <button class="btn btn-success btn-upload" type="submit">Загрузить</button>
        </div>
    </form>

    {% block additional_scripts %}
       <script src="{% static 'js/upload_form.js' %}"></script>
    {% endblock %}
{% endblock %}
