{% extends 'account/profile_base.html' %}
{% load staticfiles %}
{% block tab_content %}
    <div class="row">
        <div class="col-xs-12 col-md-5  padding-xs-off">
            <div class="all-alboms">
{#                <p class="albom-name">NAME</p>#}
                <div class="{% if album %}albom{% endif %}">
                    <img class="albom-ava" src="{{ user.unsorted_album_cover }}">
                    <a href="{% url 'accounts:photos' user.pk %}">Неразобранное</a>
                </div>
                {% for a in request.user.albums.all %}
                    <div class="{% if album.id != a.pk %}albom{% endif %}">
                        <img class="albom-ava"
                             src="{% if a.cover %}{{ a.cover.url }}{% else %}{{ a.images.last.image.url }}{% endif %}">
                        <a href="{% url 'accounts:photos_album' user.pk a.id %}">{{ a.name }}</a>
                    </div>
                {% endfor %}
                <div><a href="{% url 'accounts:new_album' %}" class="add-foto btn btn-default">Добавить
                    альбом</a></div>

            </div>
        </div>
        <div class="col-xs-12 col-md-7  padding-xs-off">
        {% if album != 'all' %}
            <div class="col-xs-12 options-lk padding-off options-albom  padding-xs-off">
                    {% if album and album != 'all' %}
                        <a href="{% url 'accounts:gallery_album' user.pk album.pk %}" class="blog-name-lk">{{ album.name }}</a>
                    {% else %}
                        <a href="{% url 'accounts:gallery_photo' user.pk %}" class="blog-name-lk">Неразобранное</a>
                    {% endif %}
                <div class="pull-right right-options">
                    {% if album %}
                        <form action="{% url 'accounts:album_hide' user.pk album.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="show" value="{% if album.show %}0{% else %}1{% endif %}">
                            <button type="submit"><img src="{% static "img/eye.png" %}" width="18px"></button>
                        </form>
                        {{ album.show }}
                    {% else %}
                        <form action="{% url 'accounts:photos_hide' user.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="show" value="{% if user.show_non_album_images %}0{% else %}1{% endif %}">
                            <button type="submit"><img src="{% static "img/eye.png" %}" width="18px"></button>
                        </form>
                        {{ user.show_non_album_images }}
                    {% endif %}
                    {% if album %}<a href="{% url 'accounts:album_update' user.pk album.pk %}"> <img src="{% static "img/pen.png" %}" width="15px"></a>{% endif %}
                    <a href="#"> <img src="{% static "img/dell.png" %}" width="15px"></a>
                </div>
            </div>
        {% endif %}
            <div class="all-albom-photo col-xs-12 padding-off">
                {% for image in images %}
                    {% if album == 'all' or not album %}
                        <div class="col-md-3 col-xs-6"><a href="{% url 'accounts:gallery_photo' user.pk %}?image={{ image.pk }}"><img src="{{ image.image.url }}" width="100%"></a></div>
                    {% else %}
                        <div class="col-md-3 col-xs-6"><a href="{% url 'accounts:gallery_album' user.pk image.album.pk %}?image={{ image.pk }}"><img src="{{ image.image.url }}" width="100%"></a></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-xs-12 padding-xs-off"><a class="add-foto btn btn-default" href="{% if album and album != 'all' %}{% url 'accounts:upload_photos_album' user.pk album.pk %}{% else %}{% url 'accounts:upload_photos' user.pk %}{% endif %}">Добавить фотографии</a></div>
        </div>
    </div>
{% endblock %}
