{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}

    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="pageName">
            <img class="caption" src="{% static "img/stat/ball.png" %}"/>Корзина
        </div>
        <div class="col-xs-12 basket">
            <img src="{% static "img/stat/cart.gif" %}" class="icon">
            <a href="{% url 'shop:cart' %}" class="blue" style="text-decoration:underline">
                <b>Ваша корзина:</b>
            </a>
        </div>
        {% for cart_item in request.user.carts.all %}
            <div class="col-xs-12 padding-off item">
                <div class="col-xs-6">
                    <div class="basket-product">
                        {{ cart_item.item.name }}
                        (x{{ cart_item.quantity }})
                    </div>
                    <div class="basket-price">Цена: <span>{{ cart_item.item.price }}</span></div>
                </div>
                <div class="col-xs-6">
                    <a class="btn btn-sm btn-danger item_remove" data-item="{{ cart_item.id }}">Удалить</a>
                </div>
            </div>
        {% endfor %}
        <div class="col-xs-12 borderBot">
        </div>
        <div class="col-xs-12 check-line padding-off">
            <div class="col-xs-6">
                <div>У вас на счету: <b style="color:#50B81F">{{ request.user.balance }} руб.</b><br></div>
                <div>Необходимо для оплаты: <b style="color:red"><span class="cart_sum">{{ request.user.cart_sum }}</span> руб.</b><br></div>
            </div>
            <div class="col-xs-6">
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Оплатить</button>
                </form>
                <form action="{% url 'transaction:payment' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="sum" value="{{ balance_add }}">
                    <button type="submit" class="btn btn-primary">Пополнить баланс</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12">
            <a type="button" class="btn btn-primary to-shop" href="{% url "shop:base" %}">Вернуться в магазин</a>
        </div>
        <div class="col-xs-12 padding-off web-pay">
            <a href="http://www.megastock.ru/" target="_blank"><img src="{% static "img/stat/bil_icon_webmoney.png" %}"></a>
            &nbsp; &nbsp;
            <a href="http://money.yandex.ru/" target="_blank"><img
                    src="{% static "img/stat/bil_icon_yandex.png" %}"></a>
        </div>


    </div>
{% endblock %}
{% block additional_scripts %}
    <script>
        $('.item_remove').click(function (e) {
            e.preventDefault();
            var self = this;
            $.ajax({
                type: 'POST',
                url: '{% url 'shop:cart_remove' %}',
                data: {'item': $(self).data('item')},
                success: function (data) {
                    $(self).closest('.item').remove();
                    $('.cart_sum').html(data);
                    console.log(data)
                }
            })
        })
    </script>
{% endblock %}