{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="pageName">
            <img class="caption" src="{% static "img/stat/ball.png" %}"/>Магазин подарков
        </div>
        <div class="">
            <div class="">
                <div style="float:left;width:40%">
                    <img src="{% static "img/stat/cart.gif" %}" class="icon">
                    <a href="{% url 'shop:cart' %}" class="blue" style="text-decoration:underline"><b>Ваша
                        корзина</b></a>
                    <div style="padding:5px;">У вас на счету: <b style="color:#50B81F">{{ request.user.balance }}
                        руб.</b><br></div>
                </div>
                <div style="float: left;padding-top: 5px;">
                    <button type="button" class="btn btn-lg btn-primary" href="/shop/">Пополнить баланс</button>
                </div>
            </div>
            <div class="col-xs-12 borderBot">
                <span>Доступные товары</span>
            </div>
        </div>
        {% for item in items %}
            <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9 StuffListItem2">
                <img src="{{ item.image.url }}" class="ItemImage">
                <b class="ItemTitle">{{ item.name }}</b>
                <div class="ItemDesc">
                    {{ item.description }}
                    Действует {{ item.expired }} дней.<br>
                    Минимальный уровень для использования: <b>{{ item.get_level_display }}</b>
                </div>
                <div>
                    <div class="ItemPrice">Цена: <b class="Price">{{ item.price }} руб.</b></div>
                    <img src="{% static "img/stat/cartplus.gif" %}" class="icon"><a href="" class="cart_add"
                                                                                    data-item="{{ item.pk }}"><b>Положить
                    в
                    корзину</b></a>
                </div>
            </div>
        {% endfor %}
        <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
            <a href="http://www.megastock.ru/" target="_blank"><img src="{% static "img/stat/bil_icon_webmoney.png" %}"></a>
            &nbsp; &nbsp;
            <a href="http://money.yandex.ru/" target="_blank"><img
                    src="{% static "img/stat/bil_icon_yandex.png" %}"></a>
        </div>
    </div>
{% endblock %}
{% block additional_scripts %}
    <script>
        $(document).ready(function (e) {
            $('.cart_add').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{% url 'shop:cart_add' %}',
                    data: {'item': $(this).data('item')},
                    success: function (data) {
                        $.notify({
                            message: 'Товар успешно добавлен в корзину.' +
                            ' К оплате:' + data + 'руб.'
                        }, {
                            type: 'success'
                        });

                        console.log(data)
                    },
                    error: function (error) {
                        console.log(error)
                    }
                })
            })
        })
    </script>
{% endblock %}
