{% extends "base_template.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content-header %}
    {% include 'slider.html' %}
{% endblock %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-clockpicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption">Конкурс прогнозов</p>
                <div class="top-link-wrap">
                    <a class="top-link" href="{% url 'forecast:competition_create' %}">Создать турнир</a>
                    <a class="top-link" href="">Турниры</a>
                    <a class="top-link" href="">Результаты прогнозов</a>
                </div>
                <div class="create-form">
                    <div class="create-form-header">
                        Новый турнир
                    </div>
                    <div class="create-form-body">
                        <form action="" method="post">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    {% bootstrap_field form.name %}
                                </div>
                                <div class="col-md-6">
                                    {% bootstrap_field form.date_start placeholder='день.мес.год' field_class='date' %}
                                </div>
                                <div class="col-md-6">
                                    {% bootstrap_field form.date_finish placeholder='день.мес.год' field_class='date' %}
                                </div>
                                <div class="col-md-12 match-formsets">
                                    <label for="">Матчи</label>
                                    {{ formset.management_form }}
                                    {% for match in formset %}
                                        <div class="form-match-wrap match-form">
                                            <div class="form-match">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {% bootstrap_field match.team1 %}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {% bootstrap_field match.team2 %}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {% bootstrap_field match.date placeholder='день.мес.год' field_class='date' %}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {% bootstrap_field match.time placeholder='час.мин' field_class='time' %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <a class="btn btn-primary btn-xs add_formset" href="">+ Добавить еще матч</a>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-success">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="forecast-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Турниры:</th>
                            <th>Количество<br>участников</th>
                            <th>Количество<br>Матчей</th>
                            <th>Начало</th>
                            <th>Окончание</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tournament in tournaments %}
                            <tr>
                                <td>✖ {{ tournament.name }}</td>
                                <td>{{ tournament.participants }}</td>
                                <td>{{ tournament.matches.count }}</td>
                                <td>{{ tournament.date_start }}</td>
                                <td>
                                    <div>
                                        {{ tournament.date_finish }}
                                    </div>
                                    <a class="btn-sm btn-danger" href="{% url 'forecast:forecast_update' tournament.pk %}">Редактировать</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "pagination.html" %}
            </div>
        </div>
    </div>

{% endblock %}
{% block additional_scripts %}
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/bootstrap-clockpicker.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.date').find('input').datepicker({
                autoclose: true,
                todayHighlight: true
            });
            $('.selectpicker').selectpicker();
            $('.time').find('input').clockpicker({
                placement: 'bottom',
                align: 'left',
                autoclose: true,
                'default': 'now'
            });
            $('.add_formset').click(function (e) {
                e.preventDefault();
                cloneMore('.match-form:last')

            });
        });

        function cloneMore(selector) {
            var newElement = $(selector).clone();
            var total_block = $('#id_form-TOTAL_FORMS');
            var total = total_block.val();
            newElement.find(':input').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function() {
                var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                $(this).attr('for', newFor);
            });
            total++;
            total_block.val(total);
            newElement.find('.date').find('input').datepicker({
                autoclose: true,
                todayHighlight: true
            });
            newElement.find('.time').find('input').clockpicker({
                placement: 'bottom',
                align: 'left',
                autoclose: true,
                'default': 'now'
            });
            newElement.find('.has-error').removeClass('has-error');
            newElement.find('.help-block').remove();
            newElement.find('.has-success').removeClass('has-success');
            $(selector).after(newElement);
        }
    </script>
{% endblock %}