{% extends 'base_template.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption">Изменить результаты</p>
                <div class="top-link-wrap">
                    <a class="top-link" href="">Турниры</a>
                    <a class="top-link" href="">Результаты прогнозов</a>
                </div>
                <div class="create-form">
                    <div class="create-form-body">
                        <form action="" method="post">
                        {% csrf_token %}
                            {{ formset.management_form }}
                            {% for form in formset %}
                                <div class="row">
                                    {% with form.match.initial as match %}
                                        {{ form.match }}
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ match.team1 }} vs
                                                {{ match.team2 }}
                                                <br>
                                                {{ match.date }}
                                                {{ match.time }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {% bootstrap_field form.team1_score %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {% bootstrap_field form.team2_score %}
                                            </div>
                                        </div>
                                    {% endwith %}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-sm btn-success">Сохранить</button>
                        </form>
                    </div>
                </div>
                <div class="forecast-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Турниры:</th>
                            <th>Количество<br>участников</th>
                            <th>Количество<br>Матчей</th>
                            <th>Начало</th>
                            <th>Окончание</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tournament in tournaments %}
                            <tr>
                                <td>✖ {{ tournament.name }}</td>
                                <td>{{ tournament.participants }}</td>
                                <td>{{ tournament.matches.count }}</td>
                                <td>{{ tournament.date_start }}</td>
                                <td>
                                    <div>
                                        {{ tournament.date_finish }}
                                    </div>
                                    <a class="btn-sm btn-danger" href="{% url 'forecast:forecast_update' tournament.pk %}">Редактировать</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "pagination.html" %}
            </div>
        </div>
    </div>
{% endblock %}
