{% extends "base_template.html" %}
{% load staticfiles %}
{% load collections %}
{% block content-header %}
    {% include 'slider.html' %}
{% endblock %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
    {% endblock %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption">Конкурс прогнозов</p>
                <div class="top-link-wrap">
                    <a class="top-link" href="{% url 'forecast:competition_create' %}">Создать турнир</a>
                    <a class="top-link" href="">Турниры</a>
                    {% if tournaments %}<a class="top-link" href="{% url 'forecast:forecast_result' tournaments.first.id %}">Результаты прогнозов</a>{% endif %}
                </div>
                <div class="forecast-result-table">
                    <div class="forecast-result-header">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="name">
                                    <span>Результаты прогнозов:</span> <a href="">{{ tournament.name }}</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <form action="">
                                    <select name="" id="" class="selectpicker" data-style="btn-white">
                                        {% for i in tournaments %}
                                            <option value="">{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td colspan="3"></td>
                                <td colspan="3">Угадано количество раз</td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td>№</td>
                                <td>Ник участника</td>
                                <td>Счет</td>
                                <td>Разница</td>
                                <td>Исход</td>
                                <td>Мимо</td>
                                <td>Сумма очков</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for point in points %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <div>
                                            <div class="hidden-title">{{ point.user.username }}</div>
                                            <a class="status-image" href="">
                                                <img class="profile-image" src="{% if point.user.level.level > 2 and point.user.image %}{{ point.user.image.url }}{% else %}{{ point.user.avatar.image.url }}{% endif %}" alt="{{ point.user.username }}">
                                                {% if point.user.level.level > 0 %}<img src="{{ point.user.level|get_user_level }}" alt="">{% endif %}
                                            </a>
                                            <a href="">{{ point.user.username }}</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="hidden-title">Счёт:</div>
                                        <span>{{ point.score }}</span>
                                    </td>
                                    <td>
                                        <div class="hidden-title">Разница:</div>
                                        <span>{{ point.difference }}</span>
                                    </td>
                                    <td>
                                        <div class="hidden-title">Исход:</div>
                                        <span>{{ point.result }}</span>
                                    </td>
                                    <td>
                                        <div class="hidden-title">Мимо:</div>
                                        <span>{{ point.total }}</span>
                                    </td>
                                    <td>
                                        <div class="hidden-title">Сумма очков:</div>
                                        <span>{{ point.total }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"></td>
                                <td colspan="5"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                {% include "pagination.html" %}
            </div>
        </div>
    </div>

{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}