{% extends "base_template.html" %}
{% load staticfiles %}
{% block content-header %}
    {% include 'slider.html' %}
{% endblock %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption">Конкурс прогнозов</p>
                <div class="top-link-wrap">
                    <a class="top-link" href="{% url 'forecast:competition_create' %}">Создать турнир</a>
                    <a class="top-link" href="">Турниры</a>
                    {% if tournaments %}
                        <a class="top-link" href="{% url 'forecast:forecast_result' tournaments.first.id %}">Результаты прогнозов</a>
                    {% endif %}
                </div>
                <div class="forecast-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Турниры:</th>
                                <th>Количество<br>участников</th>
                                <th>Количество<br>Матчей</th>
                                <th>Начало</th>
                                <th>Окончание</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for tournament in tournaments %}
                            <tr>
                                <td>
                                    <a href="{% url 'forecast:forecast_set_scores' tournament.id %}">установить результаты</a>
                                    <span class="hidden-title">Турнир:</span>
                                    <a href="{% url 'forecast:forecast_detail' tournament.id %}">{{ tournament.name }}</a>
                                </td>
                                <td>
                                    <span class="hidden-title">Количество участников:</span>
                                    {{ tournament.participants }}
                                </td>
                                <td>
                                    <span class="hidden-title">Количество матчей:</span>
                                    {{ tournament.matches.count }}
                                </td>
                                <td>
                                    <span class="hidden-title">Начало:</span>
                                    {{ tournament.date_start }}
                                </td>
                                <td>
                                    <div>
                                        <span class="hidden-title">Окончание:</span>
                                        {{ tournament.date_finish }}
                                    </div>
                                    <a class="btn-sm btn-danger" href="{% url 'forecast:forecast_update' tournament.pk %}">Редактировать</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "pagination.html" %}
            </div>
        </div>
    </div>

{% endblock %}