{% extends 'base_template.html' %}
{% load forecasts %}
{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption">Конкурс прогнозов</p>
                <div class="top-link-wrap">
                    <a class="top-link" href="">Турниры</a>
                    <a class="top-link" href="{% url 'forecast:forecast_result' object.id %}">Результаты прогнозов</a>
                </div>
                <div class="forecast-table">
                    <div class="forecast-table-header">
                        <span>Турнир:</span> {{ object.name }}
                    </div>
                    <form action="" method="post">
                    {% csrf_token %}
                        <table>
                            <thead>
                                <tr>
                                    <td>Дата проведения</td>
                                    <td>Команды</td>
                                    <td>Счет матча</td>
                                    <td>Ваш прогноз</td>
                                    <td>Ваши очки за матч</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for match in object.matches.all %}
                                    <tr>
                                        <td></td>
                                        <td>{{ match }}</td>
                                        <td>
                                            {% if match.finished %}
                                                {% if match.team1 %}
                                                    {{ match.team1_score }} : {{ match.team2_score }}
                                                {% endif %}
                                            {% else %}
                                                не сыгран
                                            {% endif %}</td>
                                        <td>
                                            {% is_forecast request.user match as user_forecast %}
                                            {% if user_forecast %}
                                                {{ user_forecast.team1 }} : {{ user_forecast.team2 }}
                                            {% else %}
                                                <input type="text" name="team1_{{ match.id }}">:<input type="text" name="team2_{{ match.id }}">
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user_forecast %}
                                                {{ match|get_match_points:user_forecast }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-right" style="margin-top:15px">
                            <button type="submit" class="btn btn-sm btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}