{% extends "base_template.html" %}
{% load staticfiles %}
{% block content-header %}
    {% include 'slider.html' %}
{% endblock %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption">Результаты матчей</p>
                <div class="top-link-wrap">
                    <a class="top-link" href="#">Таблицы европейских первенств</a>
                    <a class="top-link" href="#">Лига Чемпионов</a>
                    <a class="top-link" href="#">Лига Европы</a>
                    <a class="top-link" href="#">Российская премьер-лига</a>
                </div>
                <div class="tournament-table-wrap">
                    <div><span class="tt bold">Тур 1</span></div>
                    <div class="tournament-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href="{% url 'forecast:match_create' %}"><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div><span class="tt bold">Тур 2</span></div>
                    <div class="tournament-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div><span class="tt bold">Тур 3</span></div>
                    <div class="tournament-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div><span class="tt bold">Тур 4</span></div>
                    <div class="tournament-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href=""><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% include "pagination.html" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}