{% extends "base_template.html" %}
{% load staticfiles %}
{% block content-header %}
    {% include 'slider.html' %}
{% endblock %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-clockpicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/static_tmpl.css" %}">
    {% endblock %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption">Результаты матчей</p>
                <div class="top-link-wrap">
                    <a class="top-link" href="#">Таблицы европейских первенств</a>
                    <a class="top-link" href="#">Лига Чемпионов</a>
                    <a class="top-link" href="#">Лига Европы</a>
                    <a class="top-link" href="#">Российская премьер-лига</a>
                </div>
                <div class="create-form">
                    <div class="create-form-header">
                        Новый матч
                    </div>
                    <div class="create-form-body">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id="" class="selectpicker" data-style="btn-white">
                                            <option value="">AC Milan</option>
                                            <option value="">AC Milan</option>
                                            <option value="">AC Milan</option>
                                            <option value="">AC Milan</option>
                                            <option value="">AC Milan</option>
                                            <option value="">AC Milan</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id="" class="selectpicker" data-style="btn-white">
                                            <option value="">ЗЕНИТ</option>
                                            <option value="">ЗЕНИТ</option>
                                            <option value="">ЗЕНИТ</option>
                                            <option value="">ЗЕНИТ</option>
                                            <option value="">ЗЕНИТ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_tour">Тур:</label>
                                        <input id="id_tour" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_score">Счет:</label>
                                        <input id="id_score" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_start">День проведения:</label>
                                        <input type="text" class="form-control" placeholder="день.мес.год" id="id_day">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_start">Время проведения:</label>
                                        <input type="text" class="form-control" placeholder="день.мес.год" id="id_time">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-sm btn-success">Сохранить</button>
                                    <button type="button" class="btn btn-sm btn-danger">Удалить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tournament-table-wrap">
                    <div><span class="tt bold">Тур 1</span></div>
                    <div class="tournament-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img src="{% static 'img/loko.png' %}" width="20px">Тундра</td>
                                    <td><span class="tournament-score">2 : 0</span></td>
                                    <td>Австралия<img src="{% static 'img/loko.png' %}" width="20px"></td>
                                    <td>
                                        <span class="tournament-day">03.03</span>
                                        <span class="tournament-time">15:30</span>
                                        <a class="tournament-edit" href="{% url 'forecast:match_create' %}"><i class="fa fa-wrench"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block additional_scripts %}
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/bootstrap-clockpicker.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#id_start, #id_end, #id_day').datepicker({
                autoclose: true,
                todayHighlight: true
            });
            $('.selectpicker').selectpicker();
            $('#id_time').clockpicker({
                placement: 'bottom',
                align: 'left',
                autoclose: true,
                'default': 'now'
            });
        })
    </script>
{% endblock %}