{% load collections %}

<div>Вoпрос</div>
{% for i in poll.result %}
    <div class="div-var-poll">
        <span class="percent">Вариант ответа {{ i.text }} - {{ i.count|avg:poll.votes_total }} | {{ i.count }}</span>
        <div class="var-poll" style="width:{{ i.count|avg:poll.votes_total }}%; height: 87%"></div>
    </div>
{% endfor %}