{% extends 'account/profile_base.html' %}
{% block tab_content %}
    {% for item in items %}
        <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9 StuffListItem2">
                <img src="{{ item.item.image.url }}" class="ItemImage">
                <b class="ItemTitle">{{ item.item.name }} (x{{ item.quantity }})</b>
                <div class="ItemDesc">
                    {{ item.item.description }}
                    Действует {{ item.item.expired }} дней.<br>
                    Минимальный уровень для использования: <b>{{ item.item.get_level_display }}</b>
                </div>

            </div>
    {% endfor %}
{% endblock %}