{% extends 'account/profile_base.html' %}
{% load staticfiles %}
{% block additional_links %}
    <link rel="stylesheet" type="text/css" href="{% static "css/post.css" %}">
{% endblock %}

{% block tab_content %}
    <div class="row">
        <div class="col-xs-12 message-block">
            <div class="col-xs-12 col-md-3 left-menu padding-off">
                <div class="navigation">
                    <a href="#contacts" data-block="contacts" class="contacts nav-link">Контакты</a>
                    <a href="#inbox" data-block="messages" class="mails selected nav-link">Сообщения</a>


                    <a href="#inbox" data-block="messages" class="reload_msg write link_img nav-link">
                        <img src="{% static "img/mail/obnov.png" %}"></a>
                    <a href="#write_message" data-block="write_message" class="sent_msg write nav-link link_img">
                        <img src="{% static "img/mail/message.png" %}"></a>

                    <div class="for_mails">
                        <a href="#inbox" data-block="messages" class="inbox selected nav-link">Входящие</a>
                        <a href="#sent" data-block="messages" class="sent nav-link">Отправленные</a>
                        <a href="#spam" data-block="messages" class="spam nav-link">Спам</a>
                        <a href="#settings" data-block="settings" class="settings nav-link">Настройки</a>
                    </div>

                    <div class="for_contacts">
                        <a href="#contacts" data-block="contacts" class="contacts nav-link">Контакты</a>
                        <a href="#friends" data-block="contacts" class="friends nav-link">Друзья</a>
                        <a href="#ignores" data-block="contacts" class="ignores nav-link">Игнорируемые</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 right-part">
                <div class="mail_block clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block profile_scripts %}
    <script src="{% static "js/category.js" %}"></script>
    <script>
        $(document).ready(function () {
            var $mail_block = $('.mail_block');
            var $nav = $('.message-block');

            redirectMailByHREF($mail_block, '#inbox', '{% url 'accounts:messages_get' pk=request.user.pk %}');

            $nav.on('click', 'a.nav-link', function (e) {
                var href = $(this).attr('href').replace('#', '');
                var data = {'type': href, block: $(this).data('block')};

                if ($(this).hasClass('write_message')) {
                    data['msg'] = $(this).data('msg')
                }
                $.ajax({
                    type: 'post',
                    url: '{% url 'accounts:messages_get' pk=request.user.pk %}',
                    data: data,
                    success: function (data) {
                        $mail_block.html(data);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                })
            })
                .on('click', 'a.ignore', function (e) {

                    $.ajax({
                        type: 'POST',
                        url: '{% url 'accounts:add_to_ignore' pk=request.user.pk %}',
                        data: {action: $(this).data('action'), user: $(this).data('user')},
                        success: function (data) {
                            if (data.success) {
                                redirectMailByHREF($mail_block, '#sent', '{% url 'accounts:messages_get' pk=request.user.pk %}');
                            }
                        }
                    })
                });
            $mail_block.on('submit', '.message_create', function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    type: 'post',
                    url: '{% url 'accounts:messages_create' pk=request.user.pk %}',
                    data: formData,
                    success: function (data) {
                        if (data.success == true) {
                            // Сообщение об успешной отправке
                            redirectMailByHREF($mail_block, '#sent', '{% url 'accounts:messages_get' pk=request.user.pk %}');
                        } else {
                            $('p.error').remove();
                            // Обработка ошибок
                            for (var field in data) {
                                if (!data.hasOwnProperty(field)) continue;

                                var msg = '';
                                for (var error in data[field]) {
                                    if (!data[field].hasOwnProperty(error)) continue;
                                    msg += '<p class="error">' + data[field][error] + '</p>';
                                }
                                $('[name="' + field + '"]').after(msg);
                            }
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    },
                    contentType: false,
                    processData: false
                })
            })
                    .on('click', 'a.get_message', function (e) {
                        $.ajax({
                            type: 'post',
                            url: '{% url 'accounts:messages_get' pk=request.user.pk %}',
                            data: {block: 'message_detail', msg: $(this).data('msg')},
                            success: function (data) {
                                $mail_block.html(data);
                            },
                            error: function (e) {
                                console.log(e)
                            }
                        })
                    })
        });

        function redirectMailByHREF(mail_block, href, url){
                href = href.replace('#', '');

                var data = {'type': href, block: 'messages'};

                $.ajax({
                    type: 'post',
                    url: url,
                    data: data,
                    success: function (data) {
                        mail_block.html(data);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
        }
    </script>

{% endblock %}