<form action="" class="message_create">
    <input type="hidden" name="re" value="{% if re %}{{ re.pk }}{% endif %}">
    <div class="col-xs-12">
        <label for="who">Кому:</label><input id="who" class="input-new-message pull-right" type="text" name="user_to" value="{% if re %}{{ re.user_from }}{% endif %}">
    </div>
    <div class="col-xs-12">
        <label for="theme">Тема:</label><input id="theme" class="input-new-message pull-right" type="text" name="subject" value="{% if re %}RE: {{ re.subject }}{% endif %}">
    </div>
    <div class="col-xs-12">
        <textarea name="text" id="new-msg"></textarea>
    </div>
    <div class="col-xs-12">
        <button class="btn btn-success" type="submit">Отправить</button>
    </div>
</form>
