{% load collections %}
<div class="col-xs-12 padding-off">
    <form class="settings-lk">
        <div class="col-xs-12 padding-off setting-box">
            <span>
                <a href="#write_message" data-block="write_message" class="nav-link write_message" data-msg="{{ object.pk }}"><span class="glyphicon glyphicon-envelope"></span> Ответить</a>
                <a href="#" class="ignore" data-action="{{ ignore|yesno:"remove,add" }}" data-user="{{ object.user_from.pk }}"><span class="glyphicon glyphicon-remove-sign"></span> В игнор</a>
            </span>
        </div>
        <div class="col-xs-12 ">
            <div class="col-xs-12 setting-child">
                {{ object.title }}
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="col-xs-12 setting-child padding-off">

                <div class="col-xs-12 padding-off margin-msg-prof">
                    {% show_messages object %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <p>{{ object.title }}</p>
        </div>
    </form>
</div>
