<div class="messages">
    <div class="col-sm-6 hidden-xs top-tab">
        <span class="top-name">{{ table_name }}</span>
    </div>
    <div class="col-xs-12 col-sm-6 top-tab">

        <input class="search-massage " type="text">
        <button class="button_head for_search btn-message"></button>

    </div>

    <div class="col-xs-4 padding-off"><p class="cell-name bord">Имя</p></div>
    <div class="col-xs-4 padding-off"><p class="cell-name bord">Тема</p></div>
    <div class="col-xs-4 padding-off"><p class="cell-name bord">Дата</p></div>
    {% for message in messages reversed %}
        <a href="#messages_detail" data-msg="{{ message.pk }}" class="get_message">
            <div class="col-xs-12 padding-off cell-name-col">
                <div class="col-xs-4 padding-off"><p class="cell-name msg-tmpl">{{ message.user_from.username }}</p></div>
                <div class="col-xs-4 padding-off"><p class="cell-name msg-tmpl">{{ message.subject }}</p></div>
                <div class="col-xs-4 padding-off"><p class="cell-name msg-tmpl">{{ message.date | date:"d M"}}</p></div>
            </div>
        </a>
    {% empty %}
        <div class="col-xs-12 text-center">
            <div class="no-message">Нет сообщений</div>
        </div>
    {% endfor %}
</div>