<div class="taba{% if current %} activeA{% endif %}">
    <span>{{ message.subject }}</span>
    <div class="msg-body {% if current %} activeQ {% endif %}">
    <div class="container-fluid padding-off">
    <div class="col-xs-3 padding-off">
    <p>From: {{ message.user_from }}</p>
        <p>To: {{ message.user_to }}</p>
        <p>Date: {{ message.date }}</p>
        </div>
        <div class="col-xs-9 padding-off">
        {{ message.text }}
            </div>

    </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(document).on("click", ".taba", function () {
            if ($(this).attr("class") == "taba") {
                $(".activeQ").css("display", "none");
                $(this).children(".msg-body").css("display", "block");
                $(".activeQ").removeClass("activeQ");
                $(".activeA").removeClass("activeA");
                $(this).attr("class", "taba activeA");
                $(this).children(".msg-body").attr("class", "msg-body activeQ");

            }
        });
    });
</script>
