<div class="col-xs-12 padding-off">
    <form class="settings-lk">
        <div class="col-xs-12 padding-off setting-box">
            <span>Настройки</span>
        </div>
        <div class="col-xs-12 ">
            <div class="col-xs-12 setting-child">
                <div class="checkbox">
                    <label><input type="checkbox" value="1">Отсылать сообщения на почту от других пользователей </label>
                    <p>Сообщения от других пользователей будут отсылаться Вам на электронную почту</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="col-xs-12 setting-child">
                <div class="checkbox">
                    <label><input type="checkbox" value="2">Отсылать уведомления на почту </label>
                    <p>Созданные на сайте уведомления, будут отсылаться Вам на электронную почту</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <button class="btn btn-success" type="submit">Сохранить</button>
        </div>
    </form>
</div>


