@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoSlabLight"; */
@font-face {
    font-family: "RobotoSlabLight";
    src: url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.eot");
    src: url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.woff") format("woff"),
    url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoSlabBold"; */
@font-face {
    font-family: "RobotoSlabBold";
    src: url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.eot");
    src: url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
    url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "UbuntuRegular";
    src: url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.eot");
    src: url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuBold"; */
@font-face {
    font-family: "UbuntuBold";
    src: url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.eot");
    src: url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "UbuntuLight"; */
@font-face {
    font-family: "UbuntuLight";
    src: url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.eot");
    src: url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "UbuntuMedium"; */
@font-face {
    font-family: "UbuntuMedium";
    src: url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.eot");
    src: url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.activity_score:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clear_fix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
*{
	padding: 0;
	margin: 0;
	list-style-type: none;
	outline: none;
}
ul{
	margin: 0;
}
body{
	background-color: #1b2033;
}
.header{
	background-color: #7592ad;
	font-family: "UbuntuRegular";
	position: relative;
}
.header div{
	float: left;
	margin: 2px 0 0;
}
.header div input{
	height: 30px;
	padding-left: 10px;
	font-family: "UbuntuLight";
	font-size: 12px;
}
.header .search{
	margin-left: 14px;
	margin-right: 120px;
}
.header .search input{
	width: 260px;
}
.header .login input{
	width: 125px;
}
.header button{
	border: none;
}
.header button:active{
	background-color: #163557;
}
.header .login span{
	font-weight: bold;
}
.button_head{
	height: 30px;
	width: 32px;
	vertical-align: top;
	display: inline-block;
	margin-left: 5px;
}
.button_head.for_search{
	background: url("../img/header/search.png") center center no-repeat;
	background-color: #285379;
}
.button_head.for_enter{
	background: url("../img/header/enter.png") center center no-repeat;
	background-color: #285379;
}
.account a{
	text-decoration: none;
	color: #23547e;
	font: 13px "UbuntuRegular";
	letter-spacing: -1px;
	padding: 0px 10px;
	line-height: 32px;
}
.vhod{
	display: none;
}
.social{
	vertical-align: top;
	margin-right: 25px;
}
.social a:nth-child(1){
	background: url("../img/header/vk.png") center center no-repeat;
	background-color: #3476a5;
}
.social a:nth-child(2){
	background: url("../img/header/twitter.png") center center no-repeat;
	background-color: #00b9c5;
}
.social a:nth-child(3){
	background: url("../img/header/fb.png") center center no-repeat;
	background-color: #2a5e8a;
}
.banner{
	width: 100%;
	height: 170px;
	background: url("../img/header/bg.jpg") top -160px left -10px no-repeat;
}
.top_menu{
	background-color: #fff;
}
.logo{
	display: inline-block;
}
.menu{
	float: right;
	display: inline-block;
	margin-top: 60px;
	padding-right: 16px;
	position: relative;
}
.dropdown-menu {
	right: 0;
	left: auto;
}
.logo img{
	display: inline-block;
	padding: 25px 0 15px 25px;
	height: auto;
}
.menu ul li{
	display: inline-block;
	vertical-align: bottom;	
}
.under_header ul li a{
	display: inline-block;
	text-transform: uppercase;
	font: 15px "UbuntuMedium";
	text-decoration: none;
}
.menu ul li a{
	padding: 0px 12px;
	color: #29557b !important;
}
.bot_menu{
	height: 33px;
	width: 100%;
	background-color: red;
}
.bot_menu ul li{
	display: inline-block;
}
.red_bg{
	background-color: red;
}
.navbar {
    min-height: auto;
}
.navbar .container-fluid{
	padding: 0;
}
.navbar-default {
    border:0;
}
/*Plug fix*/
.navbar {
    margin-bottom: 0px;
}
.navbar-collapse {
    padding: 0;
}
.bx-wrapper .bx-viewport {
    left: 0px;
}
.bx-wrapper .bx-controls-direction a {
    top: auto;
    bottom: -25px;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: -25px;
    width: 97%;
}
.bx-wrapper .bx-prev {
    left: 40%;
}
.bx-wrapper .bx-next {
    right: 43%;
 }
 .bx-wrapper img {
    width: 80px;
    height: 80px;
    display: inline-block;
}
.bx-wrapper{
	padding: 20px 0px 0;
	max-width: 1130px !important;
}
.bx-viewport{
	height: auto !important;
	min-height: 175px;
}
/*End plug fix*/
.bot_menu ul li a{
	padding: 8px 0 7px;
	margin: 0 43px;
	color: #fff !important;
}
.bot_menu ul li:first-child a{
	padding-left:0;
}
.bot_menu ul li:last-child a{
	padding-right:0;
}
.slider{
	height: 220px;
	background-color: #fff;
	padding-bottom: 25px;
	position: relative;
	z-index: 0;
}
.user_post, .date_post{
	display: inline-block;
	vertical-align: top;
	font: 12px "UbuntuRegular";
	font-weight: bold;
}
.date_post{
	color: #bbbcc2;
}
.user_post{
	margin: 3px 0 0 10px;
	color: #4e8dc3;
}
.comment_post{
	max-width: 240px;
	margin-top: 12px;
	color: #29557b;
	font: 13px "RobotoSlabLight";
}

.bg_white{
	background-color: #fff;
	padding: 25px 20px;
}
/*Tabs left and right*/
.right_column_tab .tab-pane p, .left_column .tab-pane p{
	background-color: #d4dce3;
	color: #000;
	font: 20px "UbuntuBold";
	margin: 0;
	text-transform: uppercase;
	padding: 21px 18px;
}
.right_column_tab .tab-pane img, .left_column .tab-pane img{
	width: 100%;
}
.nav-tabs.nav-stacked > li.active > a, .nav-tabs.nav-stacked > li.active > a:hover, .nav-tabs.nav-stacked > li.active > a:focus, .nav-tabs.nav-stacked > li > a:hover {
	color: #000;
	background-color: #d4dce3;
	border-radius: 0;
	margin: 0;
	font: 16px/18px "RobotoSlabLight";
	border-bottom: 3px solid #fff;
}
.nav-tabs.nav-stacked > li > a {
	background-color: #29557b;
	color: #fff;
	font: 16px "UbuntuBold";
	border-radius: 0;
	margin: 0;
	border-bottom: 3px solid #fff;
}
.nav-stacked > li + li {
    margin-top: 0px;
}
/*End of tabs left and right*/

/*Central column*/
.central_column{
	border-top: 1px solid #cbd4dc;
}
.central_column > .nav-tabs > li > a:hover {
    border-color: transparent;
}
.central_column .caption{
	text-transform: uppercase;
	padding: 35px 0;
	font: 28px "UbuntuBold";
	color: #000;
	margin: 0;
	position: relative;
	display: inline-block;
}
.left_column .central_column .caption, .right_column .central_column .caption{
	padding: 10px 0 10px;
	display: block;
}
.central_column .caption_uniq .goto{
	right: 75px;
}
.caption .goto{
	position: absolute;
	right: -60px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: url("../img/central_column/arrow.png") no-repeat center center;
}
.goto.red{
	position: absolute;
	left: 16px;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: url("../img/left_column/arrow.png") no-repeat center center;
}
.central_column > .nav-tabs > li > a{
	text-align: center;
	padding: 15px 25px;
	font: 16px "UbuntuMedium";
	text-transform: uppercase;
	color: #000;
}
.central_column > .nav-tabs > li.active > a,.central_column > .nav-tabs > li.active > a:hover,.central_column > .nav-tabs > li.active > a:focus{
	background-color: #d00000;
	color: #fff;
	border-radius: 0;
}
.central_column > .nav-tabs > li.active > a::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 42%; bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #d00000; /* Добавляем треугольник */
}
.central_column .nav-tabs {
    border-bottom: 0;
    padding-bottom: 10px;
}
.activity_logo{
	display: block;
	height: 15px;
	background: url("../img/central_column/score.png") no-repeat right center;
	margin-bottom: 20px;
}
.activity_score{
	font: 14px "UbuntuLight";
	color: #8b8b8b;
	padding-bottom: 10px;
}
.right_score{
	float: right;
}
.comment{
	margin-bottom: 30px;
}
.comment p{
	padding: 5px 0; 
	margin: 0;
	font: 16px/20px "RobotoSlabLight";
	letter-spacing: -1px;
}
.comment a{
	color: #29557b;
}
.red_rating{
	display: inline-block;
	height: 13px;
	width: 15px;
	margin-right: 18px;
	background: url("../img/central_column/red_rating.png") no-repeat center center;
}
.red_comment{
	display: inline-block;
	height: 13px;
	width: 15px;
	margin-right: 18px;
	background: url("../img/central_column/red_comment.png") no-repeat center center;
}
.activity_comment{
	margin-left: 5px;
}
.activity_comment a{
	color: #4e8dc3;
}
.commentator{
	display: block;
	margin-bottom: 7px;
	color: #4e8dc3 !important;
}
.left_column .comment p{
	font-size: 14px;
}
.right_column .comment a p, .left_column .comment a p{
	font: 16px "RobotoSlabBold";
}
.left_column .activity_score {
    padding-bottom: 5px;
}
.left_column .activity_logo, .right_column .activity_logo{
	height: 25px;
}
.left_column .comment{
	position: relative;
	margin-left: 8px;
}
.left_column .red_comment, .right_column .red_comment{
	position: absolute;
	top: -18px;
}
.right_column .comment{
	position: relative;
}
.right_column > .central_column > .nav-tabs > li.active > .comment_img, .central_column > .nav-tabs > li.active > .comment_img:hover, .central_column > .nav-tabs > li.active > .comment_img:focus{
	background: url("../img/right_column/comment.png") no-repeat top 8px center;
	background-color: #d00000;
}
.comment_img{
	background: url("../img/right_column/comment_hover.png") no-repeat top 8px center;
}
.right_column > .central_column > .nav-tabs > li.active > .look_img, .central_column > .nav-tabs > li.active > .look_img:hover, .central_column > .nav-tabs > li.active > .look_img:focus{
	background: url("../img/right_column/look_hover.png") no-repeat top 12px center;
	background-color: #d00000;
}
.look_img{
	background: url("../img/right_column/look.png") no-repeat top 12px center;
}
.right_column .activity_logo.activity_logo_unique{
    float: right;
    width: 50px;
    margin-top: 8px;
}
.right_column .central_column .nav-tabs li a{
	width: 70px;
	height: 38px;
	padding: 0;
}
.left_column .central_column, .right_column .central_column {
    border-top: 0;
}
.video_img{
	text-indent: 35px;
	background: url("../img/left_column/video.png") no-repeat left 2px top 7px;
}
.livescore{
	font: 14px/18px "UbuntuRegular";
	margin-left: 2px;
}
.right_column > .central_column > .nav-tabs > li.active > a::after {
    left: 37%;
}
.left_column .nav-tabs, .right_column .nav-tabs{
	margin-bottom: 25px;
}
.right_column .user_rating div{
	float: left;
}
.user_rating{
	margin: 30px 0;
	height: 75px;
	font: 12px "UbuntuMedium";
}
.float_left{
	float: left;
}
.nick{
	margin-bottom: 0px;
	margin-left: 2px;
	color: #d02823;
}
.nick:hover{
	text-decoration: none;
	color: #d02823;
}
.medals{
	clear: left;
}
.user_info img{
	margin:1px 5px;
}
.user_stat{
	width: 75px;
	float: right !important;
}
.score_stat{
	margin-top: 2px;
	margin-bottom: 30px;
}
.user_photo{
	margin-top: 5px;
	margin-right: 5px;
}
.user_photo img{
	width: 50px;
}
.gogreen{
	color: #008000;
}
.form_podpiska{
	background-color: #d00000;
	padding: 28px 10px;
}
.form_podpiska input{
	width: 190px;
	height: 30px;
	background-color: #f5c9c9;
	border: 0;
	padding-left: 15px;
	display: inline-block;
}
.form_caption{
	font: 20px "UbuntuBold";
	color: #fff;
	text-transform: uppercase;
}
.form_label{
	font: 14px "UbuntuRegular";
	color: #fff;
	font-style: italic;
}
.enter_podpiska{
	background: url("../img/right_column/arrow.png") no-repeat center center;
	background-color: #285479;
}
.form_golos{
	background-color: #d4dce3;
	padding: 23px 10px;
	margin: 10px 0;
}
/*Radio button*/
.form_golos label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 32px;
	margin: 1px 0px;
	font: 14px/28px "RobotoSlabLight";
}

.form_golos input[type=radio] {
	display: none;
}

.form_golos label:before {
	content: "";
	display: block;

	width: 22px;
	height: 22px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	top: 3px;
	background-color: #fff;
}

.form_golos input[type=radio]:checked + label:before {
    content: "\2713";
    color: #000;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
/*End radio button*/
.form_golos .form_caption{
	color: #000;
	text-align: center;
	padding: 0 0 23px;
	margin: 0;
}
.enter_golos_block{
	display: block;
	text-align: center;

}
.enter_golos{
	font: 15px "UbuntuMedium";
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	padding: 20px 45px;
	margin: 0 auto;
	background-color: #285479;
	margin: 30px 0 38px;
}
.enter_golos:hover{
	color: #fff;
}
.vsego{
	font: 12px/18px "UbuntuRegular";
	font-weight: 600;
	letter-spacing: -1px;
}
.vsego a{
	color: #4e8dc3;
}
.our_social{
	margin: 12px 10px;
	font-family: "UbuntuRegular";
	font-weight: bold;
}
.our_social a{
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 0 6px;
}

.our_social a:nth-child(2){
	margin-left: 0;
	background: url("../img/right_column/vk.png") no-repeat center center;
}
.our_social a:nth-child(3){
	background: url("../img/right_column/tw.png") no-repeat center center;
}
.our_social a:nth-child(4){
	background: url("../img/right_column/fb.png") no-repeat center center;
}
.our_social a:nth-child(5){
	background: url("../img/right_column/plane.png") no-repeat center center;
}
.our_social a:nth-child(6){
	background: url("../img/right_column/youtube.png") no-repeat center center;
}
.our_social a:last-child{
	margin-right: 0;
	background: url("../img/right_column/pen.png") no-repeat center center;
}
.table th{
	text-align: center;
	font-weight: bold; 
}
.table td{
	padding: 10px;
}
.bold_text{
	font-weight: bold;
}
.red_text{
	color: red;
}
.table{
	padding-top: 35px;
}
.table tr td:nth-child(2){
	width: 165px;
	position: relative;
	padding-left: 35px;
}
.table img{
	position: absolute;
	left: 0;
	top: 10px;
}
.gallery{
	margin: 0 70px;
}
.gallery .caption{
	display: inline-block;
	text-transform: uppercase;
	padding: 35px 0;
	font: 28px "UbuntuBold";
	color: #000;
	margin: 0;
	position: relative;
	padding-right: 60px;
}
.gallery .caption .goto{
	right: 0;
}
.images_content{
	text-align: center;
}
.images_content img{
	max-width: 316px;
	height: 440px;
	width: 100%;
	padding: 5px;
}
.for_seo{
	max-width: 980px;
	width: 100%;
	margin: 0 auto;
	padding: 35px 0 40px;
	text-align: center;
}
.for_seo p{
	margin: 0;
}
.for_seo a{
	color: #29557b; 
	text-decoration: none;
	display: inline-block;
	font-family: "UbuntuBold";
	margin: 0 2px;
	line-height: 30px;
}
.font_first{
	font-size: 16px;
}
.font_second{
	font-size: 20px;
}
.font_third{
	font-size: 30px;
}
.font_fourth{
	font-size: 14px;
}
.font_fifth{
	font-size: 12px;
}
.white{
	background-color: #fff;
}
.footer{
	padding-top: 95px;
	background-color: #303030;
}
.footer_menu ul li{
	display: inline-block;
	margin: 0 41px 41px 41px;
}
.footer_menu ul li:last-child{
	float: right;
	clear: right;
}
.footer_menu ul li a{
	font: 15px "UbuntuMedium";
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.footer_menu ul li a:hover, .footer_menu ul li a:active, .footer_menu ul li a:focus{
	color: #e4b932;
}
.footer .our_social{
	margin: 0;
}
.footer .our_social a:nth-child(2){
	background: url("../img/footer/vk.png") no-repeat center center;
}
.footer .our_social a:nth-child(3){
	background: url("../img/footer/tw.png") no-repeat center center;
}
.footer .our_social a:nth-child(4){
	background: url("../img/footer/fb.png") no-repeat center center;
}
.footer .our_social a:nth-child(5){
	background: url("../img/footer/plane.png") no-repeat center center;
}
.footer .our_social a:nth-child(6){
	background: url("../img/footer/youtube.png") no-repeat center center;
}
.footer .our_social a:last-child{
	background: url("../img/footer/pen.png") no-repeat center center;
}
.additional_menu{
	text-align: center;
	border-top: 2px solid #454545;
	border-bottom: 2px solid #454545;
}
.additional_menu ul li{
	display: inline-block;
	margin: 25px;
}
.additional_menu ul li a{
	font: 15px "UbuntuMedium";
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.additional_menu ul li a:hover, .additional_menu ul li a:active, .additional_menu ul li a:focus{
	color: #e4b932;
}
.footer_menu:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.additional_menu:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.rights .logo{
	float: left;
}
.rights_text{
	max-width: 822px;
	width: 100%;
	display: inline-block;
	color: #fff;
}
.prava{
	margin: 30px 0 25px;
	font: 15px "UbuntuMedium";
	text-transform: uppercase;
	letter-spacing: 3px;
}
.zapret{
	color: #c7c7c7;
	line-height: 24px;
}
.open > .dropdown-menu {
    display: inline-flex;
}
.header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.top_menu:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.left_column .comment img{
	width: 100%;
}
.navbar-header{
	background-color: red;
}

.registration_block .text_align_center{
	text-align: center;
}
.registration_block .text_align_center a{
	font: 16px "RobotoSlabLight";
	text-decoration: none;
	color: #29557b;
}
.registration_block .central_column{
	border: 0;
}
.registration_block .text_align_center .caption{
	display: block;
	padding: 20px 0 10px;
	font-size: 20px;
}
.reg_form{
	margin: 35px auto;
	max-width: 700px;
	width: 100%;
}
.reg_input .reg_input_name{
	display: inline-block;
	width: 90px;
	vertical-align: middle;
	font: 16px "RobotoSlabLight";
}
.reg_input input{
	max-width: 600px;
	width: 100%;
	height: 42px;
	border: 1px solid #7b7b7b;
	padding-left: 15px;
	font: 16px "RobotoSlabRegular";
}
.reg_input{
	margin-bottom: 20px;
	min-height: 63px;
}
.reg_input p{
	text-align: center;
	font: 10px "RobotoSlabLight";
	margin-top: 8px;
	padding-left: 80px;
}
.bold{
	font-weight: bold !important;
}
.star{
	color: #7389a0;
}
.profile_logo{
	display: inline-block;
	max-width: 606px;
}
.profile_logo_block .reg_input_name{
	vertical-align: top;
}
.profile_logo label:nth-child(2), .profile_logo label:nth-child(18), .profile_logo label:nth-child(34), .profile_logo label:nth-child(50){
	padding-left: 0;
}
.profile_logo label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 20px;
	padding-bottom: 11px;
	margin-bottom: 10px;
	font-size: 13px;
}
.profile_logo input[type=radio] {
	display: none;
}
.profile_logo label:before {
	content: "";
	display: inline-block;

	width: 12px;
	height: 12px;

	margin-right: 10px;
	position: absolute;
	right: 10px;
	bottom: 0;
	background-color: #dedede;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.profile_logo .radio label:before {
	border-radius: 8px;
}
.profile_logo input[type=radio]:checked + label:before {
    content: "\2022";
    color: #777;
    font-size: 28px;
    text-align: center;
    line-height: 12px;
}
.self_info{
	display: inline-block;
	position: relative;
	border: 1px solid #7b7b7b;
}
	
.self_info select {
    border-radius: 0;
    background: transparent;
    height: 43px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 596px;
    text-align: center;
}
.self_info:after{
	content: "";
	position: absolute;
	width: 43px;
	height: 43px;
	top: 0;
	right: 0;
	background: url("../img/profile_logo/arrow.png") no-repeat center center;
}
.date_of_birth{
	display: inline-block;
}
.date_of_birth .self_info select{
	width: 151px;
}
.date_of_birth .self_info{
	margin-right: 40px;
}
.date_of_birth .self_info:last-child{
	margin-right: 0px;
}
.date_of_birth .self_info:nth-child(2) select{
	width: 202px;
}
.self_comment input{
	height: 136px !important;
	vertical-align: top;
}
.self_comment .reg_input_name{
	vertical-align: top;
}
.self_comment .reg_input{
	min-height: 158px;
}
.reg_capcha .reg_input_desc{
	padding-left: 230px !important;
	margin-top: 0px;
	position: relative;
	top: -10px;
}
.reg_capcha img{
	margin: 0 40px;
	border: 1px solid #7b7b7b;
}
.reg_capcha input{
	width: 290px;
}
.reg_rules label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	margin-left: 25px;
	font-size: 13px;
}
.reg_rules label:before {
	content: "";
	display: inline-block;

	width: 42px;
	height: 42px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: -14px;
	background-color: #fff;
}

.reg_rules{
	text-align: center;
}
.reg_rules a{
	color: #7e91a6;
}
.reg_rules .checkbox{
	display: inline-block;
}
.reg_rules input[type=checkbox] {
	display: none;
}
.reg_rules .checkbox label:before {
	border: 1px solid #7e91a6;
}
.reg_rules input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 55px;
	color: #7e91a6;
	text-align: center;
    line-height: 40px;
    font-family: "RobotoSlabBold";
}

.reg_rules p {
	display: inline-block;
}
.registration_button{
	text-align: center;
	margin-top: 25px;
}
.registration_button a{
	display: inline-block;
	max-width: 410px;
	width: 100%;
	background-color: #d00000;
	text-align: center;
	padding: 10px 0;
	font: 16px "RobotoSlabLight";
	color: #fff !important;
	text-decoration: none !important;
	text-transform: uppercase;
	margin: 0 auto;
}
.registration_block .user_rating {
    margin: 15px 0;
 }
.registration_block .form_podpiska {
    background-color: #d00000;
    padding: 30px 10px 90px;
    max-width: 280px;
    width: 100%;
}
.registration_block .form_label{
	margin-bottom: 45px;
}
.registration_block .form_golos .form_caption {
	font-size: 15px;
	padding: 0 0 20px;
}
.registration_block .enter_golos {
    padding: 10px 45px;
    margin: 15px 0 15px;
}
.registration_block .form_golos {
    padding: 10px 10px;
    margin-top: 0;
}
.registration_block .vsego{
    margin: 0;
}
.tribuna .central_column {
    border-top: 0;
}
.tribuna .central_column .caption {
    padding-left: 60px;
    background: url("../img/tribuna/ball.png") no-repeat left center;
}
.tribuna .central_column .tab-content {
    padding-left: 60px;
    margin-top: 40px;
}
.activity_title{
	font: 14px "RobotoSlabBold";
	color: #29557b;
}
.camera{
	position: relative;
}
.camera:before{
	content: "";
	position: absolute;
	background: url("../img/left_column/video.png") no-repeat center center;
	width: 15px;
	height: 15px;
	left: -17px;
}
.tribuna .central_column .activity_score{
    border-bottom: 2px solid #cbd4dc;
    margin-bottom: 30px;
}
.tribuna .central_column .saw_score{
	margin-left: 20px;
    padding-left: 25px;
    background: url("../img/central_column/score.png") no-repeat left -27px center;
}
.profile_tribuna img{
	display: inline-block;
	padding: 2px;
	border: 1px solid #d2d8db;
}
.profile_tribuna{
	display: inline-block;
	text-align: center;
	margin-top: 5px;
}
.nickname_tribuna{
	display: block;
	margin-top: 2px;
	text-decoration: underline;
	color: #ff8409;
}
.comment_right{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
}
.comment_right p{
	font: 14px/24px "UbuntuLight";
	max-width: 648px;
}
.page_list ul li{
	display: inline-block;
}
.page_list ul li a{
	border: 1px solid #c0c0c0;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 22px;
	margin-right: 5px;
	margin-bottom: 5px;
	color: #000;
}
.page_list ul li a:hover, .page_list ul li a:active, .page_list ul li a:focus{
	background-color: #c0c0c0;
	color: #fff;
	text-decoration: none;
}
.now_chat{
	margin: 20px 0;
}
.now_chat_title{
	font: 14px "UbuntuBold";
}
.now_chat_text{
	font: 14px "UbuntuLight";
}
.now_chat_text a{
	margin-right: 10px;
	color: #29557b;
	text-decoration: none;
}
.reg_end .central_column {
    border-top: 0;
    text-align: center;
}
.reg_end .caption{
	font-size: 20px;
	display: block;
	padding-bottom: 60px;
}
.reg_end .success_text{
	font: 30px/56px "UbuntuBold";
	color: #d00000;
	margin-bottom: 20px;
}
.reg_end .success_desc{
	font: 16px "RobotoSlabLight";
	color: #29557b;
	display: inline-block;
	margin-bottom: 20px;
}
.news_block{
	margin-left: 95px;
}
.tribuna .central_column .caption.news_caption{
	margin-left: 35px;
	margin-bottom: 20px;
}
.news_block .comment_right p{
	max-width: 614px;
	line-height: 18px;
	letter-spacing: 0;
}
.interview_drop{
	display: block;
	background-color: red;
	height: 30px;
}
/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
#dropd li a:hover, #dropd li a:active, #dropd li a:focus{
	background-color: #9d0404;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#dropd ul{
	list-style:none;
	background-color: #9d0404;
	position: absolute;
	max-width: 1140px;
	width: 100%;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устанавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
	z-index: 10;
	padding-bottom: 3px;
}
#dropd ul li{
	padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float:none;
	display: inline-block;
}
#dropd ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
	font: 14px "RobotoSlabLight";
	text-transform: none;
	margin: 0 14px;
	padding: 3px 0;
}
#dropd li:hover ul, #dropd li:focus ul, #dropd li:active ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	bottom: -29px;
	opacity:1; /* Делаем непрозрачным */
}
#dropd li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#dropd li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background:#9d0404;
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}
.bot_menu ul li{
	position: static;
}
.activity_title_other{
	font: 16px "UbuntuMedium";
	color: #000;
	text-transform: uppercase;
	padding-left: 15px;
}
.interview .news_block {
    margin-left: 30px;
}
.people_ul ul li{
	display: inline-block;
	margin: 10px 16px;
	text-align: center;
	width: 161px;
}
.people_ul ul li img{
	max-width: 139px;
	width: 130px;
	height: 130px;
}
.people_ul ul li a{
	display: block;
	text-align: center;
	color: #29557b;
	font: 14px "RobotoSlabBold";
	margin-top: 12px;
}
.tribuna.interview .central_column .activity_score {
    margin-bottom: 10px;
}
.people_ul_button{
	float: right;
	padding: 12px 52px;
	background-color: red;
	margin-right: 30px;
	margin-top: 10px;
	text-transform: uppercase;
	font: 16px "RobotoSlabLight";
	color: #fff !important;
	text-decoration: none !important;
}
.interview_people{
	margin-bottom: 35px;
}
.audio_cont a{
	display: inline-block;
	padding:33px 0 30px 100px;
	margin: 10px 0 5px;
	background: url("../img/audio.png") no-repeat left center;
	font: 14px "RobotoSlabBold";
	color: #29557b;
}
.audio_block.last_audio_block{
	margin-bottom: 60px;
}
.videoblog{
	margin-left: 75px;
	margin-bottom: 85px;
}
.videoblog a{
	display: inline-block;
	width: 210px;
	height: 130px;
	position: relative;
	margin: 22px 10px;
}
.videoblog a:before{
	position: absolute;
	content: "Александр Головин: Ничья на выезде"; 
	width: 100%;
	height: 100%;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	font: 14px "UbuntuBold";
	color: #fff;
	padding: 3px 5px;
	opacity: 0;
	left: -9999px;
	 -webkit-transition: opacity 0.5s ease-out 0s;
     -moz-transition: opacity 0.5s ease-out 0s;
     -o-transition: opacity 0.5s ease-out 0s;
     transition: opacity 0.5s ease-out 0s;
}
.videoblog a:hover:before{
	opacity: 1;
	left: 0;
}
.videoblog a:hover p{
	display: none;
}
.videoblog a img{
	width: 100%;
	height: 100%;
}
.videoblog a p{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	font: 14px "UbuntuBold";
	color: #fff;
	padding: 3px 5px;
	margin: 0;
}
.social_margin{
	margin-top: 122px;
}
.forum_table .table_theme{
	color: #29557b;
	font: 14px "RobotoSlabBold";
	display: block;
	margin: 10px 0;
}
.forum_table .table_user{
	color: #ffad26;
	font: 14px "UbuntuLight";
	text-decoration: underline;
	margin-right: 5px;
}
.forum_table{
    border-collapse: collapse; 
    border: 2px solid white; 
    border-bottom: 1px solid #cbd4dc;
    font-family: "UbuntuLight";
    margin-bottom: 30px;
}
.forum_table td, .forum_table th {
    padding: 3px;
    border: 1px solid #cbd4dc;
    text-align: center; 
}
.forum_table th {
    border-left: 0; 
    border-right: 0; 
    font-family: "UbuntuMedium";
    padding: 5px 10px;
}
.forum_table th:first-child {
    padding: 5px 0px;
}
.forum_table td {
    padding: 15px 3px;
    vertical-align: bottom;
    border-top: 0;
    border-bottom: 0;
}
.forum_table th:first-child, .forum_table td:first-child {
    text-align: left; 
    position: relative;
}
.new_table_theme:after{
	content: "new!";
	position: absolute;
	right: 8px;
	color: #d00000;
	font: 14px "UbuntuBold";
}
.tribuna.forum .central_column .tab-content{
	padding-left: 0;
}
.lk_avatar{
	display: inline-block;
	vertical-align: top;
	margin-right: 50px;
	max-width: 190px;
	width: 100%;
}
.lk_avatar img{
	width: 100%;
}
.lk_info{
	display: inline-block;
	position: relative;
}
.lk_info_style{
	font: 14px "UbuntuLight";
	margin: 0;
}
.lk_login{
	font: 30px "UbuntuBold";
	display: inline-block;
	margin-bottom: 20px;
}
.lk_info_style span{
	color: #7b7b7b;
	margin-right: 3px;
}
.lk_date{
	margin-top: 48px;
}
.lk_anouns{
	display: inline-block;
	float: right;
}
.lk_blue{
	color: #29557b !important;
	margin-left: 3px; 
	margin-right: 2px;
}
.lk_gray{
	color: #7b7b7b;
}
.lk_links{
	margin: 45px 0;
}
.lk_links a{
	display: inline-block;
	width: 156px;
	padding: 4px 0 8px;
	background-color: #d4dce3;
	font: 14px "UbuntuLight";
	text-align: center;
	color: #000;
	text-decoration: none;
	margin: 5px 10px;
}
.lk_links a:first-child{
	margin-left: 2px;
}
.lk_main_info .nav-tabs{
	border: 0;
	border-bottom: 2px solid #d4dce3;
}
.lk_main_info .nav-tabs a{
	padding: 0;
	padding-left: 30px;
	font: 20px "UbuntuBold";
	text-transform: uppercase;
	color: #000;
	margin: 0px 27px;
}
.lk_main_info .nav-tabs li:nth-child(1) a{
	margin-left: 0;
	background: url("../img/lk/ball.png") no-repeat left center;
}
.lk_main_info .nav-tabs li:nth-child(2) a{
	background: url("../img/lk/pencil.png") no-repeat left center;
}
.lk_main_info .nav-tabs li:nth-child(3) a{
	background: url("../img/lk/gallery.png") no-repeat left center;
}
.lk_main_info .nav-tabs li:nth-child(4) a{
	background: url("../img/lk/map.png") no-repeat left center;
}
.lk_main_info .nav-tabs li:nth-child(5) a{
	background: url("../img/lk/message.png") no-repeat left center;
	margin-right: 0;
}
.lk_main_info > .nav-tabs > li > a:hover {
    border-color: #fff;
    background-color: #fff;
}
.lk_main_info .nav-tabs > li.active > a, .lk_main_info .nav-tabs > li.active > a:hover, .lk_main_info .nav-tabs > li.active > a:focus {
    border: 0;
    color: #000;
}
.lk_new_post:before{
	content: "2";
	position: absolute;
	top: -15px;
	right: 2px;
	color: #d00000;
	font: 14px "UbuntuBold";
}
.lk_arhiv li{
	display: inline-block;
	font: 14px "UbuntuLight";
	margin: 0 6px;
}
.lk_arhiv{
	margin-top: 20px;
}
.lk_arhiv ul li a{
	color: #000;
	display: inline-block;
}
.lk_arhiv ul li:first-child{
	margin-left: 0px;
}
.lk_arhiv ul li:last-child{
	margin-right: 0px;
}
.tribuna .central_column .lk_main_info .tab-content {
    padding-left: 0px;
    min-height: 220px;
}
.lk_empty{
	text-align: center;
	color: #d00000;
	font: 14px "UbuntuLight";
	margin-top: 40px;
}
.lk_mail_table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 4px solid white; /* Прячем рамку вокруг таблицы */
    margin-bottom: 70px;
}
.lk_mail_table td, .lk_mail_table th {
    border: 2px solid #cbd4dc; /* Параметры рамки */
    text-align: left; /* Выравнивание по левому краю */
}
.lk_mail_table tr td:first-child, .lk_mail_table tr th:first-child{
    width: 20%;
}
.lk_mail_table tr:nth-child(2) td{
    padding: 10px 0;
}
.lk_mail_table tr td:nth-child(2), .lk_mail_table tr th:nth-child(2){
    padding-left: 20px;
}
.lk_table_refresh{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url("../img/mail/obnov.png") no-repeat center center;
	vertical-align: middle;
	margin-left: 35px;
	margin-right: 10px;
}
.lk_table_newmsg{
	display: inline-block;
	width: 35px;
	height: 22px;
	background: url("../img/mail/message.png") no-repeat center center;
	vertical-align: middle;
}
.lk_mail_table ul li a{
	display: block;
	padding: 5px 0;
	margin: 10px 0;
	padding-left: 27px;
	font: 14px "UbuntuRegular";
	color: #000;
	text-decoration: none;
}
.lk_mail_table ul li a:hover, .lk_mail_table ul li a:active, .lk_mail_table ul li a:focus{
	color: #29557b;
}
.lk_mail_table .lk_mail_table_cont{
	background: url("../img/mail/phone.png") no-repeat left center;
}
.lk_mail_table .lk_mail_table_soob{
	background: url("../img/mail/mail.png") no-repeat left center;
}
.lk_mail_table .lk_mail_table_vhod{
	background: url("../img/mail/arrow_right.png") no-repeat left center;
}
.lk_mail_table .lk_mail_table_otpr{
	background: url("../img/mail/arrow_left.png") no-repeat left center;
}
.lk_mail_table .lk_mail_table_spam{
	background: url("../img/mail/x.png") no-repeat left center;
}
.lk_mail_table .lk_mail_table_nast{
	background: url("../img/mail/settings.png") no-repeat left center;
}
.lk_mail_table_caption{
	display: inline-block;
	margin: 0;
	padding-top: 10px;
	font: 14px "UbuntuBold";
}
.lk_mail_table .search{
	float: right;
}
.lk_mail_table .search input{
	height: 30px;
	width: 260px;
	background-color: #e2e2e2;
	border: 0;
	padding-left: 15px;
}
.lk_mail_table .search .button_head{
	border: 0;
}
.lk_mail_table_for_input{
	display: block;
	vertical-align: bottom;
	padding-top: 30px;
}
.lk_mail_table_colname {
	width: 100%;
}
.lk_mail_table_colname li{
	display: inline-block;
	width: 32%;
	font: 14px "UbuntuRegular";
}
.lk_mail_table .lk_empty {
    margin-top: 10px;
}
.display_none{
	display: none;
}
.no-margin{
	margin: 0 !important;
}
.user_lk_block .caption{
	display: block;
}
.user_lk_block .lk_date{
	margin-top: 0;
}
.user_status_message{
	color: #29557b;
	font: 14px/15px "UbuntuLight";
	max-width: 400px;
	width: 100%;
	text-align: justify;
}
.user_lk_block .lk_avatar{
	margin-top: 28px;
}
.lk_login.another_user{
	padding-left: 40px;
	color: #e61939;
}
.lk_login.another_user.red_tshirt{
	background: url("../img/lk/t-shirt.png") no-repeat center left;
}
.user_lk_block .lk_anouns{
	position: absolute;
	right: 0;
	top: 10px;
}
.lk_myteam{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	float: right;
	margin-top: 11px;
	font: 14px "UbuntuRegular";
}
.lk_myteam img{
	margin-top: 15px;
	width: 129px;
}
.lk_medals{
	margin-top: 12px;
}
.lk_medals img{
	margin-right: 20px;
}
.user_lk_block .lk_links {
    margin: 25px 0 32px;
}
.user_lk_block .lk_main_info .nav-tabs a {
    margin: 0px 10px;
}
.user_lk_block .lk_new_post::before {
    content: "433";
    color: #29557b;
    top: -17px;
}
.es-carousel > ul > li > a > img{
	height: 65px;
	width: 100%;
}
.your_rate{
	font: 14px "UbuntuRegular";
	color: #9b9b9b;
	width: 135px;
	margin: 0 auto;
	text-align: center;
}
.your_rate p{
	margin: 0;
}
.your_rate .average_rate{
	margin-bottom: 10px;
}
.user_lk_block{
	position: relative;
}
.interview_full .activity_score {
    padding-bottom: 0px;
}
.interview_full .activity_title_other {
    color: #29557b;
    padding-left: 0;
}
.activity_title_other.activity_title_blue{
	color: #29557b;
    padding-left: 0;
}
.tribuna .central_column .caption.news_caption.interview_caption {
    margin-bottom: 0px;
    padding-top: 20px;
}
.interview_full_user{
	margin-left: 25px;
	margin-bottom: 25px;
	vertical-align: top;
}
.interview_full_user a{
	vertical-align: top;
	font: 14px "UbuntuLight";
	color: #ffad26;
	border-bottom: 1px solid #ffad26;
	padding-bottom: 2px;
	margin-left: 22px;
	text-decoration: none;
}
.interview_full p{
	text-align: justify;
	font: 14px "UbuntuRegular";
}
.interview_full .your_rate {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 25px;
}
.interview_full .br-wrapper{
	width: 116px;
}
.interview_full .central_column .tab-content{
	padding-left: 0;
}
.interview_full_comment.interview_full_user {
    margin-left: 0px;
    position: relative;
}
.interview_full_comment.interview_full_user a{
    margin-left: 13px;
}
.interview_full_comment.interview_full_user p{
	padding-left: 95px;
	margin-top: 13px;
}
.like_dislike{
	float: right;
}
.like_dislike a{
	color: #7b7b7b;
	border: 0;
	font: 14px "UbuntuRegular";
	padding-left: 23px;
	padding-top: 5px;
	display: inline-block;
	margin-left: 5px !important;
	min-height: 25px;
}
.like{
	background: url("../img/interview/like.png") no-repeat left top;
}
.dislike{
	background: url("../img/interview/dislike.png") no-repeat left top;
}
.interview_full_comment{
	border-bottom: 2px solid #cbd4dc;
	padding-bottom: 7px;
}
.interview_full_message{
	max-width: 415px;
	width: 100%;
	display: inline-block;
	margin-right: 20px;
}
.interview_full_message textarea{
	padding: 15px 10px;
	border: 1px solid #7b7b7b;
	display: block;
	max-width: 415px;
	width: 100%;
	height: 172px;
	font: 14px "UbuntuRegular";
	resize: none;
}
.interview_full_message button{
	background-color: #29557b;
	color: #fff;
	font: 14px "UbuntuRegular";
	padding: 8px 10px;
	border: 0;
	float: right;
	margin-top: 22px;
}
.interview_full_reg{
	max-width: 348px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
.interview_full_reg_caption{
	color: #264f72;
	font: 14px "UbuntuBold" !important;
	text-transform: uppercase;
	text-align: center !important;
}
.interview_full_reg input{
	display: block;
	width: 162px;
	height: 30px;
	border: 1px solid #7b7b7b;
	margin: 2px 0;
	padding-left: 5px;
}
.interview_full_reg button{
	background-color: #d00000;
	border: 0;
	color: #fff;
	padding: 8px 13px;
	margin-top: 35px;
	font: 14px "UbuntuRegular";
}
.interview_full_reg .social {
    display: inline-block;
    margin-right: 0px;
}
.interview_full_reg .button_head {
    margin-left: 0px;
    margin-right: 5px;
}
.interview_full_reg_vhod{
	display: inline-block;
	padding-top: 35px;
	width: 162px;
	margin-right: 20px;
	vertical-align: top;
}
.interview_full_reg_reg{
	display: inline-block;
	width: 162px;
}
.interview_full_reg_reg p{
	font: 9px "RobotoSlabLight";
	text-align: center;
	color: #000;
	margin-bottom: 0;
}
.interview_full_reg_reg button{
	margin-top: 21px;
}
.interview_full_reg_vhod button{
	padding: 8px 20px;
}
.interview_full_reg .input_for_capcha{
	width: 79px;
	display: inline-block;
}
.interview_full_reg_capcha{
	width: 79px;
	display: inline-block;
	border: 1px solid #7b7b7b;
	height: 30px;
	margin: 2px 0;
	vertical-align: top;
}
.interview_razdel_player_text{
	display: inline-block;
	max-width: 522px;
	vertical-align: top;
}
.interview_razdel_player_text p{
	display: inline-block;
	font: 14px/16px "UbuntuLight";
}
.interview_razdel_player_team{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 15px;
}
.interview_razdel_player_team p{
	text-align: center;
}
.interview_razdel_player_logo{
	margin-right: 25px;
}
.interview_full .interview_razdel_name{
	font: 30px "UbuntuBold";
	color: #e61939;
}
.interview_razdel_comment_left{
	display: inline-block;
	width: 80px;
	text-align: center;
	float: left;
	margin-right: 15px;
}
.interview_razdel_comment{
	margin-top: 15px;
}
.interview_razdel_comment p{
	font: 14px/16px "UbuntuRegular";
}
.interview_razdel_comment_left a{
	font: 14px "UbuntuLight";
	color: #ffad26;
	border-bottom: 1px solid #ffad26;
	text-decoration: none;
}
.interview_razdel_player_text .video_razdel_p{
	display: block;
	font: 14px "UbuntuRegular";
	margin-top: 10px;
}
.video_razdel_block{
	margin-top: 30px;
}
.video_from_youtube{
	text-align: center;
	margin-top: 20px;
}
.video_from_youtube > iframe{
	margin: 10px 0;
	max-width: 560px;
	width: 100%;
}
.interview_razdel_player{
	margin-bottom: 20px;
}
.interview_full_comment_info{
	position: absolute;
	right: 0;
	top: 0;
}
.interview_full_comment_info span{
	color: #bbbcc2;
	font: 14px "UbuntuLight";
}
.interview_full_comment.interview_full_user .asnwer_for_comment{
	color: #d00000;
	font: 14px "UbuntuRegular";
	border: 0;
	margin-left: 5px;
}
.interview_full_comment.interview_full_user{
	padding-bottom: 20px;
}
.new_level_comment{
	margin-left: 95px;
}
.new_level_comment .new_level_comment{
	margin-left: 70px;
}
.new_level_comment .new_level_comment .new_level_comment{
	margin-left: 50px;
}
.retwit{
	margin-left: 95px;
}
.retwit *{
	margin-left: 0 !important;
	padding-left: 0 !important;
	border: 0 !important;
}
.interview_full_comment.interview_full_user .reposted_phrase{
	color: #9b9b9b;
	padding-left: 70px !important;
	margin-bottom: 30px;
	background: url("../img/repost.png") no-repeat left 13px center;
}
.interview_full_user .interview_full_comment_link{
	color: #29557b;
	font: 14px "UbuntuRegular";
	border: 0;
}
@media (max-width: 1200px){
	.input_for_search, .forgot_pw, .login{
		display: none;
	}
	.vhod{
		display: inline-block;
	}
	.right_float{
		float: right !important;
		margin-right: 20px !important;
		margin-top: 0 !important;
	}
	.header .search {
	    margin-right: 0px;
	}
	.bot_menu ul li a {
	    margin: 0 28px;
	}
	.slider {
	    height: 230px;
	}
	.user_photo img {
	    width: 44px;
	}
	.central_column .caption {
	    font: 24px "UbuntuBold";
	}
	.form_podpiska input {
	    width: 140px;
	}
	.enter_golos {
	    padding: 20px 40px;
	}
	.rights{
		text-align: center;
	}
	.rights .logo {
	    float: none;
	}
	.header .login{
		position: absolute;
		height: 150px;
		left: 30%;
		background-color: #7592ad;
		padding: 12px;
		top: 95%;
	}
	.header .login input {
	    display: block;
	}
	.comment_right p {
	    max-width: 499px;
	}
	.news_block .comment_right p {
	    max-width: 464px;
	}
	#dropd li:hover ul, #dropd li:focus ul, #dropd li:active ul{
		bottom: -53px;
	}		
	.lk_main_info .nav-tabs a {
	    margin: 0px 8px;
	}
	.user_lk_block .lk_avatar {
	    margin-right: 10px;
	    max-width: 90px;
	}
	.user_lk_block .lk_avatar {
	    margin-top: 0px;
	    margin-bottom: 10px;
	}
	.interview_full_reg, .interview_full_message {
	    display: block;
	    margin: 10px auto;
	}
}
@media (max-width: 990px){
	.logo {
	    display: block;
	    text-align: center;
	}	
	.logo img {
	    display: inline-block;
	    padding: 25px 0 15px 0px;
	    height: auto;
	}
	.menu {
	    display: block;
	    max-width: 522px;
	    width: 100%;
	    margin: 0 auto;
	    float: none;
	}
	.bot_menu ul li a {
	    margin: 0 13px;
	}
	.slider {
	    height: 220px;
	}
	.bx-wrapper .bx-next {
	    right: 39%;
	}
	.bx-wrapper .bx-prev {
	    left: 36%;
	}
	.footer_menu ul li {
	    display: inline-block;
	    margin: 0 10px 20px 10px;
	}
	.footer {
	    padding-top: 60px;
	}
	.additional_menu ul li {
	    display: inline-block;
	    margin: 10px;
	}
	.prava {
	    margin: 0px 0 15px;
	}
	.self_info select {
	    width: 440px;
	}
	.date_of_birth .self_info{
		margin: 10px 40px 10px 0;
	}
	.reg_capcha .reg_input_desc {
		position: static;
	}
	.reg_capcha input {
	    width: 124px;
	}
	.profile_logo label:nth-child(2), .profile_logo label:nth-child(18), .profile_logo label:nth-child(34), .profile_logo label:nth-child(50){
		padding-left: 20px;
	}
	.tribuna .central_column .tab-content {
	    padding-left: 0px;
	}
	.news_block .comment_right p {
	    max-width: 240px;
	}
	.lk_avatar{
		max-width: 100px;
		margin-right: 10px;
	}
	.lk_login {
	    font: 18px "UbuntuBold";
	    display: inline-block;
	    margin-bottom: 10px;
	}
	.lk_date {
	    margin-top: 5px;
	}
	.lk_links a {
	    margin: 5px 8px;
	}
	.lk_main_info .nav-tabs li a {
	    margin: 10px 8px;
	}
	.lk_float_right{
		float: right;
	}
	.nav-tabs > li {
	    margin: 13px 0;
	}
	.new_level_comment .new_level_comment .interview_full_comment_info {
	    top: -20px;
	}
}
@media (min-width: 768px) and (max-width: 990px){
	.comment_right p {
	    max-width: 335px;
	}
	.display_none{
		display: inline;
	}
	.display_inline{
		display: none;
	}
	.special_images_content img{
	    max-width: 149px;
	    height: 200px;
	}
	.lk_mail_table .search .button_head{
		margin: 10px auto;
		display: inherit;
	}
	.lk_myteam {
	    position: absolute;
	    top: 80px;
	    right: 0;
	}
	.lk_myteam img {
	    margin-top: 0;
	}
}
@media (max-width: 768px){
	.banner {
	    background-position: 0px -27px;
	    background-size: 100% 131%;
	}
	.bot_menu {
	    height: 240px;
	    width: 130px;
	    text-align: center;
	    float: right;
		margin-right: 16px;
	}
	.bot_menu ul li{
		display: block;
	}
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	    margin-right: 0px;
	    margin-left: 0px;
	}
	.navbar-nav {
	    margin: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border: 0;
	}
	.slider {
	    height: auto;
	    padding-bottom: 1px;
	}
	.bx-controls{
		display: none;
	}
	.bx-wrapper .bx-next {
	    right: 39%;
	}
	.bx-wrapper .bx-prev {
	    left: 36%;
	}
	.open > .dropdown-menu {
		display: block;
	}
	.form_podpiska{
		text-align: center;
	}
	label {
	    display: block;
	}
	.header .login{
		left: 20%;
	}
	.date_of_birth {
	    text-align: center;
	}
	.self_info select{
		text-align: left;
	}
	.date_of_birth .self_info:nth-child(2) select{
		width: 151px;
	}
	.date_of_birth .self_info:last-child {
	    margin-right: 40px;
	}
	.comment_right p {
	    max-width: 100%;
	}
	.tribuna .central_column .comment{
	    text-align: center;
	}
	.tribuna .central_column .activity_score{
	    text-align: left;
	}
	.tribuna .comment_right {
	    display: block;
	}
	.news_block .comment_right p {
	    max-width: 614px;
	}
	.news_block{
		margin-left: 0;
	}
	.tribuna .central_column .caption.news_caption{
		margin-left: 0;
		margin-bottom: 20px;
	}
	#dropd li:hover ul, #dropd li:focus ul, #dropd li:active ul{
		bottom: auto;
		left: auto;
		right: 145px;
		top: 50px;
	}
	#dropd ul{
		max-width: 270px;
	}
	.bot_menu ul li{
		//position: relative;
	}
	#dropd ul li{
		display: block;
	}
	.nav > li > a {
	    position: static;
	}
	.videoblog{
		margin-left: 0;
		margin-bottom: 10px;
		text-align: center;
	}
	.lk_myteam {
	    display: block;
	    float: none;
	}
	.lk_medals {
	    text-align: center;
	}
	.lk_medals img {
	    margin: 0 10px;
	}
	.lk_myteam img {
	    margin-top: 0;
	}
	.lk_main_info .nav li{
		margin: 10px 0;
	}
	.user_lk_block .lk_main_info .nav-tabs a {
	    margin: 0px;
	}
	.new_level_comment{
		margin-left: 30px;
	}
	.new_level_comment .new_level_comment{
		margin-left: 20px;
	}
	.new_level_comment .new_level_comment .new_level_comment{
		margin-left: 10px;
	}
}
@media (max-width: 650px){
	.header .search input {
	    width: 150px;
	}
}
@media (max-width: 581px){
	.caption .goto {
	    right: 0;
	    bottom: -10px;
	}
	.gallery {
	    margin: 0px;
	}
	.self_info select {
	    border-radius: 0;
	    background: transparent;
	    height: 43px;
	    padding: 5px;
	    border: 0;
	    font-size: 16px;
	    line-height: 1;
	    -webkit-appearance: none;
	    width: 200px;
	}
	.reg_input p {
	    padding-left: 0px;
	}
	.reg_capcha input {
	    width: 100%;
	    margin: 15px 0;
	}
	.reg_capcha .reg_input_desc {
	    padding-left: 0px !important;
	}
	.tribuna .central_column .activity_score{
	    text-align: center;
	}
	.tribuna .right_score {
	    float: none;
	}
	.tribuna .nav-tabs > li {
	    float: none;
	}
	.people_ul ul li {
	    display: block;
	    width: 100%;
	    text-align: center;
	    
	    margin: 10px 5px;
	}
	.people_ul_button {
	    float: none;
	    width: 140px;
	    display: inline-block;
	    margin: 10px 0;
	}
	.interview .news_block {
	    margin-left: 0px;
	}
	.people_ul{
		text-align: center;
	}
	.new_table_theme:after{
		right: auto;
		left: 0px;
		top: 2px;
	}
	.lk_main_info .nav-tabs li a {
	    margin: 10px 0px;
	}
	.lk_new_post::before {
	    top: 4px;
	    right: 2px;
	}
	.lk_avatar {
	    display: block;
	    margin: 0 auto;
	}
	.lk_info {
	    display: block;
	    text-align: center;
	}
	.lk_links a {
	    display: block;
	    margin: 10px auto;
	}
	.lk_links a:first-child {
	    margin-left: auto;
	}
	.lk_mail_table .search .button_head{
		margin: 10px auto;
		display: inherit;
	}
	.user_lk_block .lk_avatar {
	    margin: 0 auto;
	}
	.interview_full_reg_vhod, .interview_full_reg_reg{
		display: block;
		margin: 0 auto;
		padding-top: 10px;
	}
	.interview_full_reg .social {
	    display: block;
	    margin: 0 auto;
	    width: 119px;
	}
	.interview_full_reg button {
	    margin: 10px auto;
	    display: block;
	}
	.interview_full_comment_info {
	    top: -20px;
	}
	.interview_full_comment.interview_full_user img{
		width: 55px;
	}
	.interview_full_comment.interview_full_user p {
	    padding-left: 68px;
	}
	.retwit {
	    margin-left: 0px;
	}
}
@media (max-width: 400px){
	.header{
		text-align: center;
	}
	.right_float {
	    float: none !important;
	    margin-right: 0px !important;
	}
	.header div {
	    float: none;
	}
	.header .search {
	    margin: 0;
	}
	.button_head {
	    margin-left: 0px;
	}
	#dropd li:hover ul, #dropd li:focus ul, #dropd li:active ul{
		bottom: auto;
		left: 0;
		right: auto;
		top: 50px;
	}
	.lk_login.another_user {
	    padding-left: 40px;
	    color: #e61939;
	    margin-bottom: 30px;
	}
	.user_lk_block .lk_anouns {
	    top: 28px;
	}
	.interview_full_user a {
	    margin-left: 10px;
	}
	.video_from_youtube > iframe{
		height: 170px;
	}
}