{% extends 'account/profile_base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load collections %}

{% block tab_content %}
    <form action="" class="create-message" method="post" enctype="multipart/form-data">
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-xs-12">
                <div id="blog-form" class="add-form">
                    <div class="clearfix">
                        <div class="col-xs-12 ">
                            <label for="calendar">Время</label>
                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker1">
                                    {% bootstrap_field form.when_created %}
                                    <span class="input-group-addon">
                                        <span class="glyphicon-calendar glyphicon"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                {% bootstrap_field form.person %}
                                <p>Выберете личность(эксклюзивное интервью)</p>
                            </div>
                            <div class="checkbox">
                                {% bootstrap_field form.has_video %}
                                <p>Если в статье есть видеоматериалы - поставьте этот флаг</p>
                            </div>
                            <div class="form-group">
                                {% bootstrap_field form.scenario %}
                                <p>Выберете сценарий для материала</p>
                            </div>
                            <div class="checkbox">
                                {% bootstrap_field form.ticker %}
                                <p>Ваши комментарии будут попадать в бегущую строку</p>
                            </div>

                        </div>
                        <div class="col-xs-12 ">
                            <div class="checkbox">
                                {% bootstrap_field form.not_publish %}
                                <p>НЕ опубликованные статьи будет видно только вам</p>
                            </div>
                            <div class="checkbox">
                                {% bootstrap_field form.has_audio %}
                                <p>Если в статье есть аудиоматериалы - поставьте этот флаг</p>
                            </div>
                            <div class="checkbox">
                                {% bootstrap_field form.as_announce %}
                                <p>Анонс статьи будет показан как анонс к выбранному сценарию</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                {% csrf_token %}
                {% bootstrap_field form.category %}
                {% bootstrap_field form.title %}
                {% bootstrap_field form.announce %}
                {% bootstrap_field form.text %}
                {% bootstrap_field form.source %}

                <a class="btn btn-success questions-btn">Вставить опрос</a>
                {{ form.poll }}<!-- если открыт value = 1, если закрыт value = 0 -->

                <div class="col-xs-12 questions-add">

                    {% bootstrap_field form.poll_title %}
                    {% bootstrap_field form.is_multiple %}
                    <div id="id_formset" class="col s6 width-block-small-screen">
                        <div class="all-var-quest">
                            {% for form in formset.forms %}
                                <div class="form-group number-quest">
                                    {% bootstrap_field form.text %}<a class="dell-quest new-dell-quest">×</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {{ formset.management_form }}
                </div>

            </div>
            <div class="col-xs-12">
                <a class="btn btn-success btn-transl">Вставить передачу</a>
                {{ form.audio }}<!-- если открыт value = 1, если закрыт value = 0 -->
                <div class="col-xs-12 add-transl">
                    {% bootstrap_field form.audio_title %}
                    {% bootstrap_field form.audio_start %}
                    {% bootstrap_field form.audio_file %}
                </div>
                <div class="col-xs-12 padding-off">
                    <div class="form-group">
                        <p><label class="control-label" for="id_tags">Метки</label></p>
                        <input class="form-control" id="id_tags" name="tags" placeholder="Добавьте метки" title=""
                               type="text" value="{% if form.tags.value %}{{ form.tags.value }}{% endif %}"
                               data-role="tagsinput">
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <button class="btn btn-primary btn-create-post" type="button" onclick="$('.create-message').submit()">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block profile_scripts %}

    {# calendar  cтаррый джиквери для каледаря только#}
    <script src="{% static 'calendar/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'calendar/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'calendar/transition.js' %}"></script>
    <script src="{% static 'calendar/collapse.js' %}"></script>
    <script src="{% static "calendar/bootstrap.min.js" %}"></script>
    <script src="{% static 'calendar/bootstrap-datetimepicker.min.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                language: 'ru',
                minuteStepping: 10,
                defaultDate: "09.01.2017",
                daysOfWeekDisabled: [0, 6]
            });
        });
    </script>


    <script type="text/javascript">

        $(document).ready(function () {
            var pollsNumber = $(".all-var-quest .number-quest").length;
            $('#id_form-TOTAL_FORMS').attr("value", pollsNumber);
            if ($("#id_poll").val() == "True") {
                $(".questions-add").css("display", "block");
                $('.questions-btn').attr("id", "activated-quest").text('Убрать опрос');
            }
            if ($("#id_audio").val() == "True") {
                $(".btn-transl").css("display", "block");
                $('.btn-transl').attr("id", "activated-transl").text('Убрать передачу');
            }
        });


        $(function () {
            $('#datetimepicker').datetimepicker({
                inline: true,
                sideBySide: true,
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_audio_file").attr("type", "file").attr("multiple", "10").attr("accept", ".mp3,.wav,.wma,.ogg");
        });


    </script>
    {# end calendar #}

    <script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
    <script>

        function numb(input) {
            var value = input.value;
            var rep = /[-\.;":'a-zA-Zа-яА-Я ]/;
            if (rep.test(value)) {
                value = value.replace(rep, '');
                input.value = value;
            }
        }

        {#        $(document).ready(function () {#}
        {#            $("#id_audio").attr("value", "0")#}
        {#            $("#id_poll").attr("value", "0")#}
        {#            /* объеденение инпутов*/#}
        {#            var dayC = $("#count")[0];#}
        {#            var monthC = $("#month")[0];#}
        {#            var hrsC = $("#hrs")[0];#}
        {#            var mntC = $("#mnt")[0];#}
        {#            var allDateC = $("#all-date")[0];#}
        {#            allDateC.value = dayC.value + '-' + monthC.value + ' ' + hrsC.value + ':' + mntC.value;#}
        {#            //alert(allDateC.value)#}
        {#            dayC.addEventListener("change", joinValues, false);#}
        {#            monthC.addEventListener("change", joinValues, false);#}
        {#            hrsC.addEventListener('keyup', joinValues, false);#}
        {#            mntC.addEventListener('keyup', joinValues, false);#}
        {#            function joinValues() {#}
        {#                allDateC.value = dayC.value + '-' + monthC.value + ' ' + hrsC.value + ':' + mntC.value;#}
        {#                //alert(allDateC.value)#}
        {#            }#}
        {##}
        {#        });#}

    </script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% endblock %}
{% block additional_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'calendar/bootstrap-datetimepicker.min.css' %}"/>

{% endblock %}
