{% extends 'base_template.html' %}
{% load staticfiles %}
{% load collections %}
{% block content %}
    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static "css/fontawesome-stars.css" %}">
    {% endblock %}
    <div class="col-xs-12 col-sm-8 col-md-9 cold-lg-9">
        <div class="tribuna interview">
            <div class="central_column">
                <p class="caption news_caption interview_caption">Статья </p>
                <div class="news_block">
                    <div class="interview_full">
                        <div class="interview_full_user">
                        {{ article.audio.file }}
                        {% with article.user as user %}
                            <div>
                                <img src="{% if user.photo %}{{ user.photo.url }}{% else %}{{ user.avatar.image.url }}{% endif %}" alt="">
                            </div>
                            <div>
                                <!-- сработает ли? -->
                                {% if user.level.level > 2 %}
                                    <img class="user-lvl" src="{% static user.level|get_user_level %}"
                                         width="15px">
                                {% endif %}
                                <a class="user-name-art" href="{% url 'accounts:profile' user.pk %}">{{ user.username }}</a>
                                <div class="publ-numb"><a href="{% url 'accounts:article_list' user.pk %}">Публикаций({{ user.articles.count }})</a>
                                </div>
                            </div>
                        {% endwith %}
                        </div>

                        <div class="activity_score">
                            <span class="activity_title_other">{{ article.title|safe }}</span>
                            <div class="right_score">
                                <span class="comments_score">{{ article.when_created|date:'d F h:i' }}</span>
                            </div>
                        </div>
                        <div class="anonce">{{ article.announce }}</div>
                        <div class="articles-text">{{ article.text|safe }}</div>

                        {% if article.source %}<p class="source-article">Источник: <a
                                href="{{ article.source }}"> {{ article.source_domain }} </a></p>{% endif %}
                        {% if article.poll %}
                            <div class="polls">
                                {# проверка на голосование #}

                                <form class="form-polls">
                                    <input type="hidden" name="poll" value="{{ article.poll.pk }}">
                                    <div>{{ article.poll.title }}</div>
                                    {% for i in article.poll.options.all %}
                                        <div class="{% if article.poll.is_multivariant %}checkbox{% else %}radio{% endif %}">
                                            <!--radio?-->
                                            <label><input value="{{ i.pk }}" name="option
                                                    {% if article.poll.is_multivariant %}{{ i.pk }}{% endif %}"
                                                          type="{% if article.poll.is_multivariant %}checkbox{% else %}radio{% endif %}"> {{ i.text }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <button type="submit" onclick="clicker(1)" class="btn btn-success">ОК</button>
                                </form>
                                <div class="polls-rezult">
                                    <div>Вoпрос</div>
                                    {% for i in article.poll.result %}
                                        <div class="div-var-poll">
                                            <span class="percent">{{ i.text }} - {{ i.count|avg:article.poll.votes_total }} | {{ i.count }}</span>
                                            <div class="var-poll"
                                                 style="width:{{ i.count|avg:article.poll.votes_total }}%; height:87%"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if request.user|voted:article.poll %}
                                <style>
                                    .form-polls {
                                        display: none
                                    }

                                    .polls-rezult {
                                        display: block
                                    }
                                </style>
                                <div class="re-polls">
                                    <a onclick="clicker(0)" class="pol">Опрос</a> |
                                    <a onclick="clicker(1)" class="act rez"> Результат</a>
                                    <span>Проголосовало {{ article.poll.votes.count }} человек</span>
                                </div>
                            {% else %}
                                <div class="re-polls">
                                    <a onclick="clicker(0)" class="act pol">Опрос</a> |
                                    <a onclick="clicker(1)" class="rez"> Результат</a>
                                    <span>Проголосовало {{ article.poll.votes.count }} человек</span>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% with article.get_rating as rating %}
                            <div class="your_rate">
                                {% if request.user.is_auhtenticated %}
                                    <p>Ваша оценка: <span class="your-r">{{ request.user|get_user_rating:article }}</span></p>
                                {% endif %}
                                <p class="average_rate"> Средняя: <span class="mid-r">{{ rating.rate|floatformat }}</span>
                                    <span class="">(<span class="all-r">{{ rating.count }}</span> голос)</span></p>
                                <select id="rating_photo">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        {% endwith %}
                        <div class="container-fluid padding-off">
                            <div class="col-xs-12 col-md-7 padding-off">
                                {% if article.tags.exists %}
                                    <div class="news_tags">Теги: {% for tag in article.tags.all %}
                                        <a href="#">{{ tag.name }}</a>{% endfor %}</div>{% endif %}
                            </div>


                            <div class="col-xs-12 col-md-5 padding-off  ">
                                <div class="pluso" data-background="transparent"
                                     data-options="medium,square,line,horizontal,counter,theme=01"
                                     data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir">
                                </div>
                            </div>
                        </div>

                        <div class="central_column">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#comment" aria-controls="comment"
                                                                          role="tab" data-toggle="tab">Комментарии</a>
                                </li>
                                <li role="presentation"><a href="#text">Добавить комментарий</a></li>
                            </ul>

                            <div class="tab-content" style="margin-top:-9px;padding:20px 10px 0">
                                {% include "_comments.html" %}
                                <div role="tabpanel" class="tab-pane" id="addcomment">

                                </div>
                            </div>
                        </div>
                        {% include "create_messege.html" %}
                    </div>


                    <div class="now_chat">
                        <p class="now_chat_title">Сейчас обсуждается:</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:08</a> Максим Митрофанов: Наибольшие опасения
                            сейчас вызывает транспортная логистика</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a> Будогосский: программа работы одобрена, с
                            нашим судейством нужно что-то делать</p>
                        <p class="now_chat_text"><a href="#">Сегодня 14:07</a> Сергей Ольшанский: Слуцкому нужно больше
                            доверять Страндбергу, Траоре уже "поиграл"</p>
                    </div>


                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block additional_scripts %}

    <script src="{% static 'js/jquery.barrating.min.js' %}"></script>
    <script type="text/javascript">


        $(function () {
            var rate = '{% if request.user.is_authenticated %}{{ request.user|get_user_rating:article }}{% endif %}';
            var rating = $('#rating_photo');
            rating.find('option[value="' + rate + '"]').attr('selected', true);
            rating.barrating({
                theme: 'fontawesome-stars',
                onSelect: function (value, text, event) {
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'blogs:rating_set' %}',
                        data: {article: {{ article.pk }}, rate: value},
                        success: function (data) {
                            data = JSON.parse(data);
                            $('.mid-r').text(data.rate);
                            $('.all-r').text(data.count)
                        }
                    })
                }
            })
        });
        function clicker(x) {

            if (x == 1) {
                $(".form-polls").css("display", "none");
                $(".polls-rezult").show("300");
                $(".rez").attr("class", "act rez");
                $(".pol").removeClass("act")
            }
            if (x == 0) {
                $(".polls-rezult").css("display", "none");
                $(".form-polls").show("300");
                $(".pol").attr("class", "act pol");
                $(".rez").removeClass("act")
            }

        }

        $(document).ready(function (e) {
            $('.form-polls').submit(function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    type: 'POST',
                    url: '{% url 'polls:poll_vote' %}',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        data = JSON.parse(data);
                        $('.polls-rezult').html(data.html)
                    }
                })
            });
            $('.comment_like').click(function (e) {
                e.preventDefault();
                e = e || window.event;
                var t = e.target || event.srcElement;
                $.ajax({
                    type: 'POST',
                    url: '{% url 'forum:comment_like' %}',
                    data: {action: $(this).data('action'), comment: $(this).data('comment')},
                    success: function (data) {
                        console.log(data);
                        $(t).parent('.like_dislike').children("span").text(data)

                    }
                })
            })
        })
    </script>


    <script type="text/javascript">(function () {
        if (window.pluso)if (typeof window.pluso.start == "function") return;
        if (window.ifpluso == undefined) {
            window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript';
            s.charset = 'UTF-8';
            s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
            var h = d[g]('body')[0];
            h.appendChild(s);
        }
    })();</script>
{% endblock %}