{% extends 'account/profile_base.html' %}
{% load staticfiles %}
{% block tab_content %}
    <div class="row">
        <div class="col-xs-12"><a href="{% url 'accounts:article_create' %}" class="btn btn-success">Написать</a></div>
        <div class="col-xs-12">
            <div class="lk_arhiv">
                <ul>
                    <li><i class="fa fa-folder-open-o"></i> Архив:</li>
                    <li><a href="#">2010 год</a></li>
                    <li><a href="#">2011 год</a></li>
                    <li><a href="#">2012 год</a></li>
                    <li><a href="#">2013 год</a></li>
                    <li><a href="#">2014 год</a></li>
                    <li><a href="#">2015 год</a></li>
                    <li><a href="#">2016 год</a></li>
                </ul>
            </div>
        </div>

        {% for article in articles %}

            <div class="col-xs-12">
                <div class="options-lk">
                    <a class="blog-name-lk" href="{% url 'accounts:article_detail' pk=article.user.pk article_id=article.id %}">{{ article.title }}</a>
                    <div class="pull-right right-options">
                        {% with article as object %}
                            {% include 'blogs/edit_buttons.html' %}
                        {% endwith %}
                        <span class="test">
                            <a href="{% url 'accounts:article_detail' article.user.id article.id %}">
                                <span class="comments-lk">
                                    <img src="{% static "img/comm.png" %}" width="15px">
                                    <span>-{{ article.comments.count }}</span>
                                </span>
                            </a>
                            <span class="date-lk">
                                <img src="{% static "img/clock.png" %}" width="15px">
                                <span>- {{ article.when_created | date:"d M H:i"  }}</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="anons-lk">{{ article.announce }}</div>
            </div>
            <div class="col-xs-12">
                <div class="txt-lk">{{ article.text|safe }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="n-comment-wrap">
        <div class="n-comment">
            <div class="n-comment-user">
                <div class="n-comment-img">
                    <img src="{% static 'img/lk_ava.png' %}" alt="">
                </div>
                <div class="n-comment-name">
                    <span>pilot2k</span>
                </div>
                <div class="n-comment-time">
                    <span>15 марта в 17:30</span>
                </div>
                <div class="n-comment-btn">
                    <span class="n-comment-call" title="Ответить"><i class="fa fa-pencil"></i></span>
                </div>
            </div>
            <div class="n-comment-message">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, adipisci amet animi, aspernatur assumenda commodi cupiditate deleniti error, esse inventore itaque molestias officia quas quidem similique totam vitae voluptatibus voluptatum!</p>
            </div>
            <div class="n-comment">
                <div class="n-comment-user">
                    <div class="n-comment-img">
                        <img src="{% static 'img/lk_ava.png' %}" alt="">
                    </div>
                    <div class="n-comment-name">
                        <span>pilot2k</span>
                    </div>
                    <div class="n-comment-time">
                        <span>15 марта в 17:30</span>
                    </div>
                    <div class="n-comment-btn">
                        <span class="n-comment-call" title="Ответить"><i class="fa fa-pencil"></i></span>
                    </div>
                </div>
                <div class="n-comment-message">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, autem consequatur cum, dolorum, exercitationem magni minus nam necessitatibus nisi officia rerum sapiente sunt tenetur totam ullam unde veritatis voluptatibus! Et.</p>
                </div>
                <div class="n-comment">
                    <div class="n-comment-user">
                        <div class="n-comment-img">
                            <img src="{% static 'img/lk_ava.png' %}" alt="">
                        </div>
                        <div class="n-comment-name">
                            <span>pilot2k</span>
                        </div>
                        <div class="n-comment-time">
                            <span>15 марта в 17:30</span>
                        </div>
                        <div class="n-comment-btn">
                            <span class="n-comment-call" title="Ответить"><i class="fa fa-pencil"></i></span>
                        </div>
                    </div>
                    <div class="n-comment-message">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, autem consequatur cum, dolorum, exercitationem magni minus nam necessitatibus nisi officia rerum sapiente sunt tenetur totam ullam unde veritatis voluptatibus! Et.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="n-comment">
            <div class="n-comment-user">
                <div class="n-comment-img">
                    <img src="{% static 'img/lk_ava.png' %}" alt="">
                </div>
                <div class="n-comment-name">
                    <span>pilot2k</span>
                </div>
                <div class="n-comment-time">
                    <span>15 марта в 17:30</span>
                </div>
                <div class="n-comment-btn">
                    <span class="n-comment-call" title="Ответить"><i class="fa fa-pencil"></i></span>
                </div>
            </div>
            <div class="n-comment-message">
                <p>Здравствуйте!</p>
            </div>
        </div>
    </div>
{% endblock %}